[2019-03-01 07:35] namjaejeon opened #11 "Can't download file through internet explorer."
When I tried to download compressed kernel source from kernel.org to cifsd share, download failure happaned.  This issue seems to be related to the stream file.

[2019-03-01 07:38] namjaejeon commented on #11
Looking into it. There is read failure that exceeds maximum of file offset of stream file.

[2019-03-03 09:47] neheb opened #13 "Netlink error spam when ran with -n"
Example (modified to show error):

[code]

Code says sleep((5), which looks right.

edit: This is on OpenWrt. Big or little endian does not matter. Version of libnl is 3.4.0

[2019-03-03 10:41] sergey-senozhatsky commented on #13
I can't find this error string...

[code]

So does this mean that cifsd-worked does not sleep(5)?

-ss

[2019-03-03 10:45] sergey-senozhatsky commented on #13
Does this mean that in detached mode cifsd resolves nl family properly?

-ss

[2019-03-03 21:27] neheb commented on #13
This should be on cifsd-tools. Moving there.

[2019-03-03 21:27] #13 closed

[2019-03-03 21:36] neheb opened #14 "Cannot mount share when running under Big Endian system"
On a little endian MIPS device, no problems.

On a big endian MIPS device, mounting locally or remotely results in

[code]

The setup uses the same smb.conf file, same cifsdb file, and same filesystem (ext4).

/etc/passwd, /etc/group, and /etc/shadow have identical users.

Filesystem paths are the same (rsync'ed from one to the other).

mount.cifs version is 6.8 locally (router) and remotely (lapt

[2019-03-04 05:49] namjaejeon commented on #14
@neheb We don't have big endian device now.
So it is helpful if you send debug log message after it is enable.

1. debug log message enable.
echo 1 > /sys/module/cifs_server/parameters/cifsd_debugging

2. You can reproduce issue and share the full log message from cifsd with me!

Thanks for your work!

[2019-03-04 05:55] neheb commented on #14
dmesg output was provided above with cifs_debugging enabled.

I can provide SSH access if needed.

[2019-03-04 06:21] sergey-senozhatsky commented on #14
Seems like we are doing double le16_to_cpu() conversion.

-ss

[2019-03-04 06:23] sergey-senozhatsky commented on #14
Probably something like this will help?

---
diff --git a/smb_common.c b/smb_common.c
index 7789ff2..5ef7da4 100644
--- a/smb_common.c
+++ b/smb_common.c
@@ -260,7 +260,7 @@ int cifsd_negotiate_smb_dialect(void *buf)

                req = (struct smb2_negotiate_req *)buf;
                return cifsd_lookup_dialect_by_id(req->Dialects,
-                                       le16_to_cpu(req->Dial

[2019-03-04 13:31] Haythem-Zd opened #16 "Systematic kernel crash when trying to access security properties of a file from Windows"
Hi,

I compiled the latest cifsd/cifsd-tools from master branch with CIFSD_ACL token enabled.
And now, from a Windows 10 client, when I do:
Right click on a file --> Properties --> Security
I have a Kernel Panic with the following message:

[code]
This is a systematic behavior.

Haythem

[2019-03-04 14:10] sergey-senozhatsky commented on #16
On (03/04/19 05:31), Haythem-Zd wrote:

I'll take a look tomorrow. We recommend to keep CIFSD_ACL disabled
for the time being.

	-ss

[2019-03-05 03:15] sergey-senozhatsky commented on #16
Seeme that this is DACL, and I really don't think it ever worked before.

<pre>
int build_sec_desc(struct cifs_ntsd *pntsd, int addition_info,
        struct inode *inode)
{
        struct cifs_sid *owner_sid_ptr = NULL, *group_sid_ptr = NULL;
...
        if (addition_info & DACL_SECINFO) {
...
                rc = set_chmod_dacl(ndacl_ptr, owner_sid_ptr, group_sid_ptr,

[2019-03-05 07:08] namjaejeon commented on #11
FIXED

[2019-03-05 07:08] #11 closed

[2019-03-05 11:59] namjaejeon commented on #16
Yep, WinACL support is delayed due to other urgent issues and works.

BTW, Why do you turn on CIFSD_ACL config ? Do you surely need ACL support ?

[2019-03-05 12:34] Haythem-Zd commented on #16
I wouldn't call it urgent for me either. I was experimenting with security features and file permissions with cifsd and Windows.

[2019-03-07 07:32] namjaejeon commented on #16
@Haythem-Zd Okay:)

[2019-03-13 06:33] namjaejeon commented on #14
@neheb You can close it if you think all big endian issues are clear.

Thanks for your work and help!

[2019-03-13 06:52] #14 closed

[2019-03-27 08:40] ahubchak opened #41 "Printers support"
Hello all,

I was wandering, if there are any plans on implementing printers support, as it is mentioned in [MS-CIFS] that it is possible and SMB protocol supports printers.

https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-cifs/934c2faa-54af-4526-ac74-6a24d126724e

Looking forward to your reply.

[2019-03-28 00:07] namjaejeon commented on #41
Hi Andrew,
I don't have a plan now, So I do not even know how much work it is.
I can not afford to implement it because of many other more important works.
Thanks for your interest!

[2019-04-03 14:44] Haythem-Zd opened #50 "Files which names contain accents are not supported"
Hello,

It looks like file names that contain accents (like á, é, è, í, ó, ú, ü, ñ...) are impossible to work with in cifsd-shared foders.
When I tried to copy a file named "dummyéa" from the PC (client) to the share, I have an "Invalid parameter" error.
And, when I tried to rename an existing file to add a letter with accent, I had a "Cannot allocate memory" error. Also, I had these logs from the

[2019-04-03 15:10] sergey-senozhatsky commented on #50
On (04/03/19 07:44), Haythem-Zd wrote:

Hi,

No workaround as of this moment; so let us take a look.

	-ss

[2019-04-04 05:16] namjaejeon commented on #50
hm... I can copy dummyéa from windows(7,10) to cifsd share. Are you using the latest cifsd ?

[2019-04-04 11:33] Haythem-Zd commented on #50
I was behind by few weeks. So I checked out today the master branches  of cifsd and cifs-tools. But I still have the same issue:

First I tried to rename the file "test" to "testé", then copy the file "dummyé" from my desktop to the share.
As you can see, both commands fail due to a I/O error.
On server side, I had these messages:

Also, after getting the latest version, I lost the guest acount ac

[2019-04-05 01:21] namjaejeon commented on #50
root@linkinjeon-Samsung-DeskTop-System:/mnt# mount.cifs -o vers=3.0,username=namjae,pass=1234 /.88.103.232/homes2 /mnt/read
root@linkinjeon-Samsung-DeskTop-System:/mnt# cd /mnt/read/
root@linkinjeon-Samsung-DeskTop-System:/mnt/read# cp /home/linkinjeon/test/dummyÃ©a .
root@linkinjeon-Samsung-DeskTop-System:/mnt/read# ls -al
total 131056
drwxr-xr-x 2 root root         0 Dec 31  1969 .
drwxr-xr-x 4

[2019-04-05 01:45] namjaejeon commented on #50
Ah, there is iocharset option in cifs mount.
Could you try to add iocharset option in mount ?
e.g. mount -t cifs --verbose -o iocharset=utf8 //192.168.1.254/sda1/ /tmp/share/ -o user=haythem

[2019-04-05 15:05] Haythem-Zd commented on #50
My client PC's LANG is set to` en_US.UTF-8` too. I think it is because of the target (server side) which is an embedded device with limited resources (Custom embedded Linux + busybox). I already had issues with the UTF16 charsets in cifsd user space (It always fallback to USC-2).

If you have no further suggestions/ideas about this you can close this issue.

PS: the last revert in cifs-tools broug

[2019-04-07 02:29] namjaejeon commented on #50
Ah, Okay, I would like to check last points. Could you tell me which CONFIG_NLS_DEFAULT is set in your kernel config ? and let me know your linux kernel version.

[2019-04-10 03:25] neheb opened #58 "Big endian issues again"
I started using cifsd on my big endian router again. I seem to be having issues now though. mount.cifs seems to show a useful error this time:

[code]

cifsd kernel log:

[code]

edit: Trying with SMB1 results in:

[code]

(I have no idea why gvfs-smb uses SMB1).

[2019-04-10 04:24] namjaejeon commented on #58
Hmm, Could you please share tcpdump file for both smb2 and smb1 mount failure on big endian ?

[2019-04-10 04:28] namjaejeon commented on #58
And which branch did you use ? master or cifsd-next ?

[2019-04-10 04:31] neheb commented on #58
master.

[2019-04-10 04:39] neheb commented on #58
[cifs.gz](https://github.com/cifsd-team/cifsd/files/3062020/cifs.gz)
[cifs2.gz](https://github.com/cifsd-team/cifsd/files/3062021/cifs2.gz)

Note: the filenames are reversed. cifs = smb2.1, cifs2 = smb1.0.

smb1.0 log:

[code]

[2019-04-10 04:43] sergey-senozhatsky commented on #58
On (04/09/19 20:25), Rosen Penev wrote:
[..]

So we have session setup, then OK tree connect to IPC$ share. And then
a failed tree connect to Music netshare. Are you sure this is has to do
with BE? Hmm, the first tree connect (IPC$) should have failed as well
in this case.

Does the same smb.conf work on LE system? CIFS client can connect to
the Music netshare?

	-ss

[2019-04-10 04:48] neheb commented on #58
I double checked. [Music was missing an end bracket. After adding:

[code]

[2019-04-10 05:08] sergey-senozhatsky commented on #58
Hmm. I sort of suspect that we still have several cpu_to_le16/32 casts missing.
Tid in smb1 and TreeId smb2 probably should be cpu_to_le16 and cpu_to_le32...

I'll send out two RFC patches. Need to check that more.

-ss

[2019-04-10 05:45] namjaejeon commented on #58
@neheb smb1 mount failure is also fixed ?

[2019-04-10 05:51] namjaejeon commented on #58
@neheb in case of smb1, you may need that CIFS_INSECURE_SERVER config is enable...

[2019-04-10 07:51] sergey-senozhatsky commented on #58
On (04/09/19 21:53), Rosen Penev wrote:

Rosen, would it be possible to test two patches which I sent to the
list on your BE device?

(cifsd: convert TreeId from cpu to le32 and
 cifsd: convert Tid from cpu to le16)

Can we know what kind of "smb.conf mess up" it was? Is there anything
we can we do on cifsd-tools side to somehow WARN about it?

	-ss

[2019-04-10 08:03] neheb commented on #58
[Music] was [Music

I used

[code]

in global config. I think that was about it.

I'll test the patches when I can.

[2019-04-10 08:17] sergey-senozhatsky commented on #58
On (04/10/19 01:03), Rosen Penev wrote:

Hmm. I see.

Thanks in advance!

	-ss

[2019-04-10 23:28] #41 closed

[2019-04-10 23:59] neheb commented on #58
Tested after patch. Still does not work. mount.cifs does not throw an error but I see nothing in the directory. df -h confirms that it is not mounted:

mount.cifs //127.0.0.1/Music music -o username=mangix,vers=2.1
[code]

[2019-04-11 00:03] neheb commented on #58
Fascinating... trying out the command a second time it errors that the resource is busy:

[code]

df -h still does not show it as mounted.

[2019-04-11 08:51] sergey-senozhatsky commented on #58
Rosen, thanks a lok.

I sent a patch "[PATCH] cifsd: keep header flags in le". Could you please test it?

-ss

[2019-04-11 18:12] neheb commented on #58
Tested. Similar behavior:

[code]

One thing I've noticed is that it's mounted in a weird way. it does not show up in df -h but unmounting the directory works. Actually if I don't unmount and try to remount I get a resource busy error.

[2019-04-11 23:57] namjaejeon commented on #58
@neheb Hm.. Could you please provide tcpdump to us ?

[2019-04-12 00:03] neheb commented on #58
[cifs.gz](https://github.com/cifsd-team/cifsd/files/3071077/cifs.gz)

[2019-04-12 02:34] namjaejeon commented on #58
@neheb Does it work fine with master branch ? I want to know whether problem is coming from only next branch.

[2019-04-12 02:54] neheb commented on #58
No. I didn't test @sergey-senozhatsky 's patches on master as they didn't apply cleanly.

[2019-04-12 02:59] namjaejeon commented on #58
When I checked your tcpdump file, I did not find any clue yet. Is there any message from cifs client ?

[2019-04-12 02:59] sergey-senozhatsky commented on #58
On (04/11/19 19:54), Rosen Penev wrote:

Sorry, to clarify, if you switch to master (just current master, no extra
patches) you still cannot mount Music share properly?

	-ss

[2019-04-12 03:03] neheb commented on #58
I will retest. I doubt it though.

[2019-04-12 22:29] neheb commented on #58
It does not work. Error -5 (I/O error).

[2019-04-12 23:42] neheb commented on #58
The log is identical to the initial one

[code]

[2019-04-12 23:53] neheb commented on #58
Latest next on the other hand is totally broken. mount.cifs returns
Unable to find suitable address.

And cifsd dies. Maybe needs a cifsd-tools update...

[2019-04-13 00:07] neheb commented on #58
Mounting remotely (no 127.0.0.1) generates an even bigger log:

[code]

[2019-04-15 05:28] sergey-senozhatsky commented on #58
Thanks.

I sent two patches "cifsd: convert NextEntryOffset to le32" for smb1 and smb2. Do these make any
difference on your side?

-ss

[2019-04-15 05:44] namjaejeon commented on #58
Pushed them to cifsd-next branch. @neheb you can check it with cifsd-next.

[2019-04-15 05:51] sergey-senozhatsky commented on #58
BTW, current cifsd-next requires most recent cifsd-tools.

-ss

[2019-04-15 14:30] neheb commented on #58
Halfway there. Shares now get mounted properly. Oddly enough, local to the router, df -h shows the mount whereas my laptop does not list it under df -h.

None of the files however are accessible.

[code]

[code]

[2019-04-15 23:40] namjaejeon commented on #58
@neheb I pushed the patch to fix "Invalid create options : 0x40". Could you please check it with cifsd-next branch ? Thanks for your works!

[2019-04-16 00:02] neheb commented on #58
From a quick test, that fixed it. Files are accessible normally now.

I still have the issue where df -h does not show up on my laptop but does show up locally.

There's also the issue of gvfs not being able to mount (possible with liittle endian). Error is:

[code]

I have no idea why smb1 functions are being used. Shouldn't they be compiled out?

[2019-04-16 00:33] namjaejeon commented on #58
Could you share cifsd debugging log when you are doing df -h ?

Have you turn CONFIG_CIFS_INSECURE_SERVER on ? As you know, SMB1 is defaultly disable in cifsd.

[2019-04-16 01:04] neheb commented on #58
df -h:

[code]

smb1 should not be compiled in. CONFIG_CIFS_INSECURE_SERVER is not passed. Nevertheless, strings shows this:

[code]

Well, even if enabled, it should work instead of failing. The malformed request sounds like another endian issue.

[2019-04-16 01:45] namjaejeon commented on #58
I pushed a patch to fix it. could you try it with cifsd-next again ?

[2019-04-16 01:55] namjaejeon commented on #58
You're right. I fixed it and pushed to cifsd-next. Let me know if it is improved.

[2019-04-16 02:22] neheb commented on #58
Interesting...

So locally mounting with vers=1.0 gives this error:

[code]

The mount error is: mount error(147): Host is down

Remotely through gvfs:

[code]

The error given is:

Unable to Mount folder
Could not connect to the server for this folder

Failed to mount Windows share: Connection timed out

Compared to the previous breakage, it times out very fast but still does not work (does in li

[2019-04-16 02:26] neheb commented on #58
Forgot to mention: The df -h problem is fixed. I guess it wasn't present on MIPS as it's 32-bit.

[2019-04-16 02:56] namjaejeon commented on #58
@neheb Could you provide tcpdump ? I can not find anything in debug log...

[2019-04-16 03:11] neheb commented on #58
[cifs.gz](https://github.com/cifsd-team/cifsd/files/3082879/cifs.gz)

[2019-04-16 04:53] namjaejeon commented on #58
Thanks! I added some patch to next. Let me know if your issue is fixed.

[2019-04-16 05:10] neheb commented on #58
Looks like that did it. gvfs mounted properly (no more connection error). No more weird dialects being tried as well. Accessing files work.

Odd thing is, I'm not seeing the unmount option in gvfs. I will test a similar setup with little endian MIPS tomorrow to see if it's missing or if Ubuntu changed some setting.

The vers=1.0 error is still present. Last I tried it on little endian MIPS cifsd p

[2019-04-16 05:22] namjaejeon commented on #58
Okay, Let me know if you find any issue.

If you show me how print comes out differently, I will check it.
Thanks!

[2019-04-16 18:23] neheb commented on #58
Just tested. It prints the same on both endian. No change in behavior.

I'm having a really strange issue on Windows, but I don't think it's related to endianness since I'm getting the same behavior on little too. I'll open up a separate issue for that.

[2019-04-16 21:13] neheb commented on #58
gvfs behavior is also identical. closing.

[2019-04-16 21:13] #58 closed

[2019-04-26 23:20] neheb opened #79 "foobar2000 not working properly"
This is the error from foobar2000's console

[code]

I have no idea how this is implemented.

I asked on IRC how to debug foobar2000. I ended up getting this link to a Samba patch:
https://forum.synology.com/enu/viewtopic.php?f=111&t=27527#p108836

Not sure if applicable.

[2019-04-26 23:25] namjaejeon commented on #79
Could you please provide both cifsd debug message and tcpdump ?

[2019-04-26 23:33] namjaejeon commented on #79
It's probably because smb2 notify does not support it yet. I want to check it with dump information.

[2019-04-26 23:37] neheb commented on #79
I checked the cifsd code, I think it implements what the patch does.

cifsd debug is kind of difficult as it slows everything down to a crawl before foobar2000 has a chance to error. I'll try to get tcpdump when I can.

My other theory was CONFIG_INOTIFY_USER missing but it's there. CONFIG_FANOTIFY however is not. I'll try that next.

[2019-04-26 23:49] neheb commented on #79
Here's a log (quite big)
[cifs.gz](https://github.com/cifsd-team/cifsd/files/3123272/cifs.gz)

[2019-04-27 00:41] namjaejeon commented on #79
Ah, It doesn't work with samba ? If no, You can check it after change notify is disable with samba.

change notify (G)
This parameter specifies whether Samba should reply to a client's file change notify requests.
You should never need to change this parameter
Default: change notify = yes

If same problem happen with samba after change notify = no, It is smb2 notify support issue.
Need to check do

[2019-04-27 00:51] neheb commented on #79
Here's a partial log:
[cif.gz](https://github.com/cifsd-team/cifsd/files/3123356/cif.gz)

Samba is fine with relatively default settings. So that might be it.

[2019-04-27 01:33] namjaejeon commented on #79
Okay, I will check this issue in office.

[2019-04-29 00:17] namjaejeon commented on #79
I installed foobar v1.4.3(https://www.foobar2000.org/download) in cifsd share and can see it work fine.  Am I missing something to reproduce issue ?

[2019-04-29 00:22] neheb commented on #79
Add the share under Preferences > Media Library

Under Status. Mine shows Error!

The Console (View > Console) shows "Folder watching failure: The system cannot find the path specified.  "

[2019-04-29 05:05] namjaejeon commented on #79
I fixed this issue and pushed the patch to the master branch. You can see "idle" status instead of "Error". It is same behavior with samba configured change notify = no in smb.conf. cifsd should support smb2 notify to be shown with "monitoring" status from foobar2000. We are planning to support it in this year.

[2019-04-29 06:43] neheb commented on #79
Yep. Media Library is being populated again, albeit somewhat slowly. Though that's probably this powerline networking connection running at 5MB/s...

Closing.

[2019-04-29 06:43] #79 closed

[2019-05-21 11:55] namjaejeon commented on #16
We removed WIN ACL config and codes in cifsd. It was a really stupid and unnecessary dead codes. We are going to return back WIN ACL codes when it is perfectly implemented to avoid user's confusion and issues.
For now, I close your issue, You can raise new issue if you have found anything with the latest codes.

[2019-05-21 11:55] #16 closed

[2019-05-27 09:02] Haythem-Zd opened #97 "Delay when access shares by a Windows 7 client"
Hello,

It has been notices that it can take more than a minute to open shares from a Windows 7 client machine. Such delay does not exist with Windows 10.
Wireshark traces shows that Win7 client tries to request a **wkssvc rpc** and get stuck there for a while, then it requests a **srvsvc rpc** and everything goes fine.
Is this related to SMB versions used by different Windows clients?

Thanks,
Ha

[2019-05-27 09:16] sergey-senozhatsky commented on #97
On (05/27/19 02:02), Haythem-Zd wrote:
[..]

Hmm. We don't support wkssvc RPC, only srvsvc.

	-ss

[2019-05-27 09:27] sergey-senozhatsky commented on #97
A variable or a constant dealy?

-ss

[2019-05-27 10:20] Haythem-Zd commented on #97
It is reported to be around 1 minutes

[2019-05-27 12:21] namjaejeon commented on #97
@sergey-senozhatsky As I remember, cifd-tools v1 supported wkssvc's pipe before, and it is removed when upgraded to v2. can we take wkssvc codes from v1 ?

[2019-05-28 00:42] sergey-senozhatsky commented on #97
On (05/27/19 05:21), Namjae Jeon wrote:

No, we cannot.

Can you reproduce them delays with your Win7 setup? Because
I don't see any delays, and never had. Windows 7 is my only
Windows test machine. Had there been a minute long delays
I would have noticed.

	-ss

[2019-05-28 07:22] sergey-senozhatsky commented on #97
@Haythem-Zd

Any chance I can take a look at smb.conf and/or wireshark trace file?

-ss

[2019-05-28 07:27] Haythem-Zd commented on #97
Yeah sure.

The smb.conf looks like this:
[code]
Wireshark trace file:

[smb_w7.txt](https://github.com/cifsd-team/cifsd/files/3226085/smb_w7.txt)
*Github does not recognize .pcapng file extension so I renamed it to txt file

[2019-05-28 07:44] sergey-senozhatsky commented on #97
Does anything chage if add you the following code to create_smb2_pipe()?

---

diff --git a/smb2pdu.c b/smb2pdu.c
index 4dfc6c7..dbf847a 100644
--- a/smb2pdu.c
+++ b/smb2pdu.c
@@ -1695,6 +1695,12 @@ static noinline int create_smb2_pipe(struct cifsd_work *work)
                goto out;
        }

+       if (!strcmp(name, "\\wkssvc") || !strcmp(name, "wkssvc")) {
+               err = -EINVAL;
+

[2019-05-28 08:13] sergey-senozhatsky commented on #97
FYI,

I'm working on a minimal wkssvc support. Will take me a day or two.

-ss

[2019-05-28 09:22] Haythem-Zd commented on #97
@sergey-senozhatsky
No change in connection time after applying your patch. But there is no more NOT_SUPPORTED answer by the cifsd server.

[2019-05-28 09:40] sergey-senozhatsky commented on #97
@Haythem-Zd
OK, scratch that kcifsd change.

I have the very naive (initial) wkssvc netwkstainfo100 implementation support for cifsd-tools. I just sent a patch [PATCH] cifsd-tools: wkssvc_NetWkstaInfo100 initial version

Can you give it a try?
A naive solution at this point, will improve it later on.

-ss

[2019-05-28 15:25] Haythem-Zd commented on #97
@sergey-senozhatsky
Thank you for your patch. It seems to be working as it reduced access time considerably and now we have the same behavior as Win10.
I will close this issue

[2019-05-28 15:25] #97 closed

[2019-05-29 01:16] sergey-senozhatsky commented on #97
On (05/28/19 08:25), Haythem-Zd wrote:

OK, thanks!
There will be more changes/improvements in this department.

	-ss

[2019-06-03 12:58] Haythem-Zd opened #100 "Impossible to access shared USB devices after remount"
Hello,

I have an issue with cifsd server in a frequent use case: sharing a USB storage device mounted on the server machine.
My setup: The mount and the smb.conf update and the cifsd process restart are automated whenever a USB storage device is connected.

The way to reproduce this:

Connect USB => smb.conf updated and cifsd daemon is restarted
My smb.conf :
[code]

df command output:

Up to thi

[2019-06-04 07:49] namjaejeon commented on #100
I have two questions.
 1. no problem when using samba ?
 2. Can you mannually umount /mnt/sda1 in problem situation(automount mounted /mnt/sdb1) ?

[2019-06-04 08:15] sergey-senozhatsky commented on #100
Hi,

On (06/03/19 05:58), Haythem-Zd wrote:

Hmm. kcifsd has a net-share configs cache; but we drop net-share config
from the cache once it has no references. Do you properly umount() USB
stick before you remount it?

Specifically we are interested in tree_disconnect request:

	umount /share
	// tree disconnect		- this should remove net-share from the cache
	// logoff
	detach USB
	attach USB
	upda

[2019-06-04 08:36] Haythem-Zd commented on #100
@namjaejeon
1. No, we do not have this issue with Samba. I just tested it.
2. I manually umounted /dev/sdb1 then remounted it with /dev/sda1 as mount point. And it is working again!

@sergey-senozhatsky
We use the the mount/umount functions provided by the <sys/mount.h> API and it seems to be working well.

I should mention that the USB key I am testing with currently is NTFS formatted and I use t

[2019-06-04 08:39] Haythem-Zd commented on #100
Oh.. one more thing: right after umount(), the mount point directory (/mnt/sdxx) is deleted

[2019-06-05 09:10] sergey-senozhatsky commented on #100
On (06/04/19 01:36), Haythem-Zd wrote:

I mean client mount/umount (e.g. mount -t cifs). IOW, before you
detach the USB stick, do all SMB client perform session logoff?

	-ss

[2019-06-05 09:24] Haythem-Zd commented on #100
No, it is very possible that the USB is disconnected from the sever machine even if there is some clients connected to some share(s).

Does that mean if no tree disconnect or logoff is received, the cache will remain? In that case, I believe this is the cause as we can not guarantee clients disconnect before umounting the USB

[2019-06-05 10:09] sergey-senozhatsky commented on #100
On (06/05/19 02:24), Haythem-Zd wrote:

Hmm...
I believe there are bigger problems here. We can't kill all "abandoned"
sessions. They may hang in there with open files, which will prevent us
from destroying them.

	-ss

[2019-06-05 11:22] Haythem-Zd commented on #100
is there a way to  "reset" a share in the cache from the user-space conf if the associated path is no longer accessible?

[2019-06-05 11:41] namjaejeon commented on #100
Have you ever used deadtime parameter in smb.conf ? Let me know your issue is improved by using it.

[2019-06-05 13:56] sergey-senozhatsky commented on #100
On (06/05/19 11:41), Namjae Jeon wrote:

cifsd_tcp_conn_alive() does

         if (atomic_read(&conn->stats.open_files_count) > 0)
                 return true;

which is always `true' for abandoned TCP connections. If client has
died, then it won't close its files and, thus, we will not terminate
the connection.

	-ss

[2019-06-05 14:01] sergey-senozhatsky commented on #100
On (06/05/19 04:22), Haythem-Zd wrote:

No, not yet. I'm not really sure if we need it (and how to handle
it). The real problem is that we keep dead TCP connections and sessions
around. Once we fix it net share cache invalidation should get back to
"sane".

	-ss

[2019-06-05 15:53] sergey-senozhatsky commented on #100
On (06/05/19 23:59), Sergey Senozhatsky wrote:

Well, that's not exactly true. Dead TCP connections is one scenario;
when net-share config is getting updated under us it's another thing.

Hot-reconfiguration is a difficult task and we don't handle it yet.

Any change you can change your setup to use hard/sym links instead
of devices names? E>g. /mnt/net-share where net-share either points
to sda1

[2019-06-05 21:39] neheb opened #102 "Unknown virtual interface"
On OpenWrt, I'm getting

[code]

eth0.1 is a virtual interface. Basically, eth0 (the actual interface), connects to a switch and thus exposes the 2 ports on it (5 on other devices).

eth0.1 is created and managed by swconfig, which is an OpenWrt solution for managing the switch. There's work in progress to replace it with DSA for the various switches as that's the upstream solution. Actually it sh

[2019-06-06 06:33] namjaejeon commented on #102
Can you share ifconfig -a result on your device ?

[2019-06-06 07:52] neheb commented on #102
[code]

[2019-06-07 09:24] Haythem-Zd commented on #100
I do not think that it solve the issue as we can have multiple USB devices / partitions shared at the same time.
We are now working on a solution that add a call from cifsd daemon to the kcifsd to close a share. The idea is inspired from Samba:
`#smbcontrol smbd close-share <ShareName>`
and do this right before umount.

[2019-06-07 09:48] sergey-senozhatsky commented on #100
On (06/07/19 02:24), Haythem-Zd wrote:

I looked at it, for a bit. And dunno.
Share configs are shared between sessions/tcp connections. Killing
a net share for one sessions will kill it for all others, in a racy
manner. Adding a spinlock to struct net-share to protect ->path access
is just too much of an overkill.

	-ss

[2019-06-07 11:44] Neustradamus opened #103 "move cifsd-team/cifsd to cifsd-team/cifsd-old and move namjaejeon/cifsd to cifsd-team/cifsd"
First, it is possible to move cifsd-team/cifsd to cifsd-team/cifsd-archives (or cifsd-team/cifsd-old)
and move namjaejeon/cifsd to cifsd-team/cifsd

It will be better, I do not understand the fork ;)

https://help.github.com/articles/about-repository-transfers/

Linked to https://github.com/namjaejeon/cifsd/issues/236

[2019-06-10 07:17] dengqf6 opened #104 "Error on Windows 10"
Windows 10 18362.145, Linux kernel 4.19.49
Using the example config in openwrt/packages#9155
LAN IP is `10.0.0.1/24`
Try accessing `\\10.0.0.1`, Windows gives `0x80070043` (The network name cannot be found) error. No packet to TCP port 445 is seen
Try accessing `\\10.0.0.1\testshare`, Windows gives `0x80004005` (Unspecified error). This time some packets are captured:
[code]

[2019-06-10 07:30] sergey-senozhatsky commented on #102
@neheb
Can you post your smb.conf?

-ss

[2019-06-10 07:46] namjaejeon commented on #104
Hi,

Could you please share wireshark dump on windows client ?
It will be helpful to find root-cause.

Thanks!

[2019-06-11 01:36] namjaejeon commented on #100
@Haythem-Zd This issue is also coming on samba. I tested it with windows client. when connecting share through client, client send smb2_open abount usb mount point. So usb mount point is opened by smb server. and if we disconnect network drive, windows client send smb2 close about usb mount point, and smb server will close it but if you connect smb server using file explorer and close it, windows

[2019-06-11 06:28] sergey-senozhatsky commented on #102
So I sent a patch - "cifsd: use faster IF lookup function" - which maybe will make it a bit better...

[code]
ifconfig shows

[code]

Now add bridge to smb.conf and start ./cifsd/cifsd -n
[code]

Runs OK, no "unknown interface" error message.

If I `down` the link `$ sudo ip link set enp4s0.111 down` and start ./cifsd/cifsd -n, then
I see
[code]

Can you test the patch on your setup?

-ss

[2019-06-11 07:00] Haythem-Zd commented on #100
@namjaejeon
You are right. I checked our storage service management scripts ant it turns out that we call

 before umounting. That's why I did not reproduce the issue when I switched to Samba.

[2019-06-11 07:20] namjaejeon commented on #100
great!, can you contribute the patch on mailing list if you fix it ?
Thanks!

[2019-06-12 04:58] neheb commented on #102
That patch fixes it.

[2019-06-12 05:07] sergey-senozhatsky commented on #102
@neheb Thanks!

Closing this one then.

-ss

[2019-06-12 05:07] #102 closed

[2019-06-13 05:06] sergey-senozhatsky commented on #103
Hi @Neustradamus

We'll take a look sometime in the future. Thanks!

-ss

[2019-06-18 23:17] #50 closed

[2019-06-20 09:34] dengqf6 opened #117 "Error on MiXplorer with SMB2 plugin"

[2019-06-23 01:52] namjaejeon commented on #104
Could you please help us fix this issue ? We need tcpdum or wireshark to analyse this issue ?

[2019-06-24 05:23] gibeomii-kim commented on #117
hello,
Can you tell which version of the app you used?
As I checked, the free version of Mixplorer, but I think it only supports SMB1.
Can you tell me what you mean by "SMB2 plugin"?

[2019-06-25 02:12] gibeomii-kim commented on #117
I checked, it doesn't work in Windows as well as cifsd.
I think it is not a problem of cifsd but an issue of app.

[2019-06-28 02:32] namjaejeon commented on #117
Hm... No response, So close.

[2019-06-28 02:32] #117 closed

[2019-06-28 02:32] namjaejeon commented on #104
No response, So close.

[2019-06-28 02:35] namjaejeon commented on #100
@Haythem-Zd ping ? Could you answer ?

[2019-06-28 17:39] dengqf6 commented on #104
Reinstalled Windows 10 and cifsd latest version, now it works

[2019-06-29 00:53] namjaejeon commented on #104
Oh!,,, okay, Thanks for your testing!
Could you confirm our reply of mixplorer issue ?

[2019-07-08 01:25] neheb opened #138 "Weird Nextcloud issue"
[code]

That's not a directory.

Versions:
cifsd-tools - 2019-06-17-81e4ff30-1
kmod-fs-cifsd - 4.14.130+2019-06-24-aaa7844e-1

edit: I should note. Behavior is that the share gets frozen for maybe a minute if not longer, after which it throws the error and continues working. This is a little endian device.

[2019-07-08 01:54] namjaejeon commented on #138
It is correct that cifsd return ACCESS DENIED error response if file is not directory. and it is defined in smb specification. Same symptom happen with samba ? or no issue with samba ?

[2019-07-08 19:57] neheb commented on #138
Have not tested with Samba.

[2019-07-09 00:03] namjaejeon commented on #138
Okay, Want to know same issue doesn't happen with windows or samba. because want to compare packets. If same issue happen with windows and samba, I think that it will be Nextcloud issue.

[2019-07-11 01:31] Neustradamus commented on #103
@cifsd-team, @sergey-senozhatsky: Any news?

[2019-07-12 19:46] Andy2244 opened #149 "new write premission error?"
Seems something in the latest git broke writes? We can read fine but any write attempt fails, without any extra error in the logs. I use the exact same config that worked before?

[code]

[2019-07-13 04:37] namjaejeon commented on #149
Ah.. I have checked writing file success(write word in txt file) with both clients(windows 10 and kernel cifs client). could you please explain more ? e.g. which kinds of file do you write or create ? or window or linux client ?...

[2019-07-13 04:47] namjaejeon commented on #149
reproduced it. checking it now.

[2019-07-13 04:50] namjaejeon commented on #149
Looks you are missing writeable = yes or read only = no. Could you please check again after adding writeable = yes ?

[2019-07-13 04:51] namjaejeon commented on #149
[sharetest]
	path = /mnt/sda
	force user = root
	force group = root
	create mask = 0666
	directory mask = 0777
	guest ok = yes
        writeable = yes

[2019-07-13 05:25] leonghui commented on #149
Adding `writeable = yes` worked.

[2019-07-13 07:06] namjaejeon commented on #149
@leonghui Okay, Thanks!

[2019-07-13 12:03] Andy2244 commented on #149
ok my bad, actually had `option read_only 'no' ` in the example config, seems my late night copy&paste skills failed me.

Sorry should have found this mistake myself.

[2019-07-13 12:03] #149 closed

[2019-07-14 08:27] namjaejeon opened #150 "cifsd & kcifsd version check"
cifsd and kcifsd should check each other's version. If kcifsd version is low and not mismatch with cifsd, cifsd should not be running. Because if there is some change for both kcifsd and cifsd, e.g. netlink related. cifsd may be crashed.
So the following are needed.
 1. increase minor version whenever release master branch.
 2. define kcifsd and cifsd version.
 3. add netlink request/response for

[2019-07-15 02:25] sergey-senozhatsky commented on #150
On (07/14/19 01:27), Namjae Jeon wrote:

No. We care only about those cases when cifsd-tools and kcifsd netlink
structures change their layout. No other internal change in cifsd-tools
or kcifsd can or should crash anything.

And in order to handle IPC layout changes we already have CIFSD_GENL_VERSION
in cifsd_server.h and in ipc code

	m->genlhdr->version != CIFSD_GENL_VERSION

	-ss

[2019-07-15 02:37] sergey-senozhatsky commented on #150
So this is what happens when kcifsd and cifsd-tool were compiled against different
cifsd_server.h verions.

dmesg

[ 2114.977208] lt-cifsd/0 kcifsd: handle_startup_event:324: IPC protocol version mismatch: 1
[ 2115.981198] lt-cifsd/2 kcifsd: handle_startup_event:324: IPC protocol version mismatch: 1
[ 2116.985316] lt-cifsd/5 kcifsd: handle_startup_event:324: IPC protocol version mismatch: 1

cifsd

[2019-07-15 02:55] namjaejeon commented on #150
You only have known it, user don't know why this error happened. and no need to progress with this error when version is not mismatch. This is not user friendly. and Did you close this issue without any concent of REPORTER ?

[2019-07-15 03:10] sergey-senozhatsky commented on #150
The error message says "Version mismatch" - how is that not user friendly?

This "error" should never happen, really. The only reason we have CIFSD_GENL_VERSION is because
we have two cifsd_server.h files at the moment, but we always must have just one - once kcifsd is in the
mainline linux kernel, cifsd_server.h copy which we keep in cifsd-tools will be removed, and the one and
only cifsd_server.

[2019-07-15 04:35] namjaejeon commented on #150
Ah, User don't know what they do. update kcifs ? or update cifsd ? they don't know which daemon should be updated. We are always building both packages(kicfsd, cifsd), but user could build only one.

normal users, they can be not developer or newbie. You are thinking cifsd should be used by senior developer?

 compile it - who can see the "version mismatch" error during testing. And they are capab

[2019-07-15 05:45] sergey-senozhatsky commented on #150
This is all handled by the distro. When you do apt-get upgrade/update you update all the packages
which it tells you to update, right?

Users use installed programs. Programs are compiled and tested by distro people.

There are no such "users"; and I would be pretty surprised to find distros which will let
anyone install a new kernel package without updating user-space apps which depend
on particu

[2019-07-15 08:39] Andy2244 opened #152 "hangs on explorer on share right click"
Just noticed that Win10 explorer will hang again, if i try to right-click on a share to pin it to the quicklist.
The share works if i just left click into it, i can see the contents.

[code]

Steps to reproduce:
1: In explorer type the hostname, for me `\\router`
2: The share should appear, now if i try right click the share explorer process hangs and needs to-be killed/restarted.

PS: I see no sy

[2019-07-15 09:48] Andy2244 commented on #152
ok if i add `writeable = yes` than it does not hang?
In read-only mode should be able to right-click without the explorer to hang.

[2019-07-15 13:02] namjaejeon commented on #150
which it tells you to update, right?

cifsd package doesn't kcifsd mod, it contain cifsd and cifsadmin. So there is a possiblity to make mismatch.

cifsd is kernel module. So user can install kernel package and cifsd-tools package. and we don't think that user use only package, user can manually build kcifsd and cifsd-tools source. We are currently guiding how to build in our github.

Okay, How wi

[2019-07-15 13:26] namjaejeon commented on #152
Hm.. I could not reproduce it with writeable or without writeable on my setup. (cifsd in fedora & windows 10)
 I will try more tommorow.

[2019-07-15 15:40] Andy2244 opened #153 "SO_REUSEADDR in cifsd_tcp_reuseaddr not working?"
I get this error on a restart sequence, if i have active smb connections (explorer).
[code]
That the module can't be unloaded is expected, since we use `ipc timeout = 8` and the restart sequence does not wait 8s.

The problem seems that the listening connection is not closed correctly, since we still have this connection lingering around, even after killing all cifsd processes and rmmod cifsd.
[co

[2019-07-16 00:33] namjaejeon commented on #153
Yup, reproduced it. checking it.
Thanks for your reporting!

[2019-07-16 00:53] namjaejeon commented on #153
We can simply reproduce it.
insmod cifsd.ko
./cifsd

killall cifsd
./cifsd
kcifsd: create_socket:410: Failed to bind socket: -98
....
And it doesn't recover even thought rmmod cifsd and restart cifsd again.

[2019-07-16 08:30] namjaejeon commented on #153
I pushed the patches to master. please check it is improved.
Thanks!

[2019-07-16 08:31] namjaejeon commented on #152
I can not reproduce this issue.. Could you please reproduce with the latest master branch ?
Thanks!

[2019-07-16 21:02] neheb opened #156 "Not compiling with kernel 4.9"
https://downloads.openwrt.org/snapshots/faillogs/armeb_xscale/packages/cifsd/compile.txt

[2019-07-17 00:29] namjaejeon commented on #156
FIXED. please check the latest cifsd master.
Thanks for your report!!

[2019-07-17 20:10] neheb commented on #153
Doesn't seem to have worked:

[code]

[2019-07-17 23:50] namjaejeon commented on #153
Oh.. It seems another issue. because we are disscussing "cifsd restart" working.

I have a question to reproduce it on my side.

What sequence does it work ?
e.g.
killall cifsd
rmmod cifsd ?

[2019-07-18 00:19] neheb commented on #153
The stop and start is found here: https://github.com/openwrt/packages/blob/master/net/cifsd-tools/files/cifsd.init#L141

It does an rmmod before modprobe.

I tested this with /etc/init.d/cifsd stop and stat after ~30 seconds. ps shows this:

[code]

The module is still there. Issuing rmmod before launching it again does nothing. I also see this:

[code]

since the processes are dead, I have no ide

[2019-07-18 01:22] namjaejeon commented on #156
Oops, Sorry, I push the patch to master from cifsd-next now. please check it now.

[2019-07-18 01:23] namjaejeon commented on #153
I made a mistake in previous patch. I fix it and push it to master now. please check it!
Thanks for your report!

[2019-07-18 03:14] neheb commented on #153
Fixed. As for @Andy2244 's issue, I can't replicate on Linux (Windows is not booting anymore for some reason).

[2019-07-18 03:39] neheb commented on #156
Fixed

[2019-07-18 03:39] #156 closed

[2019-07-21 12:28] Andy2244 commented on #153
ok tested and restart + zombie connection is fixed

[2019-07-21 12:30] Andy2244 commented on #152
Still happening for me with latest build from master, i can access/enter the share, but right click on the share icon hangs the explorer and i need to kill the process and manually restart explorer.

[2019-07-21 13:00] Andy2244 commented on #153
ok just had a case where i stopped the service and than directly started the samba service, which resulted in a failed startup of samba, because it could not open its listing connection on localhost 445.

So we really need a clean and direct way to shutdown/unload cifsd completely, without those `ipc timeout` delays.

Can you add some kernel module or tools options that forces a full close + unloa

[2019-07-21 13:11] Andy2244 commented on #153
Also managed to get:
[code]
I think i did a rmmod, while the tools where still running, than killed the tools and ended up with a zombie connection again.

[2019-07-22 01:47] sergey-senozhatsky commented on #153
On (07/21/19 06:00), Andy Walsh wrote:

Hmm, OK. That's a bit strange reason to add that functionality, to be
honest, but let's re-open the discussion.

Hmm, sysfs knob or module param, which would require root?

	-ss

[2019-07-22 01:50] sergey-senozhatsky commented on #152
On (07/21/19 05:30), Andy Walsh wrote:

Is there anything unusual about your setup? Locale, smb.conf, etc.
Are you still able to simultaneously enum-shares from a linux client?
Hate to ask you, but maybe wireshark dump will shed some light on this.

	-ss

[2019-07-22 07:43] Andy2244 commented on #153
Keep in mind we already use a reduced `ipc timeout`, so it would take much longer to actually stop cifsd service with default settings and being able to start any samba version or fully restart cifsd. I think there should be a way to full stop/unload any service without lengthy extra timeouts.

Sure, you need root anyway to startup the service and load the module.

[2019-07-23 08:23] namjaejeon commented on #153
Yep, understood. Let me check it.
Thanks for your opinion.

[2019-07-23 12:11] namjaejeon commented on #152
@And2244 Could you provide wireshark dump ? It is helpful to resolve this issue. Indeed, I and sergey can not reproduce it on our targets.

[2019-07-23 12:13] Andy2244 commented on #152
Sure will try to grab some in the next days, if i have time.

[2019-07-29 12:42] Andy2244 opened #174 "slow speeds and "smb2_ioctl" ?"
Just forwarding this, some users report slow speeds on hardware that should easily do much more.
_(Aka 14MB/s on hardware that can do 200MB/s)_
They see this in logs? So could this affect speeds and if so what can we do about it?

[code]

[2019-07-29 12:54] sergey-senozhatsky commented on #174
On (07/29/19 05:42), Andy Walsh wrote:

Hmm. Do they have common H/W?

If we change the default value

---
diff --git a/smb2pdu.c b/smb2pdu.c
index b7b362e..1a0ad20 100644
--- a/smb2pdu.c
+++ b/smb2pdu.c
@@ -6297,7 +6297,7 @@ int smb2_ioctl(struct cifsd_work *work)
 			else {
 				cifsd_err("%s speed is unknown, defaulting to 100\n",
 					netdev->name);
-				speed = 1000;
+				speed = SPEED_1000;

[2019-07-29 12:57] Andy2244 commented on #174
From what i can guess via shell name its on a ZyXEL - NSA310

[2019-07-29 13:07] kofec commented on #174
Hi,
I reported on Openwrt forum. It is possible to change to  "1Gb/sec" by default ? Can I ask why do you detect interface speed (you can optimized utilization base on it )?

[2019-07-29 13:09] sergey-senozhatsky commented on #174
On (07/29/19 05:57), Andy Walsh wrote:

Uhh... The error message is misleading, it says 100:

	cifsd_err("%s speed is unknown, defaulting to 100\n")

but kcifsd actually sets speed to 1000

	speed = 1000;

	-ss

[2019-07-29 23:47] namjaejeon commented on #174
I would like to know whether it is related with SMB3 network inteface info ioctl first.

Could you please check speed after adding max protocol parameter in smb.conf ?
It limits connection to above SMB3.X.

Thanks!

[2019-07-30 05:38] sergey-senozhatsky commented on #174
Yeah, that's what we do. The error message is inaccurate.

-ss

[2019-07-30 07:41] kofec opened #176 "Is SMB1 supported ?"
I tried to mount the resource via:

`sudo mount -t cifs //192.168.1.4/dysk3TB /tmp/NSA310 -o vers=1.0,user=root`

and on server side received:

[code]

[2019-07-30 07:42] kofec commented on #174
@namjaejeon
I don't see this sentence "kern.err kernel: .... kcifsd: smb2_ioct ..." when change my config to:

[code]
I open new issue not to mix with this one for "server max protocol = SMB1"
https://github.com/cifsd-team/cifsd/issues/176

[2019-07-30 07:56] sergey-senozhatsky commented on #176
On (07/30/19 00:41), kofec wrote:

Could you try vers=2.0? You probably don't have SMB1 enabled (which is
good).

	-ss

[2019-07-30 08:04] kofec commented on #176
When I change to "2.0"
o client side I have:
[code]
On server side:
`Tue Jul 30 10:01:27 2019 kern.err kernel: [132850.050972] kcifsd: smb2_handle_negotiate:927: Server dialect :0xffff not supported`

When I change to "2.1"
All is fine

[2019-07-30 08:11] sergey-senozhatsky commented on #176
On (07/30/19 01:04), kofec wrote:

Sorry, yes, that makes sense. Insecure protocols are smb1 and smb2.0

Do you see any I/O speed changes after you switch to smb2.1?

	-ss

[2019-07-30 08:17] kofec commented on #176
I'm not sure what do you mean I/O speed but transfer is the same (14MB/s).
As I understand I achieve the same by "server max protocol = SMB2" ?
How can I enable insecure protocols ? Maybe ciphering takes a lot of resources and that slow down the transfer?

[2019-07-30 08:19] sergey-senozhatsky commented on #176
Server side (well, both). If cifsd was compiled without CONFIG_CIFS_INSECURE_SERVER
support then only SMB2.1 and higher dialect versions are supported.

Linux CIFS client has a similar CONFIG_CIFS_ALLOW_INSECURE_LEGACY option:

[code]

The trend these days is to finally disabled SMB1 and SMB2.0

-ss

[2019-07-30 08:27] kofec commented on #176
Thanks for the answers -  so I close the issue

[2019-07-30 08:27] #176 closed

[2019-07-30 12:10] namjaejeon commented on #174
Okay, good.
performance ?

[2019-07-30 12:31] sergey-senozhatsky commented on #174
AFAICT, performance is still around 14 MB/s for smb2.1 and smb3.

@Andy2244 Where does 200 MB/s come from? Does samba demonstrate 200 MB/s?

-ss

[2019-07-30 12:33] Andy2244 commented on #174
Nah in the org. post was a DD check, that showed the disk could do way more than the 14 MB/s, so it should be limited by network speed not disk/interface speed.

[2019-07-30 12:35] sergey-senozhatsky commented on #174
Well, we can't compete with `dd` :) Does samba show a significantly faster I/O than 14 MB/s?

-ss

[2019-07-30 12:38] Andy2244 commented on #174
The post is over [here](https://forum.openwrt.org/t/slow-samba-nfs-read-in-openwrt-stable-dev/40366/46), i'm also a little confused at this point. There are two users that have general speed issues with all file-services (nfs/samba/cifsd) yet the latest post indicates that there are now two users reporting this 14 MB/s number....

[2019-07-30 12:42] Andy2244 commented on #174
Will just close this, just update the debug text and maybe investigate why it cant figure out the speed for the bridge/interface and falls back to defaults.

[2019-07-30 12:42] #174 closed

[2019-07-30 12:54] sergey-senozhatsky commented on #174
Hmm. Would be a bit easier if we could compare samba and cifsd. Right now I'm not sure if 14 MB/s
is really slow or ok-ish.

BTW, we have a patch in cifsd-next (I think it's not in the master yet) which increases MaxRead/Write
buffer size for smb2/smb3. This should reduce the number of network packets and latencies and
increase I/O speed.

-ss

[2019-07-30 13:09] sergey-senozhatsky commented on #174
Hmm... actually need to check that patch more. The problem is that socket recv/send buffer size is 65K.
So in this case we are not really making any difference in terms of number of packets.

@namjaejeon how did you test that patch? I'm not exactly sure if the test restuls were not accidental.

-ss

[2019-07-30 23:46] namjaejeon commented on #174
@sergey-senozhatsky  yes. I checked wireshark and I saw data size is 4MB in smb request. 1 to 13% is measured by steve french in cifs. I have seen 2% performance improvement in my case. And  tcp stack may split smb request as per segment and send out.  The meaning of 4MB of smb request is not that. 1MB vs 4MB request means smb header size of request and response  are decreased in total packets. So

[2019-07-31 21:07] kfur commented on #149
but for `smbd` write is work with `option read_only 'no'`.

[2019-07-31 23:20] namjaejeon opened #178 "classify tons of debug prints"
we provide turn on/off debug print though sysfs.
the problem is that debug flood happen and most of print are ones you don't want.
And it may make regression by too many message.
I think that we should classify debug prints as component, i.e smb, vfs, connection, etc.. to decrease prints, and support to turn/off each ones.

[2019-08-07 08:40] Andy2244 commented on #153
@sergey-senozhatsky So going by your latest commit, this is now a working way to shutdown the cifsd service?
`echo hard > /sys/class/cifsd-control/kill_server`

[2019-08-07 08:44] Andy2244 opened #185 "No working shares with latest version?"
Not getting any shares with latest git version? Service starts-up fine, no errors, module is loaded and all looks fine? Explorer wont list the share via` \\router` and i cant enter it via PS `cd \\router\sharetest`

[code]

[2019-08-07 12:36] namjaejeon commented on #185
hm.. When I try it, it work fine.., Could you please share wireshark dump ?

[2019-08-08 09:04] Andy2244 commented on #185
Will look into this on the weekend, not getting any shares is weird.

[2019-08-08 09:39] Andy2244 opened #186 "compile error on mips (vfree vs kvfree)"
Seem's for mips you need to use kvfree/kvmalloc in vfs.c/vfs_cache.c.

[code]

[code]

[2019-08-09 07:08] sergey-senozhatsky commented on #153
On (08/07/19 01:40), Andy Walsh wrote:

Yes, but I deliberately didn't mention it. I'd say that this functionality
may be reworked. We still haven't discussed it with Namjae properly.

	-ss

[2019-08-09 07:29] sergey-senozhatsky commented on #186
On (08/08/19 02:39), Andy Walsh wrote:

I'd rather switch to our helpers. cifsd_alloc/cifsd_free.

===

Subject: [PATCH] cifsd: switch vfs to buffer_pool API

Signed-off-by: Sergey Senozhatsky <sergey.senozhatsky@gmail.com>
---
 vfs.c | 22 +++++++++++-----------
 1 file changed, 11 insertions(+), 11 deletions(-)

diff --git a/vfs.c b/vfs.c
index f0321ed..addab47 100644
--- a/vfs.c
+++ b/vfs.c
@@ -

[2019-08-09 07:39] Andy2244 commented on #186
As noted same problem in vfs_cache.c

[2019-08-09 07:42] sergey-senozhatsky commented on #186
On (08/09/19 00:39), Andy Walsh wrote:

Hi Andy,
I'm traveling right now. Will take a look a bit later. Thanks!

	-ss

[2019-08-11 18:41] Neustradamus commented on #103
@namjaejeon, @cifsd-team, @sergey-senozhatsky, @launius, @hclee: 5 minutes less to do it by repository ;)

[2019-08-13 10:04] sergey-senozhatsky commented on #186
JFI, sent out a vfs_cache patch.

-ss

[2019-08-20 13:45] Andy2244 commented on #186
thanks, compiles with latest master

[2019-08-20 13:47] Andy2244 commented on #185
Seem to-be some odd bug on my PC at home, mounting via a linux VM or VPN from my work PC works. So no idea how i broke it on my home PC.

[2019-08-20 13:47] #185 closed

[2019-08-20 13:48] Andy2244 commented on #152
Works from a fresh Win10 VM or via VPN from my work PC.

[2019-08-20 13:48] #152 closed

[2019-08-20 13:51] Andy2244 commented on #153
@sergey-senozhatsky I did retest the latest master and it seems i still need a 4-5s delay between the killswitch and the rmmod, otherwise the rmmod fails, if i have a open smb connection?

[code]

PS: I also see this in the logs:
[code]

[2019-08-21 09:34] Andy2244 commented on #186
vfs.c still uses vfree/vmalloc and fails on mips, is this a oversight and can i patch those last instances with cifsd_free/alloc?

[code]

[2019-08-21 09:56] sergey-senozhatsky commented on #186
On (08/21/19 02:34), Andy Walsh wrote:

Hi Andy,

I dropped the old pull request, those 2 trivial patches have never
made it to any branches. The pull request was in pending state for
entirely too long and even gained merge conflicts (was way too much
effort at that point). There is a new pull request now. Maybe will
get merged at last, who knows.

The 3 patches, you might be interested in, are:

[2019-08-21 10:20] sergey-senozhatsky commented on #153
On (08/20/19 06:51), Andy Walsh wrote:

Hmm...
Need to look at this more. This "5 seconds" timeout sounds a bit
suspicious. I wonder if this is a sk->sk_sndtimeo (which is 5 seconds)
that we are having problems with.

The fundamental problem is that we cannot have a really fast killswitch,
which would work all the time. The fact is, we even cannot have a
killswitch, which would simply work all the

[2019-08-21 10:33] Andy2244 commented on #153
ok thanks for the info, i hope we can improve this. In my tests most of the time it worked with the extra timeout, at around 8-9 seconds it seem to always work. If no connections are open only 1-2 seconds seem needed.

[2019-08-21 10:40] Andy2244 commented on #186
ok those work for vfs.c/cache.c, than smb2pdu.c fails.

[code]

[2019-08-21 10:59] sergey-senozhatsky commented on #153
On (08/21/19 03:33), Andy Walsh wrote:

Off chance, would anything change with this patch?
Just curious.

kernel TCP recv/snd loops are designed to be used from the user space,
mostly.

---
diff --git a/transport_tcp.c b/transport_tcp.c
index b72dcba..387a50e 100644
--- a/transport_tcp.c
+++ b/transport_tcp.c
@@ -232,8 +232,8 @@ static int cifsd_kthread_fn(void *p)
 		}

 		cifsd_debug("connect su

[2019-08-21 11:10] sergey-senozhatsky commented on #186
On (08/21/19 03:40), Andy Walsh wrote:

Nasty!

Thanks for the report. That thing, BTW, does not look right.
The following patch should improve it.

===

SMB1/SMB2 don't know exactly how vfs layer allocates xattr list,
via kmalloc() or vmalloc(). Introduce cifsd_vfs_xattr_free() and
keep both xattr allocation and de-allocation in one place.

Signed-off-by: Sergey Senozhatsky <sergey.senozhatsky@gm

[2019-08-21 11:32] Andy2244 commented on #186
ok compiles now, the smb1pdu.c/smb2pdu.c patch seems based on your local version not master, patch needs lots of offsets.

[2019-08-21 13:00] sergey-senozhatsky commented on #186
On (08/21/19 04:32), Andy Walsh wrote:

Oh, my bad...
Against cifsd-next. I don't use master.

	-ss

[2019-09-04 09:06] Haythem-Zd commented on #100
I close this issue since using the new tool cifsshareadd to delete shares is the perfect solution for my problem here.
Thank you!

[2019-09-04 09:06] #100 closed

[2019-09-04 11:15] sergey-senozhatsky commented on #100
On (09/04/19 02:06), Haythem-Zd wrote:

We support only addition (dynamic cifsd reconfiguration)
of new shares at the moment. Anything else (-u or -d)
requires cifs-tools restart.

	-ss

[2019-10-04 19:53] ysc3839 commented on #104
@namjaejeon I have the same problem.
Windows Version 10.0.18362.295, cifsd running on OpenWrt router, Linux 4.14.145.
Open `\\192.168.1.1` on Windows, got `Error code: 0x80004005 Unspecified error`.

Here is wireshark capture, filtered with `tcp.port==445`:
[cifsd.pcapng.gz](https://github.com/cifsd-team/cifsd/files/3692092/cifsd.pcapng.gz)

[2019-10-07 12:01] namjaejeon commented on #104
Thanks for your report!
I will check your dump.

[2019-10-07 13:55] namjaejeon commented on #104
@ysc3839 I fixed. Could you please check your issue with the latest master ?
Thanks!

[2019-10-12 02:15] ysc3839 commented on #104
@namjaejeon Tested. Now It works.

[2019-10-12 08:43] namjaejeon commented on #104
Thanks for your test!

[2019-10-12 08:43] #104 closed

[2019-10-21 14:33] #186 closed

[2019-11-02 11:01] Neustradamus commented on #103
@namjaejeon, @cifsd-team, @sergey-senozhatsky, @launius, @hclee: 5 minutes less to do it by repository ;)

[2019-11-22 14:53] ahmar20 opened #248 "cifsd: xr200: kernel panic"
I tested cifsd today on TpLink W8980 v1 and two HomeHub 5As and cifsd was crashing mostly on all of them. I was not able to get a crash log from one HomeHub 5A becasue I manage it remotley but I was able to get the log from W8980 and the error is as follows:

[code]

I am using OpenWrt r11563-d3a8a62692 on my routers and Kernel v4.19+.

[2019-11-22 18:41] neheb commented on #248
To clarify, these are big endian devices.

[2019-11-23 12:01] namjaejeon commented on #248
Hm... Checking if there is stack overrun in cifsd_auth_ntlmv2().

[2019-11-24 06:26] namjaejeon commented on #248
@neheb Do you have a big endian device to run cifsd ? If yes, Could you check if same issue is coming on your device ?

[2019-11-24 06:57] neheb commented on #248
To properly debug this, I’d probably need a serial console with USB. I think I have a device like that (previous one I used won’t work). It’d probably take me several days to set up. A bit busy currently.

[2019-11-24 07:02] ahmar20 commented on #248
Can I help? I have two devices.

[2019-11-24 07:08] sergey-senozhatsky commented on #248
On (19/11/23 22:57), Rosen Penev wrote:

Things can be easier to debug once kernel stack corruption becomes
memory corruption.

Which can be done by turning stack allocated buffers, to slab
allocated buffer.

Example (untested):

---

 auth.c | 19 ++++++++++++++++---
 1 file changed, 16 insertions(+), 3 deletions(-)

diff --git a/auth.c b/auth.c
index b7a6903..dd6ce07 100644
--- a/auth.c
+++ b/aut

[2019-11-24 07:13] sergey-senozhatsky commented on #248
On (19/11/23 23:02), Ahmar wrote:

Any chance you can test the code snippet I posted? (turn stack allocated
buffers into slab allocated buffers). With slab debugging enabled. (I'm
not sure if KASAN is available on your platform, but if it is, then I'd
recommend KASAN).

	-ss

[2019-11-25 12:39] namjaejeon commented on #248
I don't think it is related with big endian issue. But need to make it clear. We have ever not run xfstets on big endian. @hclee Hyunchul lee volunteered to check cifsd on big endian device. Really thanks!

@ahmar20 Hi, Could you please test the code from Sergey ? If you feel difficult, please tell us.
Thanks!

[2019-11-25 12:40] #103 closed

[2019-11-25 12:45] ahmar20 commented on #248
Sure I can test the code, will need to clone this repository, and then cross-compile it with OpenWrt? I mean I can try the compiling but I may  need some help, including where to find the slab and KASAN?

[2019-11-25 13:20] namjaejeon commented on #248
@ahmar20 Have you ever build kernel source after changing config ?

You need to turn on two in kernel config(make menuconfig). And Not sure MIPS support for KASAN in your kernel. If you can not find KASAN, you can turn on only slub debug.
Kernel hacking  --->
   Memory Debugging  --->
       [ ] SLUB debugging on by default
       [ ] KASAN: runtime memory debugger

[2019-11-25 14:34] ahmar20 commented on #248
Yes, I was using modified kernel source for W8980 previously on OpenWrt v18.06.5 because we were testing WAVE300 WiFi chip and the driver needed some kernel debugging symbols to be enabled or it would crash.

This is what I get in `kernel_menuconfig` when searching for KASAN and I think it's not available for `lantiq` at least.
[code]
I have enabled SLUB and SLUB_DEBUG but KASAN does not show up i

[2019-11-25 19:11] neheb commented on #248
The above patch must be present in the cifsd/patches directory If not present, create it.

Note that you can enable this with make menuconfig. Go to Global build settings > kernel build options > Enable /proc slab debug info.

[2019-11-26 04:06] Neustradamus commented on #103
namjaejeon: Why have you closed this ticket without solution?

[2019-11-26 07:04] ahmar20 commented on #248
I am trying to compile it with OpenWrt and the makefile currently shows like this:
[code]
But I am getting an error:
[code]
So it seems I am not using the correct directory for kernel? Can anyone help here?

[2019-11-26 07:07] neheb commented on #248
Why are you messing with the directories? Just put the patch in the patches directory.

[2019-11-26 07:16] ahmar20 commented on #248
Oh right, I see it now. I thought I needed it to build externally.

[2019-11-26 22:33] neheb commented on #248
That looks really bad. Specifically because it happens while booting up.

[2019-11-26 23:55] namjaejeon commented on #248
@ahmar20 Could you try to test again after changing like the below ?

- unsigned char *hashptr = prfhash;
+ unsigned char *hashptr;

-       prfhash = kmalloc(SMB2_HMACSHA256_SIZE, GFP_KERNEL);
+	hashptr = prfhash = kmalloc(SMB2_HMACSHA256_SIZE, GFP_KERNEL);

[2019-11-27 01:47] neheb commented on #248
What branch is this?

I took a look at current cifsd-next code. There's some suspicious memset usage.

[2019-11-27 01:54] namjaejeon commented on #248
I found problem from the test code Sergey provided.

Let me know it!
Thanks.

[2019-11-27 02:22] neheb commented on #248
Never mind. Was thinking of something else.

[2019-11-27 07:02] ahmar20 commented on #248
I'd like to point out something strange. I also have two HomeHub 5A routers one I use personally and other I manage remotely for someone else. Both the routers are running OpenWrt r11563 Snapshot.
The one that I have runs `cifsd` without the patch and I have not stumbled upon any errors for now, although I only included it for testing. The remote HH5A is also experiencing the same behavior as my W

[2019-11-27 12:14] namjaejeon commented on #248
I guess smb client in your phone support only SMBv1 protocol. and SMBv1 in cifsd disabled by default. And not sure why your Linux doesn't connect with cifsd, but it also may be working with only SMBv1. Please check it after SMBv1 is enable.

[2019-11-27 12:25] namjaejeon commented on #248
crash by stack protector ?

Want to see crash log.

[2019-11-27 12:46] ahmar20 commented on #248
I think I have found the root cause of the crash but I need to be certain about it so I'll be updating once I check it with normal cifsd rather than the patched version.

[2019-11-27 14:33] Andy2244 commented on #153
@sergey-senozhatsky ok sorry for the late reply.
I still get some weird restart bugs and tried your patch, yet the lowest time i can get is 4-5s

I see this for a 2s extra timeout, with open connections.
[code]
The stop logic is this:
stop_service()
{
	logger -t 'cifsd' "Stopping CIFSD userspace service."
	killall cifsd > /dev/null 2>&1
	logger -t 'cifsd' "rmmod 1"
	[ -e /sys/module/cifsd ] && rmm

[2019-11-28 09:29] namjaejeon commented on #248
without user-level-security = without security = without authentication = not through credential are same meaning ?

[2019-11-28 09:32] ahmar20 commented on #248
Yes that is the case, effectively saying "Allow Everyone" or "Allow Guests".

[2019-11-28 12:19] namjaejeon commented on #248
You can adjust the values of smb2 max read/write/trans in your smb.conf like the following(path : cifsd-tools/Documents/configuration.txt).

        - smb2 max read (default: 4MB)
                This option specifies the protocol value that kcifsd will
                return to a client, informing the client of the largest size
                that may be returned by a single SMB2 read call.

[2019-11-28 12:27] namjaejeon commented on #248
You are saying crash on boot ?

[2019-11-28 13:38] ahmar20 commented on #248
No it crashed because of low memory while I was trying to watch a movie through SMB. The movie started flickering a lot and router went under extreme load and eventually crashed after a while, even after I closed everything the router stayed under load.

I am gonna try with the config options and see how it goes.

One thing that I want to ask is how do I specify 'Minimum SMB1' in `min server proto

[2019-11-28 14:06] namjaejeon commented on #248
You simply can change default n => y like below code in Kconfig of cifsd.

config CIFS_INSECURE_SERVER
        bool "Support for insecure SMB1/CIFS and SMB2.0 protocols"
        depends on CIFS_SERVER && INET
        select NLS
        default n => y

        help
          This enables deprecated insecure protocols dialects: SMB1/CIFS
          and SMB2.0

[2019-11-29 06:05] namjaejeon commented on #153
@Andy2244  Could your script check whether server start-up  from sysfs state ?
cat  /sys/class/cifsd-control/stats
2 startup 445 50

So I suggest the following sequences.
 - killall cifsd
 - echo hard > /sys/class/cifsd-control/kill_server
 - polling if sysfs stats is changed to "startup"
 - if startup, rmmod cifsd

kill_server is trying to reset server asynchorously using workqueue. So it is wron

[2019-11-29 07:53] sergey-senozhatsky commented on #248
This actually increases memory usage. Instead of having hard memory limit of
maximum `nproc` buffers, cifsd will allocate buffer per request/reply, which can
be far greater than the nuber of CPUs in the system.

-ss

[2019-11-29 10:20] Andy2244 commented on #153
Sure i can do this, still feels convoluted just to stop a service cleanly?

[2019-11-29 11:41] namjaejeon commented on #248
@ahmar20 Sergey's patch + changing parameters => It work fine with security on your device ?

[2019-11-29 13:10] sergey-senozhatsky commented on #248
On (19/11/29 03:41), Namjae Jeon wrote:

Good question.

From my side:
When the buffers are not stack allocated do we still have stack
overflow or we don't? If we still do, then the problem is somewhere
else, somehow.

	-ss

[2019-11-29 18:12] ahmar20 commented on #248
No it still does't work with security.

We do get the stack protector error in both cases. It does not help when I enable the security. So yes the error is in security somewhere. Maybe a critical bug that has not been found yet.

[2019-11-30 12:39] namjaejeon commented on #248
@ahmar20 Okay, Could you please tell me your ID/PW info and domain name ?
I am wondering the language of your id and length, and password length, domain name length also.

[2019-11-30 13:02] ahmar20 commented on #248
The domain is basically the IP of the router, which is 192.168.1.25 and the user I use for SMB is `cloud` and password is `cloud123`. I don't really think if this has anything to do with the error that is being thrown.

[2019-11-30 14:00] namjaejeon commented on #248
@ahmar20 Okay, One more request, Could you please give tcpdump or wireshark dump to me ?

[2019-11-30 17:21] ahmar20 commented on #248
It took me a couple of searches to find out how to do it but I used Linux so it was rather easy. I was using Ubuntu 18.04 and you can find the capture file [here](https://drive.google.com/open?id=18lpywcLhfa3umHu70fEmqw531Ckr6FQf).

[2019-12-01 02:41] namjaejeon commented on #248
Thanks :) I will analyse dump file and trying to reproduce this issue on my target.

[2019-12-02 06:21] namjaejeon commented on #248
Sigh, I can't find any clue in packet dump file... @ahmar20 Could you please check more after adding print ?
I want to know which line cause this issue in cifsd_auth_ntlmv2().

From 0194624e86855333fd84765a992d3ede941f1ba5 Mon Sep 17 00:00:00 2001
From: Namjae Jeon <namjae.jeon@samsung.com>
Date: Mon, 2 Dec 2019 01:14:05 -0500
Subject: [PATCH] cifsd: add debug print in cifsd_auth_ntlmv2()

Signed-

[2019-12-02 06:39] sergey-senozhatsky commented on #248
Seems to be very close to the bottom of the function. I think there is only one candidate
there - crypto_shash_final(CRYPTO_HMACMD5(ctx), ntlmv2_rsp). It uses OUT stack buffer.
The rest of final() functions output to slab allocated buffers.

[2019-12-02 06:52] sergey-senozhatsky commented on #248
Same location every time?
Could you compile kernel with debugging symbols enabled, crash it and then run "./scripts/faddr2line  cifsd_auth_ntlmv2+0xBAR/0xFOO" [BAR and FOO are reported by stack protector] on auth.o, so maybe we can get the exact source file location.

[2019-12-02 07:01] ahmar20 commented on #248
Yes I think so.

Which debugging symbols do I need to add?

[2019-12-02 07:10] sergey-senozhatsky commented on #248
I meant CONFIG_DEBUG_INFO. So binutils would be able to map binary offset
to source file location.

[2019-12-02 11:34] ahmar20 commented on #248
I have executed the `addr2line` command with the address from the crash (which is same in every crash). It points to line 71 of `auth.c` file which starts the inner body of `static int smbhash()` and when I tried to search for this function in the file, it points to either `int cifsd_auth_ntlm()` or `static int __cifsd_auth_ntlmv2()`.

I am not sure why the actual error says `Kernel panic - not sy

[2019-12-03 03:12] sergey-senozhatsky commented on #248
Does `./scripts/faddr2line cifsd_auth_ntlmv2+0x48c/0x4bc` show the same?

[2019-12-04 05:32] ahmar20 commented on #248
I was not able to find `faddr2line` anywhere. OpenWrt source does have a `scripts` folder but it doesn't have the above command available. I am not sure where I can find the above command.

[2019-12-04 05:39] neheb commented on #248
https://github.com/torvalds/linux/blob/master/scripts/faddr2line

[2019-12-04 05:44] neheb commented on #248
Note that you need bash to run it. With some cleanups it could be made ash compatible.

[2019-12-04 15:02] ahmar20 commented on #248
This is what I got:
[code]

[2019-12-10 13:04] Andy2244 commented on #150
Just as a example the current master branch has Cifsd: 2.0.3 Kmod: 2.0.4

[2019-12-10 13:17] namjaejeon commented on #150
There is no change in cifsd-tools. And we can't increment both ones at the same time if we consider kcifsd mod merged into linux mainline.

[2019-12-10 13:21] Andy2244 commented on #150
Sure, my point was i have no idea if those two different version work together or not. Would cifsd check this already and refuse to start with a 2.0 kmod + error message?

[2019-12-10 13:49] Andy2244 commented on #153
@namjaejeon ok as reference, here is my new kill_server code, which works:
[code]

[2019-12-11 01:36] sergey-senozhatsky commented on #150
On (19/12/10 05:21), Andy Walsh wrote:

The thing that matters here is "IPC protocol version". When we change physical
layout (including sizeof()) of structures that cifsd-tools and kcifsd use for
IPC communication then we must update both user-space and kernel space cifsd,
otherwise bad things can happen. We check IPC protocol version mismatch.
// it's in cifsd_server header file //

Other than t

[2019-12-11 15:26] Andy2244 commented on #153
@namjaejeon ok i tested your email patch and seems to work, except for some minor log issue.

What i observe is that `echo hard > /sys/class/cifsd-control/kill_server` does not directly return anymore, but still needs 2-4 seconds to finish, yet i don't have to poll anymore or add extra timeouts.

Yet we need some log cleanup please, here is what we get after a kill_server:
[code]
I had a case wher

[2019-12-11 23:31] namjaejeon commented on #153
okay, Could you test one more after changing socket timeout to 1sec from 7sec and 5sec like this ?

connection.h
#define CIFSD_TCP_RECV_TIMEOUT (1 * HZ)
#define CIFSD_TCP_SEND_TIMEOUT (1 * HZ)

Thanks!

[2019-12-12 16:13] Andy2244 commented on #153
@namjaejeon
ok the kill now takes max. 1sec with open connections. So i guess its safe to use those 2 changes for my next version?

[code]

[2019-12-14 01:32] namjaejeon commented on #153
Let me check more. I am checking side effect when changing default timeout value.

Yes, I will change it with debug message.

Yes. Right.

[2019-12-14 13:25] namjaejeon commented on #153
@Andy2244 I sent the patch to you. This patch set zero to receive and send timeout before socket shutdown. So this patch don't touch default timeout. And actually I can not reproduce it on my PC, So Could you please check one more if this patch work as we expect or not?

Thanks!

[2019-12-14 15:35] Andy2244 commented on #153
@namjaejeon
[code]

[2019-12-14 23:19] namjaejeon commented on #153
@Andy2244  Oops, Sorry. I sent the patch again. please check it.

[2019-12-15 00:41] Andy2244 commented on #153
@namjaejeon ok new patch works and seems to kill in <=1sec, so closing this, thanks!

[code]

[2019-12-15 00:41] #153 closed

[2019-12-16 11:50] #150 closed

[2019-12-17 11:35] Andy2244 opened #269 "Can delete files on a 'read only = yes' share?"
I have the share below via guest and while i can not copy/create files, i can actually delete files/folders?

[code]

[2019-12-18 01:23] sergey-senozhatsky commented on #269
On (19/12/17 03:35), Andy Walsh wrote:

Good catch. I guess we should not set DELETE_ON_CLOSE when
CIFSD_SHARE_FLAG_READONLY | CIFSD_TREE_CONN_FLAG_READ_ONLY.

	-ss

[2019-12-18 13:39] namjaejeon commented on #269
FIXED, Pushed it to the cifsd-next, Will inform when merging into the master.
Thanks Andy!

[2019-12-24 06:57] namjaejeon commented on #269
@Andy2244 I will release v2.0.6 version and set tag also.
Please check it.
Thanks!

[2019-12-31 12:07] Andy2244 opened #282 "use full names for release archives."
The smbd and smbd-tools release archives both have the same name, confusing our default buildsystem.

Rename the releases so they end-up having distinct names: `smbd-3.0.1.tar.gz` and `smbd-tools-3.0.1.tar.gz` instead of both `v3.0.1.tar.gz`.

[2019-12-31 13:38] Andy2244 commented on #269
Checked 3.0.1, is fixed thanks.

[2019-12-31 13:38] #269 closed

[2020-01-01 23:32] namjaejeon commented on #282
I understood that git tag name is changed to smbd-v3.0.1 from v3.0.1. I changed it now. right ?

[2020-01-02 00:36] Andy2244 commented on #282
kinda the release file is actually named: `smbd-tools-smbd-tools-v3.0.1.tar.gz` and `smbd-smbd-v3.0.1.tar.gz` not sure why it doubles the names?

[2020-01-02 02:30] namjaejeon commented on #282
Yes, I changed tag name from v3.0.1 to smbd-v3.0.1 as you raise a issue(look v3.0.1.tar.gz). When tag name was v3.0.1, It looks normal with smbd-3.0.1.tar.gz.

[2020-01-02 04:14] Andy2244 commented on #282
So what filename you get as download if you use the release link?
https://github.com/cifsd-team/smbd/archive/smbd-v3.0.1.tar.gz

[2020-01-02 06:15] namjaejeon commented on #282
Understood... please check them again!

[2020-01-02 13:50] Andy2244 commented on #282
ok github tag releases are still weird as f...

The shown url is: `https://github.com/cifsd-team/smbd/archive/3.0.1.tar.gz`
It downloads: `smbd-3.0.1.tar.gz`

I found a other package and it constructs this url, which also works and is consistent...
`https://github.com/cifsd-team/smbd/archive/3.0.1/smbd-3.0.1.tar.gz`

[2020-01-02 13:50] #282 closed

[2020-01-07 07:29] Neustradamus opened #285 "Move namjaejeon/cifsd into cifsd-team organization"
@namjaejeon: Can you move this original code into cifsd-team organization?

Steps to do:
- Create a temporary org, for example cifsd-team-temp
- Transfer cifsd-team/cifsd into cifsd-team-temp
- Transfer your namjaejeon/cifsd into cifsd-team
- Transfer cifsd-team-temp/cifsd in your personal account
- Remove the cifsd-team-temp temporary org || After all transfers
- Merge the code in the main reposi

[2020-01-08 02:49] BrainSlayer opened #287 "small bug in endian handling"
https://github.com/cifsd-team/smbd/blob/a608ddfb71572d23615080adf3a0ab25e013bf85/smb1pdu.c#L2060

AndXCommand is u8 so cpu_to_le16(0xff) makes no sense and will turn the value to zero on big endian systems. this has been discovered by gcc compiler warning

[2020-01-08 04:55] namjaejeon commented on #287
Ah, Good catch! Could you please send the patch to us(linux-cifsd-devel@lists.sourceforge.net) ? I will push your patch. If you can't it, Please tell me. I will direclty do it.

Thanks for your report!

[2020-01-08 05:24] BrainSlayer commented on #287
@namjaejeon i can. i'm just busy with alot of things and have not created a fork yet. its just a one liner. i'm pretty sure you are able to insert rsp->AndXCommand = 0xff; by your self :-)

[2020-01-08 05:45] namjaejeon commented on #287
Yup, I will.
Thanks!

[2020-01-08 15:22] BrainSlayer opened #289 "memory corruption issues"
while testing which debuggin enabled i discovered that smbd has likelly memory corruption issues. i wasnt able yet to get it working with authentication since the connection simply was hanging without any logging output. but with no authentication i was turning the arm based system into a hanging state and logs like this here are showing that there is a serious issue somewhere
[  570.401968] ksmbd

[2020-01-08 15:42] BrainSlayer commented on #289
in addition. the issue seem to happen in my testcase if i have one share already connection unauthenticated. this works. if i now connect a second one from a different computer which is authenticated the authentication will hang and i get such corrupted messages from the  unauthenticated session. if i just do a single authenticated connection it works. so something is very strange here

[2020-01-08 20:39] BrainSlayer opened #290 "length can run bellow zero which may cause stack corruption in follow up code"
https://github.com/cifsd-team/smbd/blob/d3227e73b9a705498e7c85ea218e69ec32a6e209/unicode.c#L269

the for loop checks only if len is non zero. but len-=charlen may let it run bellow zero, so the input buffer might run out of bounds until a undefined length and the returned length will be bigger than expected which may cause issues by the caller
so use len > 0 in this statement

[2020-01-09 00:24] neheb commented on #248
Did this ever get fixed?

[2020-01-09 00:56] namjaejeon commented on #248
We don't have openWRT big endian environment now. We tested big endian system using QEMU. but could not reproduce this issue. So we was thinking it is hard to fix without reproduction.
I think that this issue should be checked openWRT developer who can reproduce.

[2020-01-09 04:00] namjaejeon commented on #248
This issue seems to related with BrainSlayer's report overrun issue.

@ahmar20  Could you please check after chaging code(len => len > 0) like the below ?
====================================================
unicode.c
smb_strtoUTF16(__le16 *to, const char *from, int len,
              const struct nls_table *codepage)

- for (i = 0; len && *from; i++, from += charlen, len -= charlen) {
+ for (i =

[2020-01-09 04:06] namjaejeon commented on #289
This issue is related with your another report(" length can run bellow zero which may cause stack corruption in follow up code ") ? I am wondering it is fixed after changing len with len > 0.

[2020-01-09 06:23] hclee commented on #289
I think that this issue happens because the string does not have a null character. So we must print this string with the length of it.

[2020-01-09 07:15] hclee commented on #289
#291 is merged.
@BrainSlayer , Could you test it again?

[2020-01-09 16:52] BrainSlayer commented on #289
@namjaejeon it might be related. i was seeking in that function what could cause such corrupted message which can only be caused by a broken stack. so i found this code problem, but it doesnt mean that the issue will be caused by that function. depending on the length of the argument and the content of the string. it may run bellow zero and will cause a buffer overrun. i already fixed that in my t

[2020-01-10 05:11] namjaejeon commented on #287
Pushed the patch to master branch.

please check the patch.
https://github.com/cifsd-team/smbd/commit/a7a8bad6e7be6a200f1610814a4cdaa53f65f50a

Thanks!

[2020-01-10 05:15] namjaejeon commented on #289
@hclee Thanks for your patch:)

@BrainSlayer Okay.
Pushed two patches to master branch. (https://github.com/cifsd-team/smbd/commit/ff9beb2a13a47286bab45d784978c6a7ca0ad017, https://github.com/cifsd-team/smbd/commit/5a07c4128dcb7a4ee7dadd1c2afef6f004e7d85c)

Thanks for your feedback!

[2020-01-10 05:19] namjaejeon commented on #290
Pushed the patch to master (https://github.com/cifsd-team/smbd/commit/ff9beb2a13a47286bab45d784978c6a7ca0ad017)

Thanks!

[2020-01-10 05:21] namjaejeon commented on #248
@ahmar20 I pushed stack overrun patch to master now.
Could you please reproduce your issue with master branch ?

[2020-01-10 18:53] ahmar20 commented on #248
I am looking into it.

[2020-01-11 04:00] namjaejeon commented on #248
@ahmar20 Thanks!

[2020-01-11 11:48] ahmar20 commented on #248
After some testing, your fix does not help. As before as soon as you enable user security and then enter a user/password to access the share, router crashes. If you can provide me details on how can I spot the bug may be I can help sort this one out.

Previously, the error is supposedly in auth.c file and even now the error indicates the same (I guess):
[code]

[2020-01-11 12:34] namjaejeon commented on #248
Thanks for your test. Le me think more.
I want to check your kernel config, Could you share .config file in your kernel source with me ?

[2020-01-11 13:55] ahmar20 commented on #248
This is the .config file generated by `make menuconfig`:
https://pastebin.com/KJbdSYS2

[2020-01-11 18:32] neheb commented on #248
Eh no. It’s in build_dir/target-x/linux-y:linux-z/.config

[2020-01-11 18:39] ahmar20 commented on #248
Alright I updated the paste with this: https://pastebin.com/KJbdSYS2

It was in `build_dir/target-mips*/linux-lantiq*/linux-4*/.config`.

[2020-01-13 12:26] namjaejeon commented on #289
@BrainSlayer Could you please tell me which kind of client is used ? windows XP ? or linux kernel cifs client ?

[2020-01-16 09:35] Andy2244 opened #295 "not closing connections "TIME_WAIT""
Got this report, we send "kill_server" on stop. So should this close connections?

[2020-01-17 07:13] Andy2244 commented on #295
I'm just the messenger, but i think `netstat -tulpn` and `tcptrack -i eth0` shows the status.

[2020-01-17 07:46] namjaejeon commented on #295
Okay, When I research it, it is not problem.
when server connection is disconnected ahead than client connection, It will be time wait state. smbd use SO_REUSEADDR, so it should re-bind on time-wait state. Is it problem ? samba is also same ?

[2020-01-17 07:49] #287 closed

[2020-01-17 07:50] #290 closed

[2020-01-17 09:25] BrainSlayer commented on #287
if course you can close issues which are known to be fixed/merged

[2020-01-19 03:57] BrainSlayer opened #296 "empty macro will lead to misscompiled code"
https://github.com/cifsd-team/smbd/blob/71e4e5004c82fb1f0e8000457d01625a4a75d730/glob.h#L45

example:

if (rc)
     smbd_debug("test);
free(somepointer);

what will happen if smbd_debug is a empty macro?
free will be never called unless rc is non zero. there are various locations in smbd where this condition will trigger. so smbd will not compiled correct if CONFIG_SMB_SERVER_DEBUGGING is disabled

[2020-01-19 08:15] namjaejeon commented on #296
Right. Pushed your solution to next branch.(https://github.com/cifsd-team/smbd/pull/297/commits/b1d3849162bfe2cc7022e52f190b2efced2017de)

Thanks!

[2020-01-20 01:22] sergey-senozhatsky commented on #296
On (20/01/18 19:57), Sebastian Gottschall wrote:

No. The pre-processed code will look like this

	if (rc)
		;
	free(somepointer);

	-ss

[2020-01-20 11:53] BrainSlayer commented on #296
@sergey-senozhatsky its not that i have not tested this. the outcoming code does not work correct if debug is disabled at compile time.  authentication was not working etc. i was wondering why all was working correct if debugging is enabled, but not working if debugging is disabled. after that small patch all was going to work correct. (gcc 9 if that matters)

[2020-01-20 13:40] sergey-senozhatsky commented on #296
@BrainSlayer I'm not objecting the patch. It's just the code sample given in the commit message won't be affected. AFAIU, we can have priblems when gcc sees zero-sized compound statements. E.g.

if (rc)
   smbd_debug("test);
else
   foo_bar();

But I need to check it.

-ss

[2020-01-20 14:00] sergey-senozhatsky commented on #296
I take it back.
I played with various compilers and I see that some of them indeed swallow the semicolon.
Even in the simple case like the one in the commit message.

-ss

[2020-01-20 23:42] BrainSlayer commented on #296
@sergey-senozhatsky yeah right was a bad sample. it was late at night

[2020-01-22 23:11] namjaejeon commented on #289
@BrainSlayer I pushed related patches to master branch. Could you confirm this issue is clear ?

[2020-01-23 07:54] BrainSlayer commented on #289
@namjaejeon i have not seen this issue again. so its likelly fixed.

[2020-01-23 11:03] BrainSlayer commented on #289
@namjaejeon btw are you interested in backport patches for 3.18 and 3.10? i have already finished this

[2020-01-23 13:28] namjaejeon commented on #289
Thanks for your verification.

Hm... These are too old kernels,  Is there still any demand for 3.18 and 3.10 kernel ? And These versions are not even LTS kernels...

[2020-01-23 13:29] namjaejeon commented on #296
Pushed the patch to master branch.
@BrainSlayer  Thanks for your report and solution!

[2020-01-23 13:30] #296 closed

[2020-01-23 16:02] BrainSlayer opened #308 "ksmbd does not work if ipv6 module is not loaded or compiled in (patch inside)"
this patch allows to run ksmbd without ipv6 module beeing loaded. feel free to refine it.

ftp://ftp.dd-wrt.com/others/ksmbd/ksmbd_ipv4.patch

[2020-01-23 16:24] BrainSlayer commented on #289
@namjaejeon i dont know if there is for you. but i maintain a firmware for routers and on some of these i'm limited to a specific kernel version since the kernel size increased over time with newer versions which brings me into resource troubles. some routers only have 4 mb of flash storage and this turns everything complicated with newer kernels. for 3.10 i also have the issue with some broadcom

[2020-01-24 00:04] namjaejeon commented on #308
Looks good to me. Let me your know your mail address. I would like to add your sign-off in this patch.
Thanks!

[2020-01-24 00:12] namjaejeon commented on #289
@BrainSlayer  Previously, some users wanted to port ksmbd to 3.x kernel. Please share your patch and I will actively review it.

[2020-01-24 00:19] BrainSlayer commented on #308
@namjaejeon  s.gottschall@dd-wrt.com

[2020-01-24 00:26] BrainSlayer commented on #289
let me clean it up tomorrow. its a little bit messie right now and contains additional debug code you may not want and its only tested on 3.18 and 3.10 without any care about other versions in between
but all code i made can be reviewed on my svn server
https://svn.dd-wrt.com/browser/src/router/smbd (svn://svn.dd-wrt.com/src/router/smbd)

[2020-01-24 00:31] BrainSlayer commented on #289
i also stripped down all binaries and made a multicall binary out of it. so with a static linked glib and lto compiling usmbd etc is alltogether just 400kb which is very interesting for embedded applications. personally i want to get rid of glib completelly. it just increases size for no reason. everything in usmbd can be done without glib, just with pure posix code. then we can get the size bello

[2020-01-24 05:02] namjaejeon commented on #308
Pushed it to next branch.
Thanks!

[2020-01-24 05:17] namjaejeon commented on #289
Okay.

@BrainSlayer In the past, openWRT people also wanted to drop it. Sergey's thought was different from that. @sergey-senozhatsky Any opinion ?

[2020-01-24 09:12] BrainSlayer commented on #289
@namjaejeon i already started with taking it out completelly and i will likelly be finished today but need to test the new code first. 90% is already done. glib is just bloatware. there its only used to rw locks  which can be replaced with phread_rwlock, its used for base64 encoding and decoding which can be easy replaced by a small own implementation. utf conversation can be replaced with iconv a

[2020-01-24 09:59] namjaejeon commented on #289
@BrainSlayer Okay, I do not object. I want to check it after your work is done.

[2020-01-24 12:32] BrainSlayer commented on #289
@namjaejeon due the massive  rewrite i did i expect alot of bugs. but i'm finished now and start to test and will fix them. usmbd / smbshareadd / smbuseradd is now 58kb in total as combined multicall binary on a mips platform

[2020-01-24 12:49] namjaejeon commented on #289
@BrainSlayer Great work! We will also actively review it if you contribute the patch:)

[2020-01-24 19:17] BrainSlayer commented on #289
@namjaejeon almost done now. i will commit it to my svn repository this evening. tests are successfull now after many hours of fixing issues. but before commiting do a deep carefull review. the patch isnt that small
ftp://ftp.dd-wrt.com/others/ksmbd/no-glib.patch

[2020-01-24 19:19] BrainSlayer commented on #289
since its a incremental patch ,there might be small conflicts. so maybe also take a look into my repository since i modifie the makefile.am files earlier for multicall binary support

[2020-01-24 21:38] namjaejeon commented on #289
@BrainSlayer Okay, BTW... I can't not apply your patch to ksmbd-tools... (git am or patch -p1). To review it on our mailing list, Does it need to convert ?

[2020-01-24 22:00] BrainSlayer commented on #289
nope. but my local sourcetree has some small mods for debugging mainly. so some thing need to be merged manually. let me do a clean git checkout and do the job for you. gimme 15 minutes for it

[2020-01-24 22:01] BrainSlayer commented on #289
mmh
linux:/xfs/smbd/ksmbd-tools-3.1.0.new # patch -p1 < no-glib.patch
patching file lib/usmbdtools.c
patching file lib/config_parser.c
patching file lib/management/session.c
patching file lib/management/share.c
patching file lib/management/tree_conn.c
patching file lib/management/user.c
patching file include/usmbdtools.h
patching file include/config_parser.h
patching file include/management/sessio

[2020-01-24 22:10] BrainSlayer commented on #289
i updated now the patch link to apply as clean patch again 3.1.0

[2020-01-24 22:10] BrainSlayer commented on #289
so redownload any try again. i also compile tested it

[2020-01-25 04:53] namjaejeon commented on #308
Move it from next branch to master.

[2020-01-25 04:53] #308 closed

[2020-01-25 05:14] namjaejeon commented on #289
Okay, I checked it apply fine.
Thanks!

[2020-01-31 13:39] #289 closed

[2020-01-31 17:13] luizluca commented on #295
Hello, I'm the original bug reporter. Thanks @Andy2244 .

During my tests, smbd did not start while there was an existing TIME_WAIT socket. Maybe it is something specific to OpenWrt build?

[2020-02-01 03:29] namjaejeon commented on #295
@luizluca Hello, First, Thanks for your reporting.
Could you please share how to reproduce it ?

Thanks!

[2020-02-01 04:22] namjaejeon commented on #295
@luizluca we do recently fix SO_REUSEADDR bug.(https://github.com/cifsd-team/cifsd/commit/b2677065a00992ac882f08d98ab4d3e6b0dd5837). Could you please try to reproduce it on  the latest master of ksmbd ?

[2020-02-01 05:43] luizluca commented on #295
Sure. I installed it on OpenWrt 19.07.1. After ksmbd 3.1.0 was up, I connected with some clients. I restarted service and got this:

[code]
The fix b267706 seems to fix exactly what I'm facing. @Andy2244, do you have a recent pre-compiled package for 19.07 mips_24kc? v3.1.3 includes the fix.

[2020-02-01 14:16] Andy2244 commented on #295
3.1.3 is "11 hours ago" i'm not a buildbot, so maybe i can make some room tomorrow, but i also have to test all the new namechanges again, so it's not a trivial PR.

[2020-02-03 12:54] namjaejeon commented on #295
@Andy2244 please wait a bit more. I will release cifsd-tools one more tomorrow.

[2020-02-03 13:59] Andy2244 commented on #295
Sure, had no time this weekend, so next weekend is the new eta for me.

[2020-02-04 08:12] namjaejeon commented on #295
Please pull cifsd 3.1.3 and cifsd-tools 3.2.1 version if you have time.
Thanks!

[2020-02-06 02:55] neheb commented on #138
Closing as IIRC, it was a cosmetic issue.

[2020-02-06 02:55] #138 closed

[2020-02-09 18:32] Andy2244 opened #328 "ksmbd/cifsd release name missmatch?"
Whats-up with the git name change back to cifsd?

We now have a name mismatch for releases again, since the .tar.gz files have a "cifsd-..." root folder?
Yet the makefile uses ksmbd as names, so the extracted rootfolder of the release files should match the actual project name.

[2020-02-09 22:33] Andy2244 commented on #295
@luizluca try https://github.com/openwrt/packages/pull/11290

[2020-02-11 11:19] #328 closed

[2020-02-13 09:34] Andy2244 opened #334 "smb1 + android error/crashes."
I just updated our latest version and now i build with smb1 included, so older devices and Android can work, yet now i have a report with massive problems?

So can you take a log at the debug/errors, see comments on this PR.

https://github.com/openwrt/packages/pull/11290

[2020-02-13 21:12] namjaejeon commented on #334
Checking, Thanks for your report!

[2020-02-17 19:43] luizluca commented on #295
@Andy2244 , you might not be but you can configure one: luizluca/openwrt-packages@29d7601feb84551578c4a72e7b07f3c16e29a344

I tried to configure it to build nightly (I'm not a circleci expert). I'll check if it works tomorrow.
It uses 19.07.1 ath79 sdk by default (which matches what I need). You can create different branches for different stable releases, 19.07-snapshot, master-snapshot and each f

[2020-02-17 21:20] namjaejeon commented on #334
@BrainSlayer Sebastian, Have you ever check smb1 working on big endian target ? dd-wrt seems to have the same issue. And it's hard to verify although I tried to find missing endian conversion on smb1 because I don't have a big endian target, can you help me improve? I applied current endian changes to ksmbd-next.

[2020-02-18 02:42] luizluca commented on #334
You can use qemu-system-mips, which is big endian. You can even try qemu-system-mipsel (little endian) to test a endianness-only issue. I shared owrt script that can download and run an OpenWrt machine. However, openwrt is currently only building big endian (malta/be) machines, which is enough for your tests.

I'll stop (ab)using OpenWrt PR. It's better to deal directly here. I'm following ksmb(-t

[2020-02-19 10:50] Andy2244 commented on #295
@luizluca yeah i have also created something via docker for a fast build: https://github.com/Andy2244/openwrt-package-builder

What i meant was that its not feasible for me to build+test every few days, so i usually reserve some time on weekends, since actually testing on live hardware is the time consuming part.

[2020-02-21 10:18] fredtrot opened #346 "Quota support?"
Files written through ksmbd seem not to be counted by quota. Is this expected behavior? If yes, is there any plan to add support for quota?

[2020-02-21 11:12] monsterzzzz opened #347 "Probably KSMBD_STARTUP_CONFIG_INTERFACES(req) returns wrong interface name"
The first 4 chars are missing.
In the conf. file, the settings are:
[global]
	netbios name = |NAME|
	server string = |DESCRIPTION|
	workgroup = |WORKGROUP|
	interfaces = br-lan
	bind interfaces only = yes
	ipc timeout = 20
	deadtime = 15
	map to guest = Bad User
	smb2 max read = 64K
	smb2 max write = 64K
	smb2 max trans = 64K
	cache read buffers = no
	cache trans buffers = no

but in the log file,

[2020-02-21 12:02] namjaejeon commented on #347
I can't even reproduce it using your setting. Could you please debug more on your reproducible settings ?

[2020-02-21 12:05] namjaejeon commented on #346
The quota is not yet supported. I have a plan to implement all smb features in ksmbd. but I have a massive works now. The priority may be low in order. Are you okay ?

[2020-02-21 12:32] monsterzzzz commented on #347
Using the settings above we got "ksmbd: ksmbd_tcp_set_interfaces:596: Unknown interface: an". Obviously the "br-lan" was cut into "an". If I set "interfaces = AAAAbr-lan", it just works. Is it due to "share_fake_fscaps" was added? With the same conf. file on Version 3.1.3, everything works fine.

[2020-02-21 12:43] namjaejeon commented on #347
Got it, You are using cifsd(ksmbd) version 3.1.4, right ? If so, what version of cifsd-tools are you using ? If you used 3.2.1, you should use 3.2.2 version to match with ksmbd(cifsd) 3.1.4.

[2020-02-21 12:50] fredtrot commented on #346
Even if quota is not supported on smb protocol level, would it be possible to write files so that quota on file system level is updated? I guess quota is not updated because file IO is done in kernel space and bypass this functionality. I would appreciate if you could give some hints on what needs to be done (code wise) to fix it.

[2020-02-21 12:52] monsterzzzz commented on #347
Exactly! I will try cifsd-tools 3.2.2. Thank you!

[2020-02-21 13:02] namjaejeon commented on #346
Let me check it.

[2020-02-21 13:04] namjaejeon commented on #347
Good! Close this issue.

[2020-02-21 13:04] #347 closed

[2020-02-21 13:14] namjaejeon commented on #334
Note: Hyunchul lee will check smb1 endian issue on next week. Please wait for him to fix it.

[2020-02-21 13:46] BrainSlayer commented on #334
i need todo more excessive tests on my big endian systems. with the
current revision i dont see much problems.

the last issue i had was the cifs client message

Bad SMB: : dump of 48 bytes of data at 0x87366740
  40000000 424d53fe 00020040 00000000 . . . @   S M B @ . . . . . . .
  00020010 00000001 00000000 00000009 . . . . . . . . . . . . . . . .
  00000000 00000644 00000000 00000050 . . . . D

[2020-02-21 14:04] hclee commented on #334
I will check this problem in the next week.

[2020-02-28 00:29] namjaejeon commented on #346
Have you ever tried to use kernel NFS server for quota ? It seems to have same issue. right ?

[2020-02-28 03:58] hclee commented on #334
Hello @luizluca ,

I analyzed your dump files.

Cause of the "Invalid handle" failure is that Android clients try to close a directory that is already closed. A server closes the directory automatically if the end of the directory is reached. So vlc does not try to close the directory.

Sorry, I cannot understand what problem is about "dirxyz" exaclty. Could you explain it by example?

There are n

[2020-02-28 04:19] luizluca commented on #334
If I have this directory structure:
- folder1
  - folder1.1
  - file1
  - file2
- folder2

It lists at share root (as expected):
- folder1
- folder2

But when I enter folder1, it shows again and only folder1 as a subfolder of folder1, not folder1.1 or file[12]. My client acts as if it was:

//Server/share/folder1/folder1/folder1/folder1/...

It works with samba3.

[2020-02-28 04:42] namjaejeon commented on #334
@hclee regarding to invalid handle error when closing directory, we need to try to reproduce it again on ksmbd-next. I fixed a lot of endian issues on ksmbd-next. maybe, we should try to reproduce it after installing apps in smartphone.

[2020-02-28 05:15] namjaejeon commented on #334
Maybe client could have checked somehow it failed to chdir, but it should have worked: android-endlessdirs.pcapng.gz

@luizluca Is this issue reproducible in ksmbd-next ? I am wondering if your test result is reported on old ksmbd-next. I fixed a lot of conversion issue on ksmbd-next. the last patch of smb1 conversion is this one (https://github.com/cifsd-team/cifsd/commit/ad177795888d7705eccf672a

[2020-02-28 06:26] hclee commented on #334
@luizluca Could you capture SMB packets sent between a **little endian** ksmbd and an android client. I cannot test it because of vacation. the search pattern for looking up directory entries in client's SMB request is strange.

[2020-02-28 07:07] fredtrot commented on #346
I haven't run kernel NFS server so I'm not sure. I could check it if I would investigate this further, but this has become low priority to me right now.

[2020-02-28 12:40] luizluca commented on #334
I just tested it with a built from 20 minutes ago. It's just the same.

[2020-02-29 04:56] luizluca commented on #334
I'm doing a side-by-side debug and found some interesting things:

- The last "Session Setup AndX Response" (4th in the 4-step authentication) have bytecount==0 in ksmbd while samba informs server SO, samba version and primary domain. It might be optional.
- ksmbd uses id==0 (fid, session key, tree id, referent id, search id) when samba uses zero only for an absent field. For example, in "Tree Con

[2020-02-29 10:36] hclee commented on #334
@luizluca

Thank you for the detailed explanation ;)

I also found this problem. As you said, the cause of keeping entering a directory forever is '\0' in the search pattern. What I am confused is why this problem is not reproducible in little endian.

We have the bug to count the length of a filename including '\0' character. I will send the patch to fix it.

I think this issue is not related wit

[2020-02-29 10:53] hclee commented on #334
@luizluca

We have the bug. we must close the directory if the "Close on EOS" flag is set. I will send the patch to fix it.

Thank you!

[2020-02-29 13:17] namjaejeon commented on #334
@luizluca Push Hyunchul's patches into ksmbd-next now.

[2020-02-29 16:24] luizluca commented on #334
@namjaejeon and @hclee  , finally I can use all my Android apps! Thank you.

I would still take a look on the random creation time field.

[2020-03-01 07:58] namjaejeon commented on #334
@luizluca It was possible with your detailed description. Thank you very much!
@hclee Thanks for your work!

[2020-03-01 12:26] namjaejeon commented on #334
@luizluca Okay. I am glad if you fix it.

[2020-03-01 12:52] namjaejeon commented on #334
@BrainSlayer  Very stranged. Could you please fully turn on debug message of cifs client ?
https://wiki.samba.org/index.php/LinuxCIFS_troubleshooting

[2020-03-04 21:03] namjaejeon commented on #346
@fredtrot Okay, I will take a look.

[2020-03-11 23:12] sicaryo opened #359 "failed using infuse app on iOS/tvOS"
Using infuse app (a media player on iOS and tvOS), could find the share but failed to connect. tried to specify the smb version to 2 and 3, or specify ip addrs,  not working.

Infuse is widely used for fruit/appl users, it would be great if we can make Ksmbd work for them. thanks!

[2020-03-11 23:45] namjaejeon commented on #359
Could you please check it with #ksmbd-next branch(https://github.com/cifsd-team/cifsd/tree/ksmbd-next) if you don't try it ?

git clone --branch=ksmbd-next https://github.com/cifsd-team/ksmbd

We did recently fix some issues with iphone app. This change is in #ksmbd-next branch.

[2020-03-12 06:35] sicaryo commented on #359
tried the *-next branch, still no luck. switched on debuting, check the log behind. I compared it with successful connection by macOS. what I can see the difference is in the failed log there is no more action after checking the IPC$, rather than in the good log there is IPC path creation..

----log of failure---
Thu Mar 12 14:30:26 2020 kern.info kernel: [  860.468142] ksmbd: ksmbd_decode_ntlmssp

[2020-03-12 06:54] namjaejeon commented on #359
Okay, Could you please share wireshark or tcpdump file to analyse SMB packets ?
If you provide dump file to two case(success with MacOS, and failure with infuse app), I can fix them.

[2020-03-12 15:45] sicaryo commented on #359
attached tcpdump files, see if them a bit help. and thanks really!

[infuse.pcap.zip](https://github.com/cifsd-team/cifsd/files/4325090/infuse.pcap.zip)
[mac.pcap.zip](https://github.com/cifsd-team/cifsd/files/4325093/mac.pcap.zip)

[2020-03-12 23:54] namjaejeon commented on #359
Sorry, Could you please share one more dump between infuse app and samba ? Because I need to check packets when infuse app succeed to connect with some server.

[2020-03-13 00:25] sicaryo commented on #359
not at all. my pleasure to do some help.

this was dumped for infuse to samba4 and succeeded. file size was large, just check the beginning packets I guess..

[infuse_good.pcap.zip](https://github.com/cifsd-team/cifsd/files/4327234/infuse_good.pcap.zip)

[2020-03-13 01:32] namjaejeon commented on #359
[code]
Can you check if it improves after applying the patch above?

[2020-03-13 02:32] namjaejeon commented on #334
@luizluca Any news ? Could you explain more about symptom ? I fixed the issue that creation time is not set for dot and dotdot file on #ksmbd-next. not sure it is the same issue that you are facing.

[2020-03-13 03:28] sicaryo commented on #359
still not working. seems this time got 26 packets more than before patched

[infuse2_bad.pcap.zip](https://github.com/cifsd-team/cifsd/files/4327702/infuse2_bad.pcap.zip)

[2020-03-13 04:52] namjaejeon commented on #359
Thanks for your testing!
please revert previous patch. and
[code]
Please try this change.

[2020-03-13 06:30] sicaryo commented on #359
no...  however more a line added in log.

---
Fri Mar 13 14:27:20 2020 kern.info kernel: [87073.482900] ksmbd: smb2_tree_connect:1559: tree connect request for tree IPC$ treename \\hp.local\IPC$
Fri Mar 13 14:27:20 2020 kern.info kernel: [87073.492636] ksmbd: smb2_tree_connect:1570: IPC share path request
Fri Mar 13 14:27:20 2020 kern.info kernel: [87073.498885] ksmbd: smb2_set_rsp_credits:400: cr

[2020-03-13 07:12] namjaejeon commented on #359
Okay, I will buy iphone and directly check it. please wait a bit more.

[2020-03-17 04:58] luizluca commented on #334
@namjaejeon , I just tested it (2020-03-17) and I do not see that random creation time anymore. Thanks.

I guess this fixes all issues I saw with android clients. @Andy2244 , @namjaejeon , this issue is ready to close.

[2020-03-17 05:10] namjaejeon commented on #334
@luizluca Okay! Thanks for your feedback!
@Andy2244 I will push changes from #ksmbd-next to #master tonight. You can take next version tommorow or when you have free time for release. Thanks!

[2020-03-17 06:04] namjaejeon commented on #334
@Andy2244 Release ksmbd 3.1.6 version and ksmbd-tools 3.2.3 version now.

[2020-03-17 06:06] namjaejeon commented on #359
FIXED. Can you check the latest cifsd(ksmbd) master(tag 3.1.6) ?

[2020-03-17 12:09] Andy2244 commented on #334
ok thanks for the info, will try make a new release this week.

[2020-03-17 12:28] sicaryo commented on #359
NEAT! tested ok on infuse/tvOS. step closer to replace samba4, if... vfs/fruit/timemachine supported :)

Really Thanks!

[2020-03-17 12:28] #359 closed

[2020-03-17 12:34] luizluca commented on #334
@Andy2244 , please consider that whenever you touch a kmod package, openwrt buildbot remove older kmods while the new one is compiled only for openwrt-19.07-snapshot only. If its kernel version differ from the release one, you'll have your kmod in a broken state until next release. OpenWrt does have a spot to place multiple kmod versions for each kernel release but it looks like it's not used for

[2020-03-25 18:21] Neustradamus commented on #334
I am lost, it is cifsd or ksmbd?

[2020-03-25 20:51] namjaejeon commented on #334
cifsd is directory name. ksmbd is thread(task) name. cifsd == ksmbd.

[2020-03-25 21:49] Neustradamus commented on #334
@namjaejeon: You have not changed the name of the project and the soft recently?
Like you know, I follow the project since a long time: cifsd -> smbd -> ksmbd -> cifsd.

And any news to move the repositories:
- cifsd-team/cifsd -> cifsd-team/cifsd-old
- namjaejeon/cifsd -> cifsd-team/cifsd
- ...

The goal is to have the perfect code in cifsd-team.

For example, Microsoft has not main projects in u

[2020-04-02 07:08] namjaejeon commented on #334
@Andy2244 Can I close this ISSUE if release is done ?

[2020-04-02 08:15] Andy2244 commented on #334
sure

[2020-04-02 08:15] #334 closed

[2020-04-03 04:54] namjaejeon commented on #178
FIXED.

[2020-04-03 04:54] #178 closed

[2020-04-08 03:53] silenceleaf opened #384 "Can I build this in Archlinux?"
make and I got this error

make -C /lib/modules/5.6.2-arch1-2/build M=/home/junyan/storage/src/cifsd modules
make[1]: *** /lib/modules/5.6.2-arch1-2/build: No such file or directory.  Stop.
make: *** [Makefile:37: all] Error 2

[2020-04-08 04:12] hclee commented on #384
Hello @silenceleaf,
You might refer to "out-of-tree module compilation" at https://wiki.archlinux.org/index.php/Compile_kernel_module.
I have never used Archlinux (;

[2020-04-19 03:24] luizluca opened #388 "SMB2_FIND_ID_BOTH_DIRECTORY_INFO return access denied"
Hello,

Since #334 closed, one of my apps changed from smb1 to smb2. It's now using SMB2_FIND_ID_BOTH_DIRECTORY_INFO instead of FIND_FIRST2

And now I have new issues:

[code]

And I get these dmesg:

[code]

As usual, samba36 works as expected.

[code]

I tested with ksmbd-next from 2020-03-17-00-05-53 and 2020-04-19-00-04-37.

Is it another Endianess issue?
https://github.com/cifsd-team/cifsd/bl

[2020-04-20 05:37] hclee commented on #388
Hello @luizluca,
We recently have added the feature that allows files to be accessed only for users who has access rights. So you have to check that the login user have access rights for the directory.

If you don't want this feature, you can add "force uid = root" parameter in smb.conf.

[2020-04-22 12:53] namjaejeon commented on #384
@silenceleaf Can I close this ISSUE if you resolve it ?

[2020-04-22 20:12] silenceleaf commented on #384
yes, I will close this.

[2020-04-22 20:12] #384 closed

[2020-04-22 20:47] mrkiko opened #390 "SPAM in dmesg"
Hi!
thank you for your great work!!

I am testing ksmbd on my Gnubee PC1: all seems to work well so far, except I can see the following in client dmesg:
uname -a -> Linux mStation 5.4.30kb+ #1 SMP Tue Apr 7 21:01:18 CEST 2020 x86_64 GNU/Linux

[829725.071158] 00000000: 424d53fe 00000040 00000000 00000012  .SMB@...........
[829725.071160] 00000010: 00000001 00000000 ffffffff ffffffff  .............

[2020-04-22 20:50] mrkiko opened #391 "touch successfully updates timestamps of directories even in read-only filesystems"
Hello!!

It seems touch is able to successfully update the timestamp of directories in a read only share on ksmbd.
Even the underneath filesystem is read only, still an
ls
on the server reflects updated timestamp.
My setup looks like:
client -> ksmbd server exporting read-only share -> ext4 read-only filesystem
the timestamp appears to be updated on the read only filesystem, even tough I am not su

[2020-04-22 20:55] namjaejeon commented on #390
Hi,
5.4.30, This is your kernel version ?

[2020-04-22 21:12] namjaejeon commented on #390
Could you please tell me how to reproduce it ?

[2020-04-22 21:57] mrkiko commented on #390
Yes!

[2020-04-22 23:30] namjaejeon commented on #390
Can you tell me how to reproduce it ?

[2020-04-22 23:38] hclee commented on #391
Hello @mrkiko,
I will check it. Thank you for this report.

[2020-04-23 01:13] hclee commented on #390
If you use cifs as client, Do you turn on cifs' packet dump?
You can check it by "cat /proc/fs/cifs/traceSMB".

[2020-04-23 03:04] hclee commented on #391
This issue is fixed in #392. Could you test it?

[2020-04-23 04:45] namjaejeon commented on #391
Pushed Hyunchul's pull request to #ksmbd-next branch.
@hclee Thanks for your work!
@mrkiko Could you please recheck it with #ksmbd-next branch ?

[2020-04-23 07:12] mrkiko commented on #391
Thank you very very much! I can confirm this works as expected now!

After rebooting and remounting my disks, I can see timestamps are back to more expected values.
so, where did the system record my changes, eventough temporarily? Or was it my client caching them somehow?
closing this issue now. thanks again for your valuable work!

[2020-04-23 07:12] #391 closed

[2020-04-23 07:16] mrkiko commented on #390
Hello!!
cat /proc/fs/cifs/traceSMB -> 0

but now problem is fixed upgrading to -next. Thank you very very much!

[2020-04-23 07:18] mrkiko opened #394 "module doesn't shutdown completely upon removal"
Hello!!

If this is a known issue, which I guess it is 99%, feel free to close this issue upfront.

[mrkiko@mStation tmp]$ mount # no ksmbd mounts on client laptop
/dev/sdb1 on / type ext4 (rw,noatime,nobarrier,noauto_da_alloc)
devtmpfs on /dev type devtmpfs (rw,relatime,size=8152980k,nr_inodes=2038245,mode=755)
sysfs on /sys type sysfs (rw,nosuid,nodev,noexec,relatime)
proc on /proc type proc (rw

[2020-04-23 07:27] mrkiko commented on #390
Sorry guys, even with -next I get some spam in dmesg.
I can confirm SMBTrace isn't active.

To reproduce it: I run mpd (music player daemon) and let it update it's database.
The daemon does so by reading files over smb3 on the GnuBee NAS.

to mount:
mount.smb3 //192.168.0.208/gb_disks /mnt/nas/
resulting in the following mount appearing:
//192.168.0.208/gb_disks on /mnt/nas type smb3 (rw,relatime,

[2020-04-23 08:57] mrkiko commented on #390
sorry, forgot dmesg on server: maybe caused my multiple devices

... <truncated>
[ 1189.583843] ksmbd: fsctl_query_iface_info_ioctl:6899: br-lan speed is unknown, defaulting to 1Gb/sec
[ 2628.378530] ksmbd: ksmbd_vfs_lookup_in_dir:1829: cannot open directory /mnt/disk4/music/Air/Air - Pocket Symphony
[ 2628.399045] ksmbd: ksmbd_vfs_lookup_in_dir:1829: cannot open directory /mnt/disk4/music/Air/Air

[2020-04-23 09:08] hclee commented on #390
It seems you need to build ksmbd with CONFIG_SMB_INSECURE_SERVER=y to support SMB1.
Could you re-build and test it again?

[2020-04-23 09:13] mrkiko commented on #390
Hi!!
Yes, sure! i disabled it on purpose because I didn't think I needed that.
Will this increase overhead in the server? And what security implications will it have in my specific use-case? thank you very much for your great work!

[2020-04-23 09:27] hclee commented on #390
I think your application supports only SMB1. So if you want to use it, you must build ksmbd with CONFIG_SMB_INSECURE_SERVER=y.

I think there is no overhead, but the binary size will increase. SMB1 is deprecated because of security issues.

[2020-04-23 10:02] mrkiko commented on #390
Ok, did test it. I can confirm this still happen.

I recompiled with
CONFIG_PACKAGE_kmod-fs-ksmbd=y
CONFIG_KSMBD_SMB_INSECURE_SERVER=y

infact binary size grew.

Updated my smb.conf as follows:

[global]
	netbios name = KSMBD
	server string = Ksmbd on GB-PC1
	workgroup = WORKGROUP
	interfaces = br-lan
	bind interfaces only = yes
	ipc timeout = 20
	deadtime = 15
	map to guest = Bad User
#	smb2 max

[2020-04-23 10:08] mrkiko commented on #390
BTW ... in case it can be useful:
[878740.665311] CIFS: Attempting to mount //192.168.0.208/gb_disks
[878740.666693] No dialect specified on mount. Default has changed to a more secure dialect, SMB2.1 or later (e.g. SMB3), from CIFS (SMB1). To use the less secure SMB1 dialect to access old servers which do not support SMB3 (or SMB2.1) specify vers=1.0 on mount.
[878770.865331] 00000000: 424d53fe 0

[2020-04-23 11:53] namjaejeon commented on #394
Sorry, I can not understand what issue you raise.
Have you tried to kill server like this ?

steps:
	- kill user space daemon
		killall ksmbd.mountd
	- kill kernel space daemon
		echo hard > /sys/class/ksmbd-control/kill_server

[2020-04-23 11:55] namjaejeon commented on #390
Hm... if we change R/W share(i.e. read only = no), dump message still happen ?

[2020-04-23 12:38] mrkiko commented on #394
Hello!!
Thank you again for your work and follow-up. English isn't my native language, so forgive my tone if it's not what I wanted it to be.

So, the problem is - I am able to rmmod the module and still have ksmbd IO threads around, evne tough in the I scheduling state (don't know what it is).
The init.d script from the OpenWRt package kills the server, but I can't be 100% sure I invoked that.
St

[2020-04-23 12:39] mrkiko commented on #390
Sure, Give me some time...

[2020-04-23 12:46] mrkiko commented on #394
I mean, look at PIDs 5720 and 5731, and module is not loaded.

And, disk1 can't be umounted even tough nothing appears to be holdingfiles on it, at least for what lsof says; admittedly, there could be other causes for this.

[2020-04-23 13:00] namjaejeon commented on #394
Hi,
Thanks for your detailed explanation:)
I will try reproduce and fix it!

[2020-04-23 23:47] namjaejeon commented on #394
And your english is not bad, I just want to get more information. :)

[2020-04-24 05:03] hclee commented on #394
Hello @mrkiko,
Could you explain how to reproduce it in more detail? I cannot reproduce it.
Is the ksmbd version lastest?, and Is the kernel version 5.4?

[2020-04-24 05:12] namjaejeon commented on #394
@hclee I didn't reproduce umount busy failure, but can see ksmbd-io kworker is still alive although ksmbd module is rmmoded.

I reproduced it like this.
               Server                                                              Client
     1. run ksmbd.mountd
                                                                         2. mount ksmbd's share

[2020-04-24 06:02] mrkiko commented on #394
Yes, 5.4 kernel both on client and server, with latest ksmbd from next branch.
General workload is:
1: start ksmbd and mount share
2: let mpd (Music Player daemon) update its db
3: stop it at some point (or better, let it finish scanning all files)
4: try to shutdown ksmbd, and maybe check client dmesg

[2020-04-25 07:15] mrkiko commented on #390
SPAM happens even when in the client itself I mount this with -o ro, this kernel is running 4.19.112 .

[2020-04-25 14:11] namjaejeon commented on #390
Ah.. even though you configured read only = no, flood prints are coming ?

Okay, one more try, please configure oplocks=no in shares. Let me know the result.

[gb_disks]
path = /
comment = KDATA
force user = root
force group = root
browseable = no
read only = yes
guest ok = yes
hide dot files = no
veto files = lost+found
oplocks = no

[2020-04-25 14:50] mrkiko commented on #390
Sorry, I configured client mount as RO, didn't change server share again. I do it.

[2020-04-25 15:27] mrkiko commented on #390
Ok, it seems read only = no fixes it.

[2020-04-25 16:49] mrkiko commented on #390
Well, not quite. It does it again - more SPAM. But I guess the easiest course of action would be for you to re-create a minimal setup on a VM:
1 - Serve a good amount of audio files over ksmbd to an MPD instance on the client
2 - Watch what happens... if it does :)

[2020-04-25 16:58] mrkiko commented on #390
Or I may do so... but don't know. Still, thank you for your great work and project.

[2020-04-26 01:28] namjaejeon commented on #390
Please show me the prints to know whether it is same with old one or not.

And Have you tried to configure oplocks = no ?

[gb_disks]
path = /
comment = KDATA
force user = root
force group = root
browseable = no
read only = yes
guest ok = yes
hide dot files = no
veto files = lost+found
oplocks = no

[2020-04-26 10:33] mrkiko commented on #390
Regarding performance differences, I was not able to go above 22 MB/s with knfsd, while ksmbd was able to reach 43 MB/s more or less on the same system.
Tested with dd. do you have any possible explanation'
Yes, I played with block sizes and thread numbers more or less.
As for oplocks, I guess I will not be able to test, at lest in short order. Sorry.

[2020-04-26 18:20] jmarcet opened #395 "Memleak in ksmbd"
While searching for another issue, on OpenWRT master x86-64, kernel 5.4.34, kmemleak showed this while operating normally:

[code]

If you need any other details please ask.

[2020-04-26 23:32] namjaejeon commented on #395
Could you please tell me ksmbd version ?
sh-3.2# cat /sys/module/ksmbd/version
3.1.7

[2020-04-27 00:19] namjaejeon commented on #390
What is network speed on your system ? you can measure it using iperf.
If network speed is not over 43MB/s, This result is not reasonable.

[2020-04-27 00:36] namjaejeon commented on #395
Is this patch(https://github.com/cifsd-team/cifsd/commit/42bb0cd6f57e3e77650cd9ab27309eedda73bf33) helpful if you are using version lower than 3.1.7?

[2020-04-27 13:57] jmarcet commented on #395
3.1.6

[2020-04-27 13:57] jmarcet commented on #395
I'll try and let you know.

[2020-04-28 03:55] namjaejeon commented on #390
@mrkiko FIXED, Pushed the patch to #ksmbd-next. but can not reproduce umount failure. You can check it with #ksmbd-next branch. Let me know if umount failure do still happen with #ksmbd-next.

[2020-04-28 12:57] jmarcet commented on #395
I've been using ksmd 3.1.6 (on kernel 5.4.35) plus [42bb0cd](https://github.com/cifsd-team/cifsd/commit/42bb0cd6f57e3e77650cd9ab27309eedda73bf33) and I still see leaks.

[kmemleak2.log](https://github.com/cifsd-team/cifsd/files/4545833/kmemleak2.log)

[2020-04-28 21:03] namjaejeon commented on #395
It seems to be a different leak. Will take a look.

[2020-04-28 23:35] namjaejeon commented on #395
Could you please share your smb.conf ? I want to check whether cache read buffer and cache trans buffer are disable in it.

        - cache read buffers (default: yes)
        - cache trans buffers (default: yes)
                This parameter allows ksmbd use buffer cache(pool) to avoid huge
                alloc/dealloc pressure from read and trans response buffer.

[2020-04-28 23:43] namjaejeon commented on #395
Could you please share tcpdump or wireshark dump file after reproducing leakage ? because It seems that the client does not close after opening the file.

[2020-04-28 23:44] hclee commented on #388
@luizluca, If there are not other problems, could you close this issue?

[2020-04-29 00:24] namjaejeon commented on #395
FIXED on my test. Could you please confirm problem is improved ?
'''
diff --git a/oplock.c b/oplock.c
index 09987c6..cce27bc 100644
--- a/oplock.c
+++ b/oplock.c
@@ -449,6 +449,7 @@ void close_id_del_oplock(struct ksmbd_file *fp)
        }

        opinfo_count_dec(fp);
+       atomic_dec(&opinfo->refcount);
        opinfo_put(opinfo);
 }
'''

[2020-04-29 12:16] namjaejeon commented on #390
@mrkiko And this issue came with samba. I think that it is cifs client issue or turn off debug message of client.

[2020-04-29 13:04] luizluca commented on #388
Sorry @hclee , I missed this comment.

All my directories since / are world readable:

 drwxr-xr-x   17 root     root          4096 Mar 30 11:16 .

It is not FS permission. And samba3 does work with the same conf.

I did give a try and forcing root does not change the permission error. It might be something else, maybe big endian issue with permission check.

[2020-04-29 13:21] namjaejeon commented on #388
@luizluca Can you confirm this issue happen with ksmbd 3.1.6 version ? Because Hyunchul's patch-set is merged into 3.1.7 version.

sh-3.2# cat /sys/module/ksmbd/version
3.1.7

[2020-04-29 13:37] luizluca commented on #388
[code]

If it is really needed, I can give another try with an older snapshot, but I will take some time as I only have 3.1.3 from distribution and my buildbot tracks git ksmbd-next.

[2020-04-30 03:02] namjaejeon commented on #388
@luizluca okay, it is needed. I will wait.

[2020-04-30 13:17] mrkiko commented on #390
Hello!!

Thank you very very much for your work, really appreciated!!
Unfortunately I am not able to test this. And i wasn't seeing any umount failure after that one. So if you agree I would close this issue.
I am very grateful for your work, and for  your attention...

Enrico

[2020-05-02 05:32] jmarcet commented on #395
That seems to fix it for me too. I have been testing it on top of kernel 5.4.36 & ksmbd 3.1.7.

After 18h uptime, not one single leak detected.

[2020-05-02 13:52] namjaejeon commented on #395
@jmarcet Pushed the patch to #master and released 3.1.8 version. Thanks for your check!!

[2020-05-02 13:52] #395 closed

[2020-05-02 13:55] namjaejeon commented on #390
@mrkiko Okay, Thanks for your report and check! If you have any issue, let me know it! Closed this issue.

[2020-05-02 13:55] #390 closed

[2020-05-02 13:55] #394 closed

[2020-05-02 13:56] namjaejeon commented on #394
Can not reproduce this issue...

[2020-05-14 18:39] luizluca commented on #388
Update: Still happens on recent snapshot:

[code]

The difference is that it does not show the "no right to enumerate directory" anymore. I didn't sniffed the traffic, but in the user perspective, it was the same.

As requested, I retried downgrading to 0d7ff8d7846d4825afeacdbeafc800982241d72c (module only). It was just the same (but now with the "no right to enumerate directory") back.

[2020-05-19 10:10] Andy2244 opened #407 "3.1.9 release missing?"
Is there a reason 3.1.9 has no release yet?

[2020-05-19 10:49] namjaejeon commented on #407
Ah, I forgot it because I was busy these days... I will do that today.
Thanks for letting me know it.

[2020-05-19 11:33] namjaejeon commented on #407
ksmbd 3.1.9 and ksmbd-tools 3.2.5 version released.
Thanks!

[2020-05-19 11:34] Andy2244 commented on #407
cool thanks

[2020-05-19 11:34] #407 closed

[2020-05-27 05:44] mrkiko commented on #248
Should this issue still be considered open?
If so, would you mind trying with the latest git HEAD of this module?
Thanks!!

[2020-05-27 15:24] ahmar20 commented on #248
The issue still persists in kernel v4.* (OpenWrt v19.07.3) and v5.* (testing kernel). This error shows up:
`Kernel panic - not syncing: stack-protector: Kernel stack is corrupted in: ksmbd_auth_ntlmv2+0x4f8/0x518 [ksmbd]`

[2020-05-27 20:04] mrkiko commented on #248
thanks for reporting this back!

[2020-05-28 05:08] namjaejeon commented on #248
@ahmar20 If someone is able to reproduce this issue, please fix it instead of us. We can not reproduce it and can not find any clue in ksmbd code.

[2020-05-28 08:55] ahmar20 commented on #248
ksmbd works flawlessly on xrx200 without user security (username/password combination). The device crashes instantly when you try to access a share with security enabled. Guest logins are fine. If someone has experience with development and have a xrx200 based device then they can probably find the culprit. To me it looks like a target specific issue.

[2020-05-28 09:08] neheb commented on #248
Strange. xrx200 is a big endian mips device. Should be supported. Maybe something with the kernel config.

[2020-05-28 18:34] ahmar20 commented on #248
I am not experienced enough in Linux programming so cannot experiment with anything. If there's anything that can be done I'm happy to test it.

[2020-05-29 07:21] mrkiko commented on #248
As far as I am concerned, I would like to see ksmbd upstreamed.
Regardless of how it goes, I guess it may be in the best interest of the project to fix this issue, because of it's nature.
I say this in the consciousness that what I am asking is a big effort from both parties in a sense:
Can you confirm this problem happens in malta MIPS big endian w/ qemu?
If you're willing to try, it would be gre

[2020-05-29 07:54] ahmar20 commented on #248
Do you want me to install QEMU on the router or should I try it in Ubuntu system with virtualized OpenWrt?

I have also read about QEMU on OpenWrt website and I think I can run it on Ubuntu and test if this problem exists there as well.

[2020-05-29 07:59] mrkiko commented on #248
If you can do that it would be great!!

I mean - run the qemu on ubuntu, but not with kvm / x86, but with a big endian MIPS architecture like malta, so yo get nearer to the possibility of getting that issues as in your xrx200 device.
I don't have such a device readily at hand to do this.

On Fri, 29 May 2020, Ahmar wrote:

[2020-05-29 08:04] ahmar20 commented on #248
Is `malta` included by default? I do see `qemu-system-mips` and `qemu-system-mipsel` architecture in OpenWrt documentation and I think mips is for big-endian devices. So I should be running it with that target command layout.

[2020-05-29 09:09] mrkiko commented on #248
@ahmar20 thank you for helping out.
so, I don't have experience with matla - I only know it exist. But it should be an openwrt target.
You may ytry to build a malta image from openwrt build system, and then run that image under qemu.

[2020-05-29 09:10] mrkiko commented on #248
https://openwrt.org/docs/techref/targets/malta
This platform is intended to be used with Qemu (in big or little endian mode).

[2020-05-29 10:05] hclee commented on #248
Hello,
I had tested ksmbd in Qemu MIPS malta emulation, and No stack corruption had been occurred.
I enabled the CONFIG_STACKPROTECTOR config in kernel 4.19, and mounted cifs with vers=3.11 and sec=ntlmv2. the xfstests result seemed same with the result in x86.

[2020-05-29 10:50] ahmar20 commented on #248
I tested qemu-system-mips on Ubuntu, installed ksmbd on a v19.07.3 (default file download from malta target) and used identical configuration for both my W8980 and QEMU. The QEMU host did not crash or report any error when I mounted the share with a user/password. While on W8980 it crashed just like before with the same config and `mount` command.

The command that I used locally was `mount -t cif

[2020-06-15 11:08] Madi112233 opened #414 "Issue: samba share rejects connection requests coming from ppp0 interface even if IP/Interfaces are added to smb.conf."
In ksmb (in-kernel samba) compiled for DD-WRT (OpenWRT) **smb does not accept the requests coming through ppp0 tunnel** (e.g. PPTP vpn). Same setup worked for samba 3.6.
DD-WRT (OpenWRT) Router acts as a Server for both Samba and PPTP.
All subnets are added to smb.conf and routes are defined to allow PPTP to see local network
Somehow smb recognizes that requests are coming from remote PC and rejec

[2020-06-15 12:20] namjaejeon commented on #414
Can you share the result of the following command
 1. ps -ax | grep ksmbd
 2. ifconfig -a

[2020-06-15 13:14] Madi112233 commented on #414
Here with PPTP vpn connected:

root@DD-WRT2:~# **ps -ax | grep ksmbd**
ps: **unrecognized option**: a
BusyBox v1.31.1 (2020-06-13 00:39:55 +03) multi-call binary.
Usage: ps
Show list of processes
        w       Wide output
        T       Show threads
root@DD-WRT2:~# **ps -w | grep ksmbd**
 4678 root      1196 S    ksmbd.mountd -c /tmp/smb.conf -u /tmp/smb.db
 4679 root      1244 S    ksmbd.mount

[2020-06-15 13:25] namjaejeon commented on #414
okay, thanks!
can you share "dmesg" result also ?

[2020-06-15 13:46] Madi112233 commented on #414
Sure!
root@DD-WRT2:~# **dmesg** | grep ksmbd
[   37.999828] ksmbd: kill command received
[  698.792885] ksmbd: kill command received
[  701.156453] ksmbd: ksmbd_conn_handler_loop:339: sock_read failed: -108
[ 1190.106728] ksmbd: kill command received

[2020-06-15 14:33] Madi112233 commented on #414
Strangely I don't see any usuccessfull connections. You might also need below:
root@DD-WRT2:~# **netstat -an | grep 445**
tcp        0      0 0.0.0.0:445             0.0.0.0:*               LISTEN
tcp        0      0 0.0.0.0:445             0.0.0.0:*               LISTEN
tcp        0      0 192.168.2.1:445         192.168.2.127:50195     ESTABLISHED
tcp        0      0 192.168.2.1:445         192.

[2020-06-15 18:47] Madi112233 commented on #414
I think I know what is happening. When samba service starts **ppp0** link is down, so it doesn't add PPP interface even if you specify it (interfaces = ... ppp0). Samba only adds interfaces that are UP.
I think the problem with ksmbd that cannot correctly add ip/mask in the interfaces section

for smb.conf
**interfaces = br0 eth0 lo 192.168.2.1/32**
bind interfaces only = **no**
ps output:
root@DD

[2020-06-16 02:28] namjaejeon commented on #414
Okay, ksmbd doesn't support ip/mask in interfaces param. I am wondering one thing, which of the two (interfaces = ppp0 or 192.168.2.1/32) affect working ppp0 in samba ?

[2020-06-16 03:25] Madi112233 commented on #414
It works ONLY when 3 condition s are met:
1) ppp0 is UP
2) ppp0 is added to interfaces in smb.conf
3) samba service is restarted

But if you disconnect from VPN then connect again you no longer have samba share access without restarting the samba service. Would it be possible to specify IP/mask instead of interface?

[2020-06-16 03:53] namjaejeon commented on #414
Ah, a little confunsing. samba is different with cifsd(ksmbd). You are saying samba 3.6 or cifsd(ksmbd) ?

[2020-06-16 04:11] Madi112233 commented on #414
Oh, I meant cifs(ksmbd) for sure. My apology. Everything above is for cifs(ksmbd)

[2020-06-17 09:51] Madi112233 commented on #414
I've changed the title, the only issue I see for know is the **ability to add IP/mask to interfaces param** in smb.conf. This was fully supported in old samba according to samba wiki.

[2020-06-17 11:48] namjaejeon commented on #414
Okay, Let me check it.

[2020-06-27 21:39] Andy2244 commented on #295
@luizluca is this still a issue with the latest builds from snapshots?

[2020-06-28 21:12] luizluca commented on #295
I guess that one was fixed sometime ago.
Anyway, I was not able to test it as I got this error when using both kernel module
and server from current cifsd project (-next brach)

 [20838.758539] ksmbd: ksmbd_tcp_set_interfaces:596: Unknown interface:

I got that kind of error in the past when I used different kernel/userland code versions.
However, now both are freshly built. It happens even with b

[2020-07-05 06:47] ptpt52 opened #424 "cifsd crash on openwrt: kernel panic"
here is the log:
[code]

[2020-07-05 08:03] neheb commented on #424
Platform is little endian.

[2020-07-05 08:15] ptpt52 commented on #424
yep it on mt7621.

[2020-07-05 08:18] ptpt52 commented on #424
it is version 3.2.2 I am trying to update to master HEAD

[2020-07-05 08:31] neheb commented on #424
https://github.com/cifsd-team/cifsd/pull/419

[2020-07-05 10:41] namjaejeon commented on #424
Hm.. work->sess seems to be NULL in smb1_set_sign_rsp. can you check the below change fix your issue ?

'''
diff --git a/server.c b/server.c
index 819a4cf..cdd91b4 100644
--- a/server.c
+++ b/server.c
@@ -226,7 +226,7 @@ static void __handle_ksmbd_work(struct ksmbd_work *work,
                        }
                }

-               if ((work->sess && work->sess->sign) ||
+               if (w

[2020-07-05 11:29] ptpt52 commented on #424
@namjaejeon
I will try it, and it may take time to do test. I will feed back if any update

[2020-07-05 11:38] namjaejeon commented on #424
@ptpt52 Okay, I will wait.
Good night!

[2020-07-08 00:09] Bernie commented on #424
I think I have the same issue on ath79 architecture with my Archer A7 router:

[code]

This is on openwrt v19.07.3 with ksmbd-server 3.2.1-1.

Any update on this issue?

Thanks!

[2020-07-08 00:13] Bernie commented on #424
Actually, just noticed the stack traces are different.  Let me know if I should file a different bug for this.

Thanks!

[2020-07-08 01:21] namjaejeon commented on #424
@Bernie Yes, Your kernel oops is not related with this ISSUE ptpt52 raise. anyway, I will check it.

[2020-07-08 01:47] Bernie opened #425 "cifsd: null pointer on openwrt at ksmbd_vfs_kern_path causes kernel oops"
This occurs on ath79 architecture with openwrt v19.07.3 with ksmbd-server version 3.2.1-1.

Stack trace follows:

[code]

Error occurs when a client makes an initial request on a share, before any authentication.  On the client side, request times out, followed by disconnect from network as the router goes down and reboots.

[2020-07-08 01:48] Bernie commented on #424
Created new issue, #425.

Thank you.

[2020-07-08 01:57] namjaejeon commented on #425
@Bernie Can you reproduce this issue with 100% frequency ? If yes, can you share tcpdump after reproduction ?

[2020-07-08 02:29] Bernie commented on #425
Yes, 100%.  The client is KDE Dolphin, version 17.12.3.  Not only does it occur 100% of the time, but the client apparently will send the offending packet repeatedly while it is still open.  Issue occurs when listing shares from the server.  To reproduce, I open up the client, select "Samba Shares" and then type the server address in the top location field.

On the first attempt, it listed the ava

[2020-07-08 02:33] namjaejeon commented on #425
Cool, Thanks for your help. maybe, there is race condition issue between kill server and client connection. I wll take a look.

[2020-07-08 03:06] namjaejeon commented on #425
One more request, can you share tcpdump when client connect with samba ? I think that this client doesn't send tree connect request about share.

[2020-07-08 04:41] sergey-senozhatsky commented on #425
Hmm, something odd. I don't see empty rpc methods in the capture dump, yet here we go

[code]

[2020-07-08 07:17] namjaejeon commented on #425
@sergey-senozhatsky Ah, The empty file name means root, i.e. open about share path. So it is no problem. The problem seems to be share->path is NULL in smb2_get_info_filesystem(). When analyzing packets, This client only sends tree_connect for IPC and does not send tree connect requests for share. And the tree id of the request for get info filesystem is IPC. I wonder if smb2_get_info_filesystem_p

[2020-07-08 08:03] sergey-senozhatsky commented on #425
At the same time we certainly don't expect empty rpc method

[2020-07-09 01:05] namjaejeon commented on #425
@sergey-senozhatsky Let me check.

@Bernie Is it possible that you provide tcpdump with samba ?

[2020-07-09 23:22] Bernie commented on #425
Unfortunately, I never had samba running on this router and was hoping to avoid doing so.

I'll see if I can get it running on a different machine if it'll help.

[2020-07-10 02:29] Andy2244 commented on #425
If you have the space (~9 MB) all you need is install the samba4-server + luci package, the luci/UCI interface is nearly identically to ksmbd. Also both can be installed at the same time, just make sure only one is actually running.

[2020-07-10 02:39] namjaejeon commented on #425
@Andy2244 Thanks for your info.

@Bernie I will try to install Dolphin file manager on my ubuntu PC. If I can not reproduce it, I will request it to you again.

[2020-07-10 08:00] BrainSlayer commented on #424
@Bernie the patch provided by @namjaejeon will fix this issue. had the same discovery on dd-wrt and users reporting that this patch fixes the issue

[2020-07-10 11:37] ptpt52 commented on #424
yep, for 5 days running no crash.

[2020-07-12 01:28] namjaejeon commented on #424
Thanks for your confirmation! Pushed the patch into #ksmbd-next.

[2020-07-12 01:31] namjaejeon commented on #425
@Bernie I installed dolphin in my ubuntu, but It seems to not support SMB connection. I am grateful if you provide a tcpdump after setting up samba on your target as Andy guided.

[2020-07-14 08:21] #424 closed

[2020-07-15 02:44] namjaejeon commented on #425
@Bernie What is your linux distribution installed dolphin by default ? CentOS ? or Mint ? maybe, I should install your environment to reproduce this issue.

[2020-07-18 01:51] ptpt52 commented on #425
@namjaejeon  hi I got another crash log:
[code]

[2020-07-18 02:06] ptpt52 opened #426 "cifsd: smb1 crash on openwrt"
logs:
[code]

[2020-07-19 00:19] namjaejeon commented on #426
I don't think this issue is related with ksmbd. kernel oops happen at BUG ON trap of deactivate_slab(). Currently, mount failures occur when your application mount with your strorage. your HW is not stable ?

<3>[250047.755839] EXT4-fs (sdb1): unable to read superblock
<3>[250047.762206] EXT4-fs (sdb1): unable to read superblock
<3>[250047.769003] EXT4-fs (sdb1): unable to read superblock
<3>[2500

[2020-07-19 00:46] neheb commented on #426
ramips USB is quite a disaster honestly.

[2020-07-21 18:42] bosim opened #428 "Sonos SMB1"
I am running the latest DDWRT build (43845), with syslog showing `Linux kernel CIFS/SMB SERVER 3.2.3 by Namjae Jeon <linkinjeon@kernel.org>`.

I am trying to get my Sonos devices using the share on the DDWRT router, however it fails. The App loads for a while and then say it cannot connect.

I then ran `echo "all" > /sys/class/ksmbd-control/debug` to get the debug log which gave me:

[code]

And t

[2020-07-21 21:10] namjaejeon commented on #428
Okay, Can you give me a tcpdump that captured the packets on problem ?

[2020-07-22 07:59] sergey-senozhatsky commented on #428
On (20/07/21 11:42), Bo Simonsen wrote:

Hmm. I this off-by-one error? Those ^B don't look right in the %s dialect
output.

	-ss

[2020-07-22 08:21] namjaejeon commented on #428
Jul 21 20:33:50 gateway kern.info kernel: ksmbd: ksmbd_lookup_dialect_by_name:220: selected NT1 dialect
Jul 21 20:33:50 gateway kern.info kernel: ksmbd: ksmbd_smb_negotiate_common:475: conn->dialect 0x2

Yep, But I can see a print that SMB1 dialect is selected, and there are no more logs afte that.

[2020-07-22 19:01] bosim opened #430 "SMB1 test findings"
Because the Sonos device needs SMB1 which fails loading share from cifsd (#428), I decided to do a bit of testing on my Debian Buster machine to see if the SMB1 implementation is working as expected. I configured `smb.conf` (using DDWRT) with `NT1` as both minimum and maximum protocol.

Here are my findings:

smbclient
-------------
Login works, `ls, put, rm` works. However on `ls` I see:
[code]
A

[2020-07-27 23:10] namjaejeon commented on #430
What is problem ?
   Error in dskattr: NT_STATUS_INVALID_NETWORK_RESPONSE
You are saying this error message ?

In my test, It work fine. can you share wireshark dump ? and what kernel version did you use ?

[2020-07-28 19:06] bosim commented on #430
It seems so, I do not get the error when connecting to samba3 also using SMB1.

Sure will make a dump. I just thought it was an easy pick, since it really look like the security blob length is not being initialized or so.

So what `cifsd` returns, as final response in the chat is:

[code]
Notice the Security blob Length..

The communication with the samba4 server is identical except for it returns

[2020-07-28 19:14] #295 closed

[2020-07-28 23:40] Neustradamus commented on #285
@namjaejeon: I am sorry to come again, but it will be really better to change this main code in upstream with steps that I have said you.

Because it is better to promote the upstream and a fork has not search function... it is only in upstream.

From https://github.blog/2015-07-29-git-2-5-including-multiple-worktrees-and-triangular-workflows/
-> https://github.blog/wp-content/uploads/2015/07/5dcd

[2020-07-30 22:44] Andy2244 opened #433 "error/hang on viewing properties of share in Win10"
I think we had this issue before, but seems back again.
If i try to right-click on the network share in windows explorer, the process just hangs and you need to kill the explorer.
In Total Commander you can get to the properties page, but that if you try access the `Network` or `Security` tab you get errors.

In the router i see those lines
[code]

PS: This is with latest 3.2.6 tools and 3.2.4 kmo

[2020-07-30 23:03] namjaejeon commented on #433
@Andy2244 Hi, I was working ACLs feature(#work.ACLs branch) these days, If it's implementation is completed, This issue will be fixed. And I didn't notice explorer hang issue on windows 10, I can just see  error and can't see permission in Security tab. Please wait a while.

[2020-08-10 14:26] senmao2020 opened #434 "move photo from capture one to cifsd NAS failed"
Capture One is a photograph software similar to Lightroom，I use cifsd NAS as a external directory。I failed to move photos in Capture One internal directory (filed stored in local disk) to cifsd NAS external directory。While the same operation with samba NAS is ok。
However，copy/move/paste file to cifsd NAS using macOS Finder works very well。

cifsd version : 3.2.4
ksmbd-tools version : 3.2.6
Linux u

[2020-08-10 21:28] namjaejeon commented on #434
Can you give me a tcpdump(or wireshark) that captured packets on problem ?

[2020-08-11 01:05] namjaejeon commented on #434
And want to know which local filesystem is used ? exfat ?

[2020-08-11 01:05] namjaejeon commented on #434
And want to know which local filesystem is used ? exfat ?

[2020-08-11 01:26] senmao2020 commented on #434
local filesystem is macOS APFS and  exfat。tcpdump will be uploaded later。

[2020-08-11 01:42] namjaejeon commented on #434
Okay, If so, problem happen with exfat. right ? It work fine with MacOS. I guess it work well if you change current local filesystem with ext4 or others. can you confirm this ?

[2020-08-11 01:52] senmao2020 commented on #434
| OS  | software | smb server |  local filesystem | result |
|------|--------|----------|---------|---------|
|macOS | Caputure One| cifsd | exFat | failed|
|macOS | Caputure One| cifsd | APFS | failed|
|macOS | Caputure One| samba | exFAT | success|
|macOS | Caputure One| samba | APFS | success|
|macOS | Finder | cifsd | exFAT | success |
|macOS | Finder | cifsd | APFS | success |

I will try to

[2020-08-11 02:04] namjaejeon commented on #434
Oh, got it, I suspect file lookup issue from local filesystem, but It is not related when I check your table.
It doesn't need to check ext4, you can send tcpdump file on CaptureOn & cifsd connection.

[2020-08-11 12:17] senmao2020 commented on #434
tcpdump pcap file captured on server side: https://drive.google.com/file/d/17x7qLtgeaybTxfC2-5FbgbqrlSiO_OkY/view?usp=sharing

[2020-08-11 23:21] namjaejeon commented on #434
Thanks! Let me take a look:)

[2020-08-13 05:01] namjaejeon commented on #434
@senmao2020 Can you explain more symptom ? e.g. Did you copy the files that contain (dot) at the beginning of the file name?
After copying files to cifsd share, you can not see all file list through MacOS Caputure ?

[2020-08-13 12:02] senmao2020 commented on #434
no dot at the beginning of the file, just regular file name，like DSC_4618.NEF

and I run a command to monitor files in cifsd share directory, Capture One  actually  write data to cifsd share，but，I don't know what happened，the file finally is deleted。

[code]
the output:
drwxrwxrwx  2 mao mao 16384 Aug 13 19:47 .
drwxrwxrwx 11 mao mao  4096 Aug 13 19:44 ..
total 1916
drwxrwxrwx  2 mao mao   16384 A

[2020-08-13 23:23] namjaejeon commented on #434
@senmao2020 hm... you copied only one file(DSC_4618.NEF0 to cifsd share while ls -al loop in your local share directory. right ?
 some smb client(Capture One) might request to remove file  if it get wrong response from smb server(cifsd). but I can't  reproduce it using Capture One in my Macbook. and can't find any clue from tcpdump you sent because of too many filenames and packets in tcpdump. Can

[2020-08-26 16:09] bosim commented on #430
@namjaejeon Any news here?

Do you still need the dump?

Meanwhile another user has reported about the problem:
https://forum.dd-wrt.com/phpBB2/viewtopic.php?t=326325

[2020-08-27 01:26] namjaejeon commented on #430
Yes.

[2020-08-27 20:32] Andy2244 opened #435 "ksmbd and io_uring ?"
Just wondering whats your opinion on io_uring and liburing, regarding ksmbd?

[2020-08-27 23:24] namjaejeon commented on #435
Ah, I have known io_uring was recently applied to samba. I don't know how AIO is useful in smb server yet. Maybe there's a reason to ask this.

[2020-08-28 00:56] Andy2244 commented on #435
here is what i checked, last link has benchmarks:
https://wiki.samba.org/index.php/Samba_4.12_Features_added/changed#.27io_uring.27_vfs_module
https://lwn.net/Articles/810414/
https://kernel.dk/io_uring.pdf
https://www.phoronix.com/scan.php?page=news_item&px=Linux-5.6-IO-uring-Tests

[2020-08-28 01:31] namjaejeon commented on #435
Yes, cifs doesn't even support AIO, and don't know how there is an usage for this. to work AIO, client do also support it together ?

[2020-08-28 02:28] namjaejeon commented on #435
ksmbd I/O use workqueue, i.e. I/O is processed in parallel asynchronously.
So I guess io_uring is not needed for ksmbd.

[2020-08-28 12:26] Andy2244 commented on #435
Thats what samba and many other projects also did, yet if i understand this correctly the overhead to setup/manage the threads is what makes io_uring preferable over older kernel AIO or handcrafted solution's.
As i understand it the more overlapping async i/o operations you have the better io_uring performs, compared to other approaches. From my tests with the new samba4 vfs_uring module on openwr

[2020-09-05 12:19] xdarklight opened #436 "spnego support"
Hello,

I have an old SMB client which unfortunately cannot connect to ``ksmbd``

[code]

my server config:

[code]

I found the following TODO in ``smb1pdu.c:875``:

setting ``conn->use_spnego = false;`` make this odd client work for me.

Are there any plans to make it configurable through ``smb.conf`` as the comment says?
If not: do you have any reference that I can follow for implementing it my

[2020-09-05 13:45] namjaejeon commented on #436
I have a question and requests.

1. What kind of client is it? kernel cifs client? or smbclient of samba?

2. Can you give me tcpdump that captured the packets on problem ?

3. The your old smb client can connect samba server without setting any smb.conf of samba ?

[2020-09-06 09:45] xdarklight commented on #436
1. the client is a Playstation 2. it currently only supports SMBv1. the implementation for that can be found here: https://github.com/ps2dev/ps2sdk/tree/master/iop/network/smbman/src
2. I will create a tcpdump later
3. apparently this smb.conf - which I haven't tried myself yet - works for other users: https://gist.github.com/mafredri/e88401c91489232e92e493d0e02912ef

[2020-09-06 16:17] xdarklight commented on #436
2. you can grab the pcap file here: https://gist.github.com/xdarklight/e18c83855bbd1aa278eeb61788eafc2c/raw/913a22867f5b8a83625b457579d96d089b3df7da/smb-packet-dump.pcap

[2020-09-07 00:00] namjaejeon commented on #436
Thanks! Let me check it.

[2020-09-07 08:59] namjaejeon commented on #436
Sorry, Can you provide one more tcpdump when your old client connection successful after use_spnego = false; ?

[2020-09-07 23:53] namjaejeon commented on #436
Can you check your old client can connect with samba after adding raw NTLMv2 auth = yes smb.conf of samba ?

raw NTLMv2 auth = yes

I am finding the proper config parameter in samba's smb.conf.

[2020-09-08 04:47] xdarklight commented on #436
thank you for looking into this!

to make sure I understand it correctly:
- you're hoping that with a samba server and above setting it will also fail (just like ``ksmbd`` does)
- knowledge of the "right" samba config setting will help you to move forward with this issue

I'll try this as soon as I have some spare time (which may take until the weekend) and then update you in here

[2020-09-08 05:15] namjaejeon commented on #436
Right, I expect that your old client connection failed with samba when setting the parameter I suggested.
ksmbd's smb.conf parameters are compatible with samba's one.  I should find it in samba's smb.conf.

Thanks! If it is clear, I will add "raw NTLMv2 auth" parameter in ksmbd's configuration.

[2020-09-11 19:29] xdarklight commented on #436
[code]

[code]

adding or removing ``raw NTLMv2 auth = yes`` does not seem to make a difference

packet dump with above setting enabled: https://gist.github.com/xdarklight/e18c83855bbd1aa278eeb61788eafc2c/raw/4c54fe8479ff138c9c2635e6f2dc1bfefbd90bff/samba4.pcap

[2020-09-11 23:38] namjaejeon commented on #436
Have you added/removed this parameter at global section like the following ? and should use_spnego = false in ksmbd at the same time.

[global]
server min protocol = NT1
keepalive = 0
raw NTLMv2 auth = yes

[2020-09-12 13:28] xdarklight commented on #436
yes, sorry for not being clear about that
I have added ``raw NTLMv2 auth = yes`` right below ``keepalive = 0``

I added ``raw NTLMv2 auth = yes`` to ``/etc/ksmbd/smb.conf`` while keeping my ``should use_spnego = false`` patch.
it does not seem to change anything

in the meantime I have found this inside the samba source-code: https://github.com/samba-team/samba/blob/0b742ec6a0558397d5cf01b99a401f8

[2020-09-14 04:33] xdarklight commented on #436
fixed with 365d38027b3e9df5abaa86b7c8c815e723c6fca2

[2020-09-14 04:33] #436 closed

[2020-09-14 21:14] namjaejeon commented on #430
@bosim Martin Blumenstingl sent the patches(https://github.com/cifsd-team/cifsd/issues/436) to #ksmbd-next branch. I think that this fix is related with your issue. can you check #ksmbd-next ?

[2020-09-15 19:15] xdarklight commented on #248
please try again with latest OpenWrt git master
the Linux kernel version has been updated to 5.4 and there I cannot reproduce this crash (a different one though, but that's the story for another time)

[2020-09-17 06:51] ahmar20 commented on #248
Yes @xdarklight, I am not experiencing any crash at the moment. The luci package related to ksmbd seems to be not working so I am not able to create a proper configuration and as a result getting permission denied error but I am able to access it otherwise and there is no crash.

[2020-09-17 16:58] ptpt52 commented on #426
another crash log post here: (with lastest code)
[code]

[2020-09-18 00:48] namjaejeon commented on #426
Sorry, kernel ops happen in fuse_file_poll(). It does not seem to be the ksmbd problem.

[2020-09-18 00:53] neheb commented on #426
@ptpt52 is this on NTFS-3G?

[2020-09-18 01:02] neheb commented on #435
@Andy2244 is ksmbd slower than samba?

[2020-09-18 21:03] xdarklight commented on #426
I can reproduce the original crash in ``deactivate_slab.isra`` on a BT Home Hub 5A (Big Endian MIPS, lantiq xrx200 target in OpenWrt). I'm using an USB hard disk with ``ext4`` as filesystem.

how to __not__ reproduce it:
- enable "all" debug logging of ksmbd
- connect using a PlayStation 2
- disable "all" debug logging of ksmbd

how to reproduce it:
- ensure any debug logging of ksmbd is disabled

[2020-09-19 02:14] namjaejeon commented on #426
@xdarklight Oh.. If you reproduce it easily, can you take a look ? Thanks!

[2020-09-19 20:26] xdarklight opened #440 "SMB1 crash on OpenWrt (MIPS)"
I can reproduce the following crash 100% when having all ksmbd debug logging disabled.
When I have ksmbd's debug logging ("all") active then it rarely happens.

[code]

This looks similar (also happening inside the SLUB allocator) but not idential to #426

ksmbd is running on a BT Home Hub 5A (Big Endian MIPS, lantiq xrx200 target in OpenWrt). I'm using an USB hard disk with ext4 as filesystem.

T

[2020-09-19 20:34] xdarklight commented on #426
because my crash is not exactly the same I opened #440
it's also crashing for me inside the SLUB allocator, so there may be some memory corruption going on (and then it may turn out that both issues are the same). but since I'm not sure I created another issue

[2020-09-19 20:58] namjaejeon commented on #440
@xdarklight What kernel version do you use with ksmbd ?

[2020-09-19 21:00] xdarklight commented on #440
5.4.66 plus OpenWrt's kernel patches

[2020-09-19 21:19] namjaejeon commented on #440
Could you please reproduce the issue with the below change ?

[code]

[2020-09-19 21:44] xdarklight commented on #440
it doesn't fix it but you are pointing me in the right direction: the problem is actually ``d_info`` right below.
I'll open a pull request to fix this

[2020-09-19 22:57] namjaejeon commented on #440
@xdarklight Applied. Thanks for your patch!

[2020-09-19 22:58] xdarklight commented on #440
thank you for all the hard work your doing on ksmbd @namjaejeon as well as for being so quick with looking at my changes and giving feedback!

[2020-09-19 22:58] #440 closed

[2020-09-19 23:00] namjaejeon commented on #426
@ptpt52 I pushed Martin's patches into #ksmbd-next branch. Can you try to reproduce your issues with #ksmbd-next branch ?

[2020-09-19 23:01] namjaejeon commented on #440
@xdarklight thanks you so much for your contribution!

[2020-09-19 23:15] namjaejeon commented on #435
ksmbd's performance is better than samba(4.7.6), It is even more different in the latest version of Samba.

See:
 1. https://www.snia.org/sites/default/files/SDC/2019/presentations/SMB/Jeon_Namjae_Lee_Hyunchul_Introduce_New_In-kernel_SMB3_Server_Called_CIFSD.pdf
 2. https://lists.samba.org/archive/samba-technical/2019-September/134200.html

I hope someone other than me to measure and compare samba

[2020-10-07 21:12] ptpt52 commented on #426
@namjaejeon  seems fixed?
build with #ksmbd-next
after days test, no crash till now.

[2020-10-08 05:57] namjaejeon commented on #426
@ptpt52 Cool~ I will release the next version this weekends 👍 Thanks for your test!

[2020-10-10 14:23] Neustradamus commented on #426
Currently there is a problem, people are lost, the code is mixed in 2 places:
- https://github.com/cifsd-team/cifsd
- https://github.com/namjaejeon/cifsd

It is possible to do a little change, to be perfect?

- move https://github.com/cifsd-team/cifsd -> https://github.com/cifsd-team/cifsd-archive
- move https://github.com/namjaejeon/cifsd -> https://github.com/cifsd-team/cifsd
- move issues from

[2020-10-10 14:29] Neustradamus commented on #426
Currently there is a problem, people are lost, the code is mixed in 2 places:
- https://github.com/cifsd-team/cifsd
- https://github.com/namjaejeon/cifsd

It is possible to do a little change, to be perfect and have the good main place: https://github.com/cifsd-team/cifsd?

- Move https://github.com/cifsd-team/cifsd -> https://github.com/cifsd-team/cifsd-archive
- Move https://github.com/namjaejeo

[2020-10-10 14:41] Neustradamus commented on #426
@namjaejeon: You can see some examples here:
- @neheb has a personal fork: https://github.com/neheb/packages of https://github.com/openwrt/packages.
- @xdarklight has a personal fork: https://github.com/xdarklight/openwrt of https://github.com/openwrt/openwrt
- @ptpt52 has a personal fork: https://github.com/ptpt52/openwrt-luci of https://github.com/openwrt/luci

Guys, can you explain to the main

[2020-10-10 14:50] Neustradamus commented on #434
@senmao2020: @namjaejeon needs an answer to this comment...

[2020-10-10 14:52] Neustradamus commented on #430
@bosim: @namjaejeon needs an answer to this comment...

[2020-10-10 15:13] Neustradamus commented on #248
@ahmar20: Have you news about the bug?

[2020-10-10 15:24] ahmar20 commented on #248
Sadly, this issue still persists.

[2020-10-11 11:52] namjaejeon commented on #426
@ptpt52 please check 3.2.5 release(https://github.com/cifsd-team/cifsd/releases/tag/3.2.5). If you have any issue, Let me know it. Thanks!

[2020-10-11 11:52] #426 closed

[2020-10-12 11:50] ahmar20 commented on #248
I want to narrow down the error/crash so can someone tell me how do I print the output to system log in ksmbd code? So far I have seen two functions, `ksmbd_debug` and `ksmbd_error` but I am not sure if they direct output to system log.

[2020-10-22 02:30] Neustradamus commented on #426
@ptpt52: Have you tested 3.2.5?

[2020-10-22 02:32] ptpt52 commented on #426
yes, tested 3.2.5 for days, and not crash till now.

[2020-10-22 02:56] Neustradamus commented on #426
@ptpt52: Thanks for your reply :)

[2020-10-29 15:48] mrkiko opened #448 "Upstreaming plans"
Hello!! I was curious to know if there where upstreaming plans for this project.
And, in such case, some ideas about how things where going on.

Thanks!

[2020-10-31 06:06] namjaejeon commented on #448
Hello, We have a plan to upsteam ksmbd in linux mainline. Before that, I would like to know why you want to know a plan of ksmbd's upsteam first.

[2020-10-31 14:45] bosim commented on #430
Sorry for delay.

DD-Wrt now has the patch [1], and it still does not work, but now I see the following in the log

`Oct 31 15:43:25 gateway kern.err kernel: cannot alloc blkcipher ecb(des)
Oct 31 15:43:25 gateway kern.err kernel: cannot find context for id 32
Oct 31 15:43:25 gateway kern.err kernel: ksmbd: ksmbd_auth_ntlm:396: password processing failed
Oct 31 15:43:25 gateway kern.err kernel: ks

[2020-10-31 14:49] bosim commented on #430
BTW the `cifs mount` command shown above still fails, now on a newer system (openSUSE LEAP 15.2, kernel 5.3), and it still fails on the bad security blob length.

[2020-11-01 01:01] mrkiko commented on #448
Hi!!

Oh - I was curious - I am following this project since some months now. I think it's a nice project.
I seen it perform very well. And was curious on future development! :)
Thanks for all the work and kindness!

[2020-11-01 01:20] namjaejeon commented on #448
If our plan goes well, I expect ksmbd to merge into the linux mainline in the first half of next year. For more information, the version that smb1 is removed will be merged into linux mainline. If you want to know the shape of the mainline, please refer to the cifsd-for-next branch at https://github.com/smfrench/smb3-kernel. So I am going to support this cifsd-team/cifsd and cifsd in linux mainlin

[2020-11-01 01:20] #448 closed

[2020-11-02 13:06] ptpt52 commented on #426
@namjaejeon
hi, I found another crash, should I open an new issue?

[code]

[2020-11-02 13:07] ptpt52 commented on #426
This happened 3 days ago, ksmbd version 3.2.5

[2020-11-05 16:49] mmakassikis opened #449 "slab-out-of-bounds in ksmbd_ipc_login_request+0x78/0xc0"
Hello,

On a kernel compiled with CONFIG_KASAN=y and CONFIG_STACKTRACE=y, I see the
following report in dmesg:
[code]

The offending code in ksmbd_ipc_login_request() seems to be the following:
[code]

The memcpy() call copies 'sizeof(req->account) - 1' bytes to the req->account.
In doing so, it reads past the end of the 'account' buffer.

With the following patch, I no longer see the KASAN warnin

[2020-11-05 23:52] namjaejeon commented on #449
First, Thanks for your report and solution!
When I see your patch, It seems that username account size from your client(windows?) is bigger than req->account max size.
Do you know the user account max size that can be inserted from your client?
The cifsd defines it as 48. I wonder if we should increase it.

ksmbd_server.h
'''
#define KSMBD_REQ_MAX_ACCOUNT_NAME_SZ   48

struct ksmbd_login_request {

[2020-11-06 00:06] namjaejeon commented on #449
First, Thanks for your report and patch!
How about this ?
[code]

[2020-11-06 00:14] namjaejeon commented on #449
Thanks for your report and patch.
I prefer to add more simple code.

[code]
How about this ?

[2020-11-06 05:07] sergey-senozhatsky commented on #449
On (20/11/05 08:49), mmakassikis wrote:

memcpy() is definitely wrong there. Would be better to use
a proper string copy function instead - strcpy().

	-ss

[2020-11-06 05:09] sergey-senozhatsky commented on #449
On (20/11/05 16:14), Namjae Jeon wrote:

This leaks the allocated req memory. The check should be done
before msg = ipc_msg_alloc(), so that we won't even bother to
allocate req for such case.

	-ss

[2020-11-06 05:20] namjaejeon commented on #449
Right. size check should be moved to above msg = ipc_msg_alloc().

[2020-11-06 05:24] namjaejeon commented on #449
@mmakassikis Could you please check the following change and send the patch to the mailing list(linux-cifsd-devel@lists.sourceforge.net)

[code]

[2020-11-06 12:46] mmakassikis commented on #449
I've sent a patch on the mailing list which uses strlcpy/strscpy instead of strcpy as you suggested. I've also changed other memcpy calls in the same file that dealt with strings to also use strlcpy/strscpy.

[2020-11-07 23:46] namjaejeon commented on #426
@ptpt52 As current, we can know that kernel oops happen in smb2_sess_setup() using your kernel log and related to kill command. maybe, there is racy issue between session connection and session disconnection. If you have vmlinux + addr2line, you can give more information(e.g. source line where kernel oops happen) to us by using addr2line. possible ?

[2020-11-08 21:46] ptpt52 commented on #426
[code]

it crash at this line:
[code]

[2020-11-08 21:48] ptpt52 commented on #426
likely crash at this function
[code]

[2020-11-08 21:57] ptpt52 commented on #426
@namjaejeon
[code]

[2020-11-10 00:29] namjaejeon commented on #426
@ptpt52 Thanks! I will take a look!

[2020-11-13 04:36] namjaejeon commented on #426
@ptpt52 I sent the patch for this issue to the mailing list. Can you check it ?

[2020-11-13 04:39] namjaejeon commented on #449
@mmakassikis I pushed your patches to git tree. It will be merged into cifsd-team tree soon. Thanks!

[2020-11-13 07:59] ptpt52 commented on #426
Ok I will try it out.

[2020-11-13 13:12] #449 closed

[2020-11-16 09:37] mmakassikis commented on #414
I encountered a couple issues that seem related:

* Compiling ksmbd in the kernel rather than as a module limits the interfaces it
can listen on.
Specifically, since ksmbd is loaded before the userland daemon is started, it
binds a socket for each netdevice available at that point. Setting the
interface= parameter in smb.conf has no effect in that case.

* Listening on interfaces that come up late

[2020-11-17 04:45] namjaejeon commented on #414
@mmakassikis Thanks for your suggestion! Frankly, I don't have any room to work this right now. Can you do that ?

Not sure, because I don't know which socket data is passed to /proc/X...

[2020-11-17 18:01] bosim commented on #430
I seem to have missed in the log output:
[code]
Is the des cipher provides by the kernel, so needs to be compiled in seperately?

[2020-11-17 18:32] bosim commented on #430
Yay!

`modprobe des_generic` did the trick!

[2020-11-17 18:35] bosim commented on #428
See comment in #430

[2020-11-17 18:35] #428 closed

[2020-11-17 23:24] namjaejeon commented on #430
Cool~ If so, This issue is also fixed ?

[2020-11-19 05:09] bosim commented on #430
@namjaejeon Almost I still get the cifs mount error.

[2020-11-19 06:10] namjaejeon commented on #430
@bosim I requested a packet dump to you before.  it is needed to find the clue.

[2020-11-20 14:21] winyke opened #451 "how to configure cifsd for supporting charset cp936 or gb2312"

[2020-11-22 07:04] namjaejeon commented on #451
Location:
  │     -> File systems
  │       -> Native language support (NLS [=y])
              -> NLS_CODEPAGE_936 [=m]

Have you configure CONFIG_NLS_CODEPAGE_936 in your kernel ?

and make it by default ? (Default NLS Option)

[2020-11-22 13:13] winyke commented on #451
thank you for your answer.but i have no idea how to config.because i installed cifsd as one ".ipk" package, which compiled for openwrt running on mt7621 (mipsel) .

[2020-11-22 13:45] namjaejeon commented on #451
Okay, You should check whether your patch included codepage 936 module first. and I will work cifsd support unix charset (G) parameter in smb.conf to change character set by user.

[2020-11-23 13:51] winyke commented on #451
thanks for your assistance and hope it come soon

[2020-11-27 13:49] namjaejeon commented on #433
@Andy2244 Andy, I have released ksmbd/ksmbd-tools 3.3.0 version today. This version would fix this issue(by ACLs support).

[2020-11-28 11:47] xdarklight commented on #433
@namjaejeon is there a hard-dependency on CONFIG_FS_POSIX_ACL now?

I just updated [0] the OpenWrt Makefile and now I am getting this at runtime:
[code]
and OpenWrt's `target/linux/generic/config-5.4` has:
```# CONFIG_FS_POSIX_ACL is not set```

also it's likely that I'm doing something wrong with the OpenWrt Makefile upgrade.
maybe @Andy2244 can help out

[0] https://gist.github.com/xdarklight/5c

[2020-11-29 01:05] namjaejeon commented on #433
@xdarklight Ouch! I missed checking it. I had to wrap these ones using #ifdef ~#endif. And I think that it is not problem to not use CONFIG_FS_POSIX_ACL in openWRT. It is just not able to modify permission of current file owner or add permission for new user. To avoid build break, I will fix it.

[2020-11-29 12:18] namjaejeon commented on #433
@xdarklight Martin, I sent the patch for this issue. Could you please check the patch ?

[2020-11-29 15:28] xdarklight opened #462 "ksmbd 3.3.0 not working on OpenWrt"
Hi @namjaejeon

I am having trouble making 3.3.0 work on OpenWrt (lantiq xrx200, big endian).
My steps are:
[code]

on the ksmbd server I now get:
[code]
the same with "all" debugging enabled:
[code]

smb.conf in case it's relevant:
[code]

as well as:
[code]

any suggestions how to debug this?

Best regards,
Martin

[2020-11-29 15:54] xdarklight commented on #433
the patch as mentioned by @namjaejeon: https://sourceforge.net/p/linux-cifsd/mailman/message/37164232/

another issue I am seeing (with above patch applied): #462

[2020-11-29 21:12] namjaejeon commented on #462
segfault happen in ksmbd.mountd, Could you please find segfault line using gdb ?

[2020-11-29 21:45] xdarklight commented on #462
how do I run the ksmbd.mount command manually (how to find the right arguments)?
or do I need to attach to the running process

[2020-11-29 23:28] namjaejeon commented on #462
normally command running ksmbd.mountd without options like this.
  sudo ksmbd.mountd

It doesn't work ?
@Andy2244 Could you help us to run ksmbd.mountd manually on openWRT ?

[2020-11-30 07:27] xdarklight commented on #462
[code]

and then in the system log I get:
[code]

[2020-11-30 07:58] hclee commented on #462
There might already be running ksmbd.mountd. You need to kill it with "kill -INT 4581"

[2020-11-30 08:00] namjaejeon commented on #462
@hclee Right! Need to kill ksmbd.mountd that already is running first.

[2020-11-30 09:41] xdarklight commented on #462
thanks for the hints @hclee and @namjaejeon

in general I am following: https://openwrt.org/docs/guide-developer/gdb

I had to upload ksmbd.mountd to /tmp/ with debugging info:
[code]

then on my PC:
[code]

in other words: it doesn't pause in gdb when crashing...
I will investigate further tonight. any hints are appreciated though

[2020-11-30 12:14] xdarklight commented on #462
in gdb I had to use:
``set follow-fork-mode child``

now I get:
[code]

[2020-11-30 12:28] sergey-senozhatsky commented on #462
On (20/11/30 04:14), Martin Blumenstingl wrote:

That's a NULL string in strlen(). Can we see your smb.conf?

	-ss

[2020-11-30 12:32] xdarklight commented on #462
@sergey-senozhatsky it's related to the `comment` field.
my smb.conf is already shown above (in this GH issue).

I came up with a patch in cifsd-team/ksmbd-tools#159 -> this fixes the problem for me

[2020-11-30 12:37] sergey-senozhatsky commented on #462
On (20/11/30 04:14), Martin Blumenstingl wrote:

Does something like this fix it for you?

---

diff --git a/mountd/rpc_srvsvc.c b/mountd/rpc_srvsvc.c
index 6492e9a..f174fb4 100644
--- a/mountd/rpc_srvsvc.c
+++ b/mountd/rpc_srvsvc.c
@@ -57,9 +57,14 @@ static int __share_entry_size_ctr1(struct ksmbd_dcerpc *dce, gpointer entry)
 	struct ksmbd_share *share = entry;
 	int sz = 0;

+	if (!share->comme

[2020-11-30 12:39] sergey-senozhatsky commented on #462
Oh, I see... but does this actually work for container level 1? Don't we need to have the comment string in the output? I'm not sure that we can just skip it. It might be the case that we need to write empty vstring.

[2020-11-30 14:45] sergey-senozhatsky commented on #462
@xdarklight  let's fix it like this?

[code]

[2020-11-30 20:12] xdarklight commented on #462
my compiler reports:

if I replace "stdup" with "strdup" then it compiles and works fine for me

with that fixed, feel free to add my:
Fixes: 8ec5ca70e8bb87 ("ksmbd-tools: add max_len and actual_len arguments in ndr_write_vstring()")
Tested-by: Martin Blumenstingl \<martin.blumenstingl@googlemail.com\>

[2020-11-30 23:43] namjaejeon commented on #462
Oops, Thanks for fixing a bug... @sergey-senozhatsky Can you send the patch to list ? I will appy it. Thanks!

[2020-11-30 23:44] namjaejeon commented on #462
@xdarklight Thanks very much Martin for your work!

[2020-11-30 23:50] namjaejeon commented on #462
@xdarklight One more help, Could you please check acls work on openWRT ?
 1. Right-click on the file shared by ksmbd.
 2. Click the security tab.
 3. Can see owner, group, everyone.

Thanks!

[2020-12-01 00:45] sergey-senozhatsky commented on #462
On (20/11/30 12:12), Martin Blumenstingl wrote:

LOL oops I don't compile test the patches, that would have been no fun.

Since you already took a look at the issue and sent a PR, I don't
mind it if you'll pickup these changes (fixup_missing_fields()) and
re-spin your patch. Let me know.

	-ss

[2020-12-01 15:06] namjaejeon commented on #462
ndr_write_vstring function is rollback by this patch(https://github.com/cifsd-team/ksmbd-tools/commit/fb5e99e0fa735ac3b9b843b9d13d01381b47ee66), So I think that this issue will be clear if you use ksmbd-tools-next.

[2020-12-01 23:45] namjaejeon commented on #462
@xdarklight Martin, if you confirm it, I will release ksmbd/ksmbd-tools 3.3.1 version.

[2020-12-02 05:53] namjaejeon commented on #433
I have released ksmbd/ksmbd-tools 3.3.1 version. Could you verify and pick it up ?

[2020-12-02 14:23] Andy2244 commented on #433
Kinda busy atm, will try to build/test it on the weekend, thanks.

[2020-12-03 06:21] namjaejeon commented on #433
@Andy2244 Okay! Thanks!

[2020-12-03 22:25] xdarklight commented on #462
@namjaejeon sorry for the late reply.
with ksmbd and ksmbd-tools both in version 3.3.1 "it works again".
thanks to everyone who helped!

[2020-12-03 22:25] #462 closed

[2020-12-03 22:28] xdarklight commented on #433
@Andy2244 I (hope that I) made it a bit easier for you, see openwrt/packages#14127

[2020-12-03 23:26] namjaejeon commented on #462
@xdarklight No problem:) Thanks for your help and work!

[2020-12-08 18:38] Andy2244 commented on #433
Seems to work with 3.3.1, thanks.

[2020-12-08 18:38] #433 closed

[2020-12-11 00:33] Neustradamus opened #471 "Harmonization of commits"
There is a problem...

Currently in this repository, master branch, we can see:
- This branch is 16 commits ahead, 15 commits behind namjaejeon:master.

It is possible to have same code?

Thanks.

[2020-12-20 23:08] mmakassikis commented on #414
Sorry for not getting back earlier. Here is a [branch using the INADDR_ANY](https://github.com/mmakassikis/cifsd/tree/inaddr_any) to handle newly added interfaces. As indicated in the commit message, the "interface" parameters in mountd are completely ignored. I don't know if that's acceptable.

I also tried passing the listener sockets from userland. On the kernel side, one has to call sockfd_loo

[2020-12-27 12:41] namjaejeon commented on #471
Well, Do you check diff codes between this branch and namjaejeon:master ? The codes are not different.

[2020-12-27 13:03] namjaejeon commented on #414
What is different with that "interface" parameters is not used in smb.conf ? "interface" parameter is requested by openWRT. If the interface is ignored, How can I limit the listening per NIC?

I still don't understand about the second method. Could you share the patch for second way ? You need to change ksmbd.mountd(in ksmbd-tools).

[2020-12-30 20:25] mmakassikis commented on #414
If the interface parameter is ignored, access control can still be enforced using netfilter.

Please see the following branches:
 - [ksmbd-tools](https://github.com/mmakassikis/ksmbd-tools/tree/userland_sockets)
 - [ksmbd] (https://github.com/mmakassikis/cifsd/tree/userland_sockets)

It's a variant of what I had attempted before. Initially, I was binding the sockets in ksmbd.mountd and passing the

[2020-12-31 03:50] ptpt52 opened #480 "another crash log"
[code]

[2020-12-31 03:57] neheb commented on #480
That crash happens in fuse...

[2021-01-03 08:11] Neustradamus commented on #471
@namjaejeon: Maybe but it is source of problems, I am not alone to see this problem.
And it is not like this in other projects.

You can see an example here:
- https://github.com/SwikritiT/core (master of the fork, no problem of commits) and a branch: https://github.com/SwikritiT/core/tree/renameRecievedShare

If there are PRs, it must be merged before.

Please publish/merge all branches into upst

[2021-01-03 10:22] namjaejeon commented on #480
@ptpt52 Can I see how often this problem occurs? And is there any relation between filesystem using fuse and ksmbd?

[2021-01-06 20:26] mmakassikis commented on #414
Disregard my previous post. there's a bug I haven't been able to track down, that made it impossible for some clients to transfer large files.

Here's a [new branch](https://github.com/mmakassikis/cifsd/tree/netdev_notifier) that monitors netdev changes in the kernel module.
Compared to my first suggestion, it handles the "interface" parameter passed by ksmbd.mountd while also addressing the initi

[2021-01-09 01:07] namjaejeon commented on #414
It looks good when I check it roughly! But does it fix the issue("Issue: ksmbd share does not support IP/mask defining in smb.conf interfaces, so it rejects requests coming from temporary PPTP VPN subnet") Madi112233 reported ?

[2021-01-09 15:31] mmakassikis commented on #414
Strictly speaking, my patch doesn't change anything with regards to IP/mask handling: ksmbd.mountd still only parses interface names.

However, the issue of accepting connections from a newly added interface is solved.
For example, let's consider a system with multiple interfaces:
[code]

ksmbd module is loaded, and ksmbd.mountd is started with the minimal config in the global section:

[code]

ks

[2021-01-10 01:06] namjaejeon commented on #414
Okay, Could you send the patches to the linux-cifsd mailing list ? and I really appreciate if you check more the issue Madi112233 reported.

[2021-02-02 03:56] Neustradamus commented on #248
@ahmar20: What is the state in 2021?

[2021-02-02 03:58] Neustradamus commented on #480
@ptpt52: Any news?
Have you seen previous comment?

[2021-02-02 04:01] Neustradamus commented on #430
@bosim: Any news?
Have you looked all previous comments?

[2021-02-02 04:02] Neustradamus commented on #428
@bosim: Any news?
Have you looked all https://github.com/cifsd-team/cifsd/issues/430 comments?

[2021-02-02 04:58] ahmar20 commented on #248
I am quite busy with work these days. I'll try to test it on the weekend and report back the results.

[2021-02-02 08:31] namjaejeon commented on #480
@ptpt52  I have released ksmbd 3.3.4 and ksmbd 3.3.4 version. Could you take it to your project and check if same issue is coming again ? Thanks!

[2021-02-02 08:35] ptpt52 commented on #480
@namjaejeon  Thanks, i will do it

[2021-02-03 13:59] Neustradamus commented on #414
@Madi112233: It is solved now?

[2021-02-03 14:15] Neustradamus commented on #434
@senmao2020: @namjaejeon needs an answer to this comment...

[2021-02-03 15:19] ptpt52 commented on #471
@Neustradamus @namjaejeon

just force push one of them and they would be the same commits.

[code]

[2021-02-03 15:24] ptpt52 commented on #471
if the namjaejeon/cifsd is the latest code
we should force push from namjaejeon/cifsd to cifsd-team
[code]

[2021-02-04 00:01] namjaejeon commented on #471
@ptpt52 Everything is well managed, so don't worry. Developers can check at the release and modification of cifsd in the cifsd-team.

[2021-02-05 03:42] #471 closed

[2021-02-05 03:42] #285 closed

[2021-02-07 11:34] Neustradamus commented on #471
@namjaejeon: I am happy, I am not alone to see the difference and problem between personnal account vs organization.

@pali has confirmed the problem several months ago (pali commented on 12 Apr 2020):
- https://github.com/namjaejeon/exfatprogs/issues/18#issuecomment-612531558

@ptpt52 has confirmed the problem here too and specified you a little solution (ptpt52 commented on 3 Feb 2021):
- https:

[2021-02-07 11:34] Neustradamus commented on #285
@namjaejeon: I am happy, I am not alone to see the difference and problem between personnal account vs organization.

@pali has confirmed the problem several months ago (pali commented on 12 Apr 2020):
- https://github.com/namjaejeon/exfatprogs/issues/18#issuecomment-612531558

@ptpt52 has confirmed the problem here too and specified you a little solution (ptpt52 commented on 3 Feb 2021):
- https:

[2021-02-07 11:35] Neustradamus commented on #103
@namjaejeon: I am happy, I am not alone to see the difference and problem between personnal account vs organization.

@pali has confirmed the problem several months ago (pali commented on 12 Apr 2020):
- https://github.com/namjaejeon/exfatprogs/issues/18#issuecomment-612531558

@ptpt52 has confirmed the problem here too and specified you a little solution (ptpt52 commented on 3 Feb 2021):
- https:

[2021-02-08 12:20] Neustradamus opened #493 "SourceForge"
Can you add more informations on SF, like description and information for the move like other SF projects:
- https://sourceforge.net/projects/linux-cifsd/

Example: "this project can be found here."
- https://sourceforge.net/projects/gaim/

That it is now in https://github.com/cifsd-team.

And please disable/remove unused sections.

You can do same for:
- https://sourceforge.net/projects/cifsd/

T

[2021-02-12 00:57] Neustradamus commented on #434
@senmao2020: @namjaejeon needs an answer to this comment...

Note: There are changes in latest code, it has been solved, no?

[2021-02-12 00:59] Neustradamus commented on #480
@ptpt52: Have you looked?

[2021-02-12 00:59] Neustradamus commented on #248
@ahmar20: Have you looked?

[2021-02-12 01:00] Neustradamus commented on #430
@bosim: Any news?
Have you looked all previous comments?
Have you tested latest code?

[2021-02-12 01:01] Neustradamus commented on #435
@Andy2244: What do you think about performance?

[2021-02-12 01:03] Neustradamus commented on #425
@Bernie: Any news?
Have you looked all previous comments?

[2021-02-12 01:04] Neustradamus commented on #388
@luizluca: Any news with latest code?

[2021-02-12 03:57] luizluca commented on #388
I just tested current (2021-02-12-00-10-54) ksmbd-next and it is working perfectly now. Thanks!

[code]

[2021-02-12 03:57] #388 closed

[2021-02-12 09:52] Andy2244 commented on #435
Its a bit tricky, but since io_uring is winning over the linux world and shows decent performance increases in every application it is deployed. The main improvements are on thread heavy and multi-segment file loads, which is more a enterprise/heavy NAS use case side of things. I cant say much since ksmbd is already in kernel space and i'm not a linux i/o coder, so cant judge ksmbd+io_uring vs sam

[2021-02-13 08:55] ahmar20 commented on #248
I have checked it again on two devices and it still causes a crash when you add security to the shared folder. With guest-only access it works pretty well.

[2021-02-14 15:57] ptpt52 commented on #480
for days test, no related crash log found.

[2021-02-14 16:23] Neustradamus commented on #480
@ptpt52: Thanks for your reply, have you updated the used code?

What is the version used?

3.3.4 is the last current build:
- https://github.com/cifsd-team/cifsd/releases
- https://github.com/cifsd-team/ksmbd-tools/releases

Look the last code, do not mix:

cifsd:
- current upstream: https://github.com/namjaejeon/cifsd/branches
VS
- the organization: https://github.com/cifsd-team/cifsd/branches

[2021-02-17 23:43] Neustradamus opened #495 "Detach this fork from upstream"
Can you detach this fork from upstream?

Several people mix upstream and here.

At this time:
- This branch is 18 commits ahead, 18 commits behind namjaejeon:master

Contact GitHub: "Attach, detach, or reroute forks"
- https://github.com/contact
- https://support.github.com/contact?tags=rr-forks

Thanks in advance.

[2021-02-23 14:25] Saijin-Naib opened #497 "Issues Deleting Files/Folders"
Firmware Version = OpenWrt 19.07.7 r11306-c4a6851c72 / LuCI openwrt-19.07 branch git-21.050.37945-c33df8f
Kernel Version = 4.14.221
![image](https://user-images.githubusercontent.com/19295950/108856976-9d64e700-75b8-11eb-8ea1-bed30564a8b1.png)
kmbd-server v3.3..4-1
kmod-fs-ksmbd v4.14.221+3.3.4-1
luci-app-ksmbd git-21.050.37945-c33dff8f-1

Copying:
Files/folders copy correctly from W10 client (inc

[2021-02-23 15:23] erdoukki opened #498 "folders becoming files with Ksmbd: 3.3.4 Kmod: 3.3.5"
folders becoming files with Ksmbd: 3.3.4 Kmod: 3.3.5 on OpenWrt SNAPSHOT r15899-567a88e4b9 / LuCI Master git-21.050.34860-b8d2bcd on kirkwood Feroceon 88FR131 rev 1 (v5l) on a ZyXEL NSA310S
copying with a cp from console is ok, but copying with GNOME nautilus 3.38.1 on ubuntu make folders beeing files at last.
I have to remove the dos attribute manually to access the folders as folders again.
find

[2021-02-23 22:28] #495 closed

[2021-02-23 22:28] #493 closed

[2021-02-23 22:32] namjaejeon commented on #497
Have you shared usb storage(FAT) using ksmbd ?

[2021-02-23 22:40] namjaejeon commented on #498
Ah, Are you saying that both 3.3.4 and 3.3.5 are problems? Or are the directories created in 3.3.4 appearing as a file in 3.3.5?

[2021-02-23 22:49] Saijin-Naib commented on #497
As far as I can tell, yes. I can browse the SD card in my printer mostly fine.

Prior under Samba4 host and same mount settings, the sharing worked just fine.

[2021-02-23 23:09] namjaejeon commented on #497
Could you please test it with the latest version(3.3.5) ?

[2021-02-23 23:28] Saijin-Naib commented on #497
Is there a compiled opkg for ksmbd and kmod-fs-ksmbd I can use?

I can't really risk going to a snapshot as I work from home and rely upon my connection staying up.

[2021-02-23 23:40] neheb commented on #497
Can't update the kmod on 19.07. Only cifsd-tools.

[2021-02-24 01:49] namjaejeon commented on #497
samba write version 4 dos attribute to file, but ksmbd 3.3.4 support version 3 format. So It seems to not be compatible with samba. So ksmbd 3.3.5 start to support version format. I guess your problem can be fixed on the latest version. Andy will release ksmbd 3.3.5 version soon.

[2021-02-24 06:36] erdoukki commented on #498
Both 3.3.4 and 3.3.5 are problems.
The copied directories appears as files at the end of the copy process on both version

[2021-02-24 08:38] namjaejeon commented on #498
Have you ever reproduce this issue with ksmbd 3.3.3 version ? Nautilus rsend a request to change directory to file using smb2 set info command. I added exception code to protect it. maybe, This change will include in 3.3.6 version.

[2021-02-24 08:41] erdoukki commented on #498
I am new user of ksmbd so I haven't tested 3.3.3.
I will wait for 3.3.6 and give you feedback about it...

[2021-02-24 09:00] namjaejeon commented on #498
Sure, I will share 3.3.6 version release soon.
I think that there is same issue in old ksmbd version. and nautilus seems to send wrong command to server. anyway. Thanks for your report to fix it!

[2021-02-24 10:50] Andy2244 commented on #497
Actually Rosen Penev is much faster releasing new versions these days, but yes we release new versions nearly instantly to snapshots.

[2021-02-24 12:32] Saijin-Naib commented on #497
How do I know if this has the packages @namjaejeon has asked me to test?
https://firmware-selector.openwrt.org/?version=19.07-SNAPSHOT&target=mvebu%2Fcortexa9&id=linksys_wrt3200acm

Unfortunately, building an image is far outside my comfort zone at the moment.

[2021-02-24 12:44] Andy2244 commented on #497
Check the snapshot build list for the `kmod-fs-ksmbd` version:
https://downloads.openwrt.org/snapshots/targets/mvebu/cortexa9/packages/

[2021-02-25 17:43] Saijin-Naib commented on #497
Thank you all for the help.

Do you know if 3.3.5 will make it into a future point-release of 19.07.7 or will it go into 19.07.8 or something? I can't risk moving off of stable at the moment :(

[2021-02-25 18:18] Andy2244 commented on #497
The issue is that we cant update kmods, so you have to wait for 19.07.08.

[2021-02-25 18:39] Saijin-Naib commented on #497
So the issue lies in the kmod, not the server? Thank you for helping me understand.

I will test as soon as I can with 19.07.8, then.

[2021-03-03 03:53] namjaejeon commented on #480
@ptpt52 We have fixed similar issue on ksmbd 3.3.6 version. You can use it to avoid this issue from fuse driver.

[2021-03-03 03:54] namjaejeon commented on #497
@Saijin-Naib Any news ?

[2021-03-03 04:05] Saijin-Naib commented on #497
Hey, sorry, not at the moment. I am awaiting 19.07.8 stable release. I can't afford downtime on SNAPSHOT or unstable when working from home :\

[2021-03-03 04:09] ptpt52 commented on #480
@namjaejeon
Yes, I will bump to the new release and test quickly
great thanks

[2021-03-03 04:10] neheb commented on #497
@Andy2244 Should cifsd be moved from packages to base?

[2021-03-03 12:04] Andy2244 commented on #497
We cant since it still has the glib2 dependency, which would also have to-be moved to base. Also not sure what would improve moving it to base, since we still only can update kmod's per release?

PS: Since the ABI is compatible now, we can just keep updating in snapshots and let that trickle down on the next release.

[2021-03-03 14:05] namjaejeon commented on #498
I have released ksmbd/ksmbd-tools 3.3.6 version. But You may wait for ksmbd package release by @Andy2244 if you don't know how ksmbd can be manually installed on OpenWRT.

[2021-03-03 23:35] neheb commented on #497
Right but that's only for tools. I'm talking about moving just the kernel module.

The improvement is easier updating. When .6 was released, I missed the window to get it merged.

[2021-03-04 01:42] namjaejeon commented on #497
@neheb Wow, It would be great if it is possible.

[2021-03-11 09:01] mrkiko commented on #498
What I would try is to manually compile the kernel module with OpenWRt toolchain.

May I ask you to write down some instructions?
What I would do is using openwrt/staging_dir toolchain, playing with CROSS_COMPILE_?? stuff, and so on.

[2021-03-12 05:48] namjaejeon commented on #498
@neheb Could you please answer @mrkiko 's question ?

[2021-03-12 10:15] neheb commented on #498
I don't fully understand it. Compiling ksmbd for OpenWrt just takes running make menuconfig , selecting ksmbd , and running make

[2021-03-12 17:52] Andy2244 commented on #498
I think they ask how to create and compile 3.3.6 version, so they don't have to wait for the snapshot PR. If you can update again this would be nice, since samba-4.14 was just released and thats where i will spend my spare free time next.

[2021-03-14 08:55] erdoukki commented on #498
3.3.7 installed and testing...
[code]

[code]
no more working (not mounting share !)
dmesg :

[code]

[code]
https://forum.openwrt.org/t/ksmbd-samba3-4-alternative-ex-cifsd-smbd-package-support-thread/51695/82

[2021-03-14 08:58] erdoukki commented on #498
Do you prefer I open a new issue ?

[2021-03-14 09:18] mmakassikis commented on #498
errno code = -2 is ENOENT.
Verify the share's name is correct and that the path is points exists. Same on the client side: does /mnt/test exist ?
Have you checked network connectivity ? Can you ping the OpenWRT host ?
On the OpenWRT host, verify using netstat or ss (I don't know what OpeenWRT includes) that there is a socket bound on port 445 by the ksmbd kernel module and not samba.

[2021-03-14 10:02] erdoukki commented on #498
OUPS !!  forget to test and install packages block-mount and kmos-fs-ntfs ! my external drive was not here from OpenWrt !
fixed now...

[2021-03-14 10:04] erdoukki commented on #498
My error ! 3.3.7 fixes the problem of folders !!!
THANKS all for the job

[2021-03-14 10:04] #498 closed

[2021-03-22 07:59] Madi112233 commented on #414
This is Excellent! Was this change already included in ksmbd 3.3.6 to verify?

[2021-03-22 14:28] FellTarsier opened #506 "cifsd does not work with OpenZFS"
I'm currently using OpenZFS 2.0.4 as the filesystem for my archival data.  Reading from the archive works as expected.  However when I attempt to write to the archive from a Windows machine, Windows throws an access denied error.  With debugging  enabled on the server I get this error when I attempt to create a folder:

[code]

It does not matter if it's a folder or a file, the error is the same.

[2021-03-26 17:17] erdoukki opened #507 "cannot browse root shares in guest mode"
cannot browse root shares in guest mode in 3.3.7, but I can access if a specify the share mount point...

[2021-03-29 04:17] namjaejeon commented on #507
Can you give us how to reproduce ? What client do you use to reproduce ? and please share contents in smb.conf.

[2021-03-29 11:36] erdoukki commented on #507
Server side :
OpenWrt SNAPSHOTS on MVEBU (EspressoBin Board)
[code]
Clients side :
Apple iPhone and iPad with
or
Linux Ubuntu Desktop

Same problems with an error message about bad authentication or an authentication dialog shown.

Mounting or accessing directly the shares works fine, without authentication dialog, or with guest success

[2021-03-29 19:01] eximido commented on #507
Same on both Windows 10 and Windows 7 - it always shows an authentication dialog without any ability to skip it.
There are also some people on OpenWrt community forum complaining about this issue.

The last version with fully working guest mode was 3.3.4.

[2021-03-29 19:08] mmakassikis commented on #507
This seems to be the same issue that was reported on the mailing list:
  https://sourceforge.net/p/linux-cifsd/mailman/message/37250971/

Can you add the following config in smb.conf and test again ?
[code]

[2021-03-29 23:02] erdoukki commented on #507
WORKS ! thanks...

modifying, on openwrt, the template and restart ksmbd service :
root@LS421DE:~# cat /etc/ksmbd/smb.conf.template
[code]

`service ksmbd restart`

Share are available without any dialog for authentication...
Test from ubuntu

thanks

[2021-03-30 07:02] erdoukki commented on #507
confirmed to work fine also for browsing shares as guest (without authentication) from FileExplorer on iPhone !

[2021-04-07 16:16] erdoukki opened #510 "Video freeze with some software"
A new question about the buffers value !
How can I determine the best values...
I have some freeze at showing videos directly, but not with all software...
VLC (VideoLan) works fine, but FileExplorer (IOS/iPAD) do not...
How can I change the values of buffers in /etc/ksmbd/smb.conf.template to fix this issue ?
I experiment this on OpenWrt snashot with KSMBD 3.3.7 on NSA310S and LS421DE hardware NA

[2021-04-08 03:32] namjaejeon commented on #506
Hi, You need to change "writable = yes" to "writeable = yes" or "read only = no".

[2021-04-08 06:25] erdoukki commented on #510
[code]
I found this on the samba ubuntu wiki fr...
It give me the best results and stop the freeze my videos...
Commenting the buffers options also give me better results !

[2021-04-08 06:26] neheb commented on #510
ping @Andy2244

[2021-04-08 06:37] namjaejeon commented on #510
Sorry, I can not understand. after removing buffer options in smb.conf, problem is fixed ?
If yes, Can you check if cache read/trans buffers option is related to this issue ?

[2021-04-08 07:17] mmakassikis commented on #510
`	socket options = TCP_NODELAY IPTOS_LOWDELAY SO_RCVBUF=8192 SO_SNDBUF=8192`

You can remove the line above as it doesn't do anything.

Are you testing VLC / FileExplorer from the same device ? Since the streaming is over WiFi, are you testing from the same distance ? Are you using 2.4GHz or 5GHz channels ?

In your initial test, did you have "smb2 max read/write/trans" set to 64K ? If yes, why ?

[2021-04-08 10:02] erdoukki commented on #510
Okay

Yes... same iPad/iOS Device

Yes, because it's the default in OpenWrt package. all are not modified from the default value of the package of OpenWrt.
What are the real default values to try wit, pleaseh ?

[2021-04-08 10:03] erdoukki commented on #510
It looks like yes !

How can I do this ?

[2021-04-08 12:04] Andy2244 commented on #510
As noted we had to reduce the large buffers early on, since we still support a lot of 16/32 MB Ram devices so multiple 4MB buffers are risky as defaults. Thats why i asked namjaejeon for sane good minimal values, which i think where also based on what samba4 uses.

What would be nice if erdoukki could test what the minimal buffer sizes are that still solve this issue? If only large buffers solve t

[2021-04-09 03:35] namjaejeon commented on #510
there is no known issue from cache read/trans buffers now.
@erdoukki at least, you should share error logs with us. and I am still confusing how you improve this issue when changing smb.conf. can you share before/after your smb.conf ?

[2021-04-10 06:37] erdoukki commented on #510
on OpenWrt, no logs...
Not working smb.conf.template :
[code]
The working smb.conf.template :
[code]

[2021-04-10 06:40] neheb commented on #510
that IPC hack shouldn't be needed anymore. I pushed the fixed version of ksmbd-tools.

[2021-04-10 06:41] erdoukki commented on #510
Thanks, will try !

[2021-04-10 13:16] namjaejeon commented on #510
@erdoukki  could you try problem is fixed with the following smb.conf also ?

[global]
	netbios name = |NAME|
	server string = |DESCRIPTION|
	workgroup = |WORKGROUP|
	interfaces = |INTERFACES|
	bind interfaces only = yes
	ipc timeout = 20
	deadtime = 15
	map to guest = Bad User
#	smb2 max read = 64K
#	smb2 max write = 64K
#	smb2 max trans = 64K
	cache read buffers = no
	cache trans buffers = no

[2021-04-11 17:31] erdoukki commented on #510
@namjaejeon tested okay with this configs !
@neheb I also confirm than upgrading to ksmb-server 3.3.8 fix the ipc guest... (no more configs needed)

[2021-04-14 08:38] #510 closed

[2021-04-14 20:58] HiFiPhile opened #512 "Planning for shadow copy support ?"
Thanks for this great work !

Compared to samba now cifsd is a very attractive alternative for file sharing, without bloat and have RDMA support.

However shadow copy combined with zfs snapshot is an powerful feature for NAS. Do you have any planning to add shadow copy ?

[2021-04-14 23:32] namjaejeon commented on #512
cifsd support shadow copy(windows : FSCTL_COPYCHUNK, linux: copy_file_range(2)). Does it not work well ?

[2021-04-14 23:50] namjaejeon commented on #506
@FellTarsier ping ?

[2021-04-15 05:58] HiFiPhile commented on #512
Sorry I'm referring to [vfs_shadow_copy2](https://www.samba.org/samba/docs/current/man-html/vfs_shadow_copy2.8.html) in order to expose filesystem snapshot as shadow copy.

[2021-04-21 02:43] ptpt52 commented on #480
@Neustradamus @namjaejeon
Sorry it has not been updated for a long time.
Did not catch the crash log, indicating that there is no problem recently

[2021-04-22 03:56] iamwudy opened #515 "Non-english characters can not be used in share name?"
I have such config file:
====start====
#/etc/ksmbd/smb.conf
[global]
        netbios name = SMBD

[阿]
        path = /SnapDisk1/阿
        valid users = wudy
        write list = wudy
====end====
Where "阿" is a (chinese) non-english character

When I visit the ksmbd server, both in Linux & Windows clients.
I got an error meaning "share list error"

If I change the config file as:
====start====
#/et

[2021-04-22 23:39] namjaejeon commented on #515
@hclee Hyunchul, Can you take a look ?

[2021-04-23 01:34] hclee commented on #515
Okay, I will take a look at this problem.

2021년 4월 23일 (금) 오전 8:39, Namjae Jeon ***@***.***>님이 작성:

[2021-04-24 23:13] JpegXguy opened #516 "[Enhancement] Allow share flags/options to be applied globally"
For example, with Samba I can specify `write list = someone` in the `[global]` section, and it will apply to all shares. I have 4-5 options that are basically applied to all my shares, yet I had to duplicate them all under every share section, in order for them to work.