[2021-04-27 08:12] ptpt52 commented on #480
I catch another crash log:
[code]

[2021-04-30 00:20] namjaejeon commented on #480
@ptpt52 Can you tell me what version of ksmbd this issue happen ?

[2021-04-30 00:25] ptpt52 commented on #480
@namjaejeon  it is version 3.3.9

[2021-04-30 00:43] namjaejeon commented on #480
@ptpt52 One more, Could you share your smb.conf ?

[2021-04-30 00:59] namjaejeon commented on #480
<3>[257829.097640] ksmbd: __ipc_heartbeat:872: No IPC daemon response for 20s

this error print is located in 872 line.

but It seems to be different with the latest ksmbd source...
834         ksmbd_tools_pid = 0;
835         ksmbd_err("No IPC daemon response for %lus\n", delta / HZ);
836         mutex_unlock(&startup_lock);

Do you know why error log line is different with source ?

[2021-04-30 02:57] ptpt52 commented on #480
I don't know why the source shows diff
and the smb.conf:
[code]

[2021-04-30 06:31] ptpt52 commented on #480
sorry, this crash log seems to be old version @namjaejeon

[2021-05-02 11:21] bosim commented on #430
Regarding cifs mount, I still see:

[code]

where to send packet dump when I get it done?

I am a bit confused here, last time I found a bug it was related to DD-WRT so, if you guys successfully can run the cifs mount command, with `vers=1.0`, maybe it is DD-WRT related again. So anybody able to test?

I am on Debian bullseye (kernel 5.10).

[2021-05-02 11:46] bosim commented on #430
Turns out it works using `vers=1.0,sec=ntlm`. Closing.

[2021-05-02 11:46] #430 closed

[2021-05-06 15:48] linuxrrze opened #518 "[Enhancement] dkms build support"
Hi there! I was just listening to the Samba XP presentation about ksmbd.
So I tried to build it for my Ubuntu system which worked quite nice (for the current kernel).

However it'd be even better to support dkms to make building external kernel modules even easier (and make them survive kernel updates).
(About dkms: https://wiki.kubuntu.org/Kernel/Dev/DKMSPackaging).

There are only minor modifica

[2021-05-06 23:31] namjaejeon commented on #518
Hi Marcel,

Okay, Could you please provide the patch for this ? You can send the patch to the list(linux-cifsd-devel@lists.sourceforge.net) if you have tested it on your environment.

[2021-05-07 13:28] linuxrrze commented on #518
Problem with dkms and the current Makefile is, that dkms provides the environment variable KERNELRELEASE and with that triggers the "in-kernel-tree" build routine (that fails - at least for me. However I don't know how this is supposed to work).

For now this config works for me (Ubuntu 20.04), but only because dkms omits KERNELRELEASE in this specific setup (removing the "CONFIG_SMB_SERVER=m" mak

[2021-05-07 15:05] ipvirg opened #519 "cifs/sbm3.1.1 with multichannel feature on Ubuntu 20.10"
Need guidance on configuring Ubuntu 20 client mounting CIFS/smb3.1.1 with multichannel

<netapp storage server with cifs/smb3.1.1 multilchannel enabled><-----><Ubuntu 20.10 client mounting cifs smb3.1.1>

The following config line in samba appeared to be the Linux client as a samba server
/etc/samba/smb.conf
server multi channel support = yes

What I need is to configure the Linux client an SMB3 c

[2021-05-07 15:48] mmakassikis commented on #519
This is the wrong project to ask this.

cifsd is a server side implemention of SMB (which does not currently implement multichannel).
Enabling multi channel on a Samba server won't help, since that's a server option.

A quick google search suggests the Linux kernel CIFS client implements multichannel, though you will need a rather recent kernel (5.5+), and most likely an up to date cifs-utils pack

[2021-05-07 15:57] ipvirg commented on #519
Thanks for the response @mmakassikis. I do have kernel 5.8, cifs-utils package installed and no issues with mount.cifs, but still don't see the multichannel sessions. Will close this thread for now.

[2021-05-07 15:57] #519 closed

[2021-05-08 00:03] namjaejeon commented on #519
@mmakassikis Right, thanks for your answer!
@ipvirg I am preparing smb3 multichannel feature in cifsd(ksmbd). I hope it will be done soon. If it is complete, I will share it with you. You can try that(cifs & cifsd) instead of samba & cifs.

[2021-05-08 02:20] ipvirg commented on #519
@namjaejeon thank you. Looking forward to use it once available.

[2021-05-14 00:17] namjaejeon commented on #516
@JpegXguy I would appreciate if you directly work it.

[2021-05-14 00:19] namjaejeon commented on #512
Hm.. Frankly don't know how to implement the function in the kernel.

[2021-05-14 00:20] namjaejeon commented on #480
@ptpt52 Okay, If you find it on the latest version, Let me know it.

[2021-05-25 00:16] namjaejeon commented on #515
@iamwudy  Hi, Can you check your problem is fixed with #ksmbd-tools-next branch ?
git clone --branch=ksmbd-tools-next https://github.com/cifsd-team/ksmbd-tools

[2021-05-25 01:14] iamwudy commented on #515
I will check it as quickly.

[2021-05-25 01:56] iamwudy commented on #515
It works!
I have checked some Chinese, Korean and Japanese characters with listing $IPC and creating in share.
But I can't  ensure that it works on all characters. (Such as Greek)

[2021-05-25 02:06] namjaejeon commented on #515
Thanks for your check!! If you paste Greek word you tested here, @hclee will check it.

[2021-05-25 02:19] hclee commented on #515
@iamwudy
If you have problem with some languages, let me know these.

[2021-06-12 01:11] #515 closed

[2021-06-24 11:32] erdoukki commented on #507
in 21.02-rc3, problem back again (ksmbd 3.9)

[2021-06-24 11:36] erdoukki commented on #507
problem disappear just by changing sharename (I wa using the hostname as sharename)...

[2021-06-24 11:36] #507 closed

[2021-08-09 23:52] neheb opened #526 "ksmbd requires FS_POSIX_ACL"
Is it possible to make this optional? OpenWrt does not use ACLs by default.

[2021-08-10 19:56] BtbN opened #529 "Kernel NULL pointer dereference"
I was playing around with ksmbd (wanted to test performance with rdma/smbdirect over IB) today, and when cleaning up, trying to shutdown ksmbd (while it was still mounted, by accident), the server exploded with the following:

[code]

It would not properly shutdown after this, and was in need of a hard reset to get back to normal operation.

[2021-08-11 06:59] namjaejeon commented on #526
Hi Rosen,

Could you please check the below patch ?
https://github.com/namjaejeon/ksmbd/commit/f408c6c45013c80d62ed4b793ee79d76e4b582e0

Thanks!

[2021-08-11 08:07] hclee commented on #529
@BtbN
I found the cause of this problem. I will send a patch tomorrow.

[2021-08-11 22:52] neheb commented on #526
Works great.

[2021-08-11 23:35] namjaejeon commented on #526
Thanks for test. I send the patch to list. It will be merged into master and release.

[2021-08-12 00:00] hclee commented on #529
@BtbN
Could you check this with #531

[2021-08-12 00:34] BtbN commented on #529
Seems to have done the trick. Applied the patch on top of 3.4.1, and no crash when shutting down with active rdma mounts.
Thanks for the quick fix!

[2021-08-12 00:53] namjaejeon commented on #529
Thanks for fixing and test. Applied it to #ksmbd-next. Will be merged into #master soon. Thanks again.

[2021-08-13 16:07] pfactum commented on #506
@namjaejeon with Samba "writable" works, but with ksmbd it doesn't (_have to use "writeable"_). Is this on purpose?

[2021-08-15 00:49] namjaejeon commented on #506
@pfactum No reason, ksmbd doesn't support all parameters of samba. They are too many, So we are adding them as needed.

[2021-08-15 01:04] namjaejeon commented on #506
@pfactum we list up supported parameters in https://github.com/cifsd-team/ksmbd-tools/blob/master/Documentation/configuration.txt . If you want to add writable parameter, Please request it to us.

[2021-08-15 08:25] pfactum commented on #506
@namjaejeon  I'm good with this explanation, thanks, there's no reason to breed multiple synonyms just to satisfy my 3-share configuration ☺. Feel free to close this request.

[2021-08-17 09:38] mrkiko commented on #248
Is this still happening?

[2021-08-18 07:38] namjaejeon commented on #526
@neheb ksmbd work fine with this patch as well as build success ?

[2021-08-18 07:41] neheb commented on #526
Yes. This can be closed.

[2021-08-18 07:41] #526 closed

[2021-08-25 08:06] hcbwiz opened #533 "SMB Direct (iwarp) over Intel X722"
Hi,
   I used Intel X722 to play smb direct, and encountered some issues.

     The max_send_sge of Intel X722 is 3. Then I changed some settings:
[code]

  However,  smb_direct_post_send_data() might show the error:
[code]
    In my environment, sg_cnt = 1, msg->num_sge = 2

     I  have no idea why the size of "sg array" is (SMB_DIRECT_MAX_SEND_SGES - 1)

[2021-08-25 11:41] hclee commented on #533
Hi @hcbwiz

Because smb direct header should be mapped.
Could you decrease smb_direct_max_send_size and test it agian?

[2021-08-25 12:04] hclee commented on #533
And "-1" should be removed. I will send the patch to fix it tomorrow.

[2021-08-28 04:32] hcbwiz commented on #533
Hi,

I will try it. Thanks

BTW, i forgot mention that i used windows 2016 server as the client

I was  testing smb direct over roce on mellanox 100g hba.

It also got the same error when i transfered data to the ksmbd server:
ksmbd: smb_direct: failed to init rdma_rw_ctx: -11

I observed the windows client sent
  "MaxSendSize = 1364" at negotiation.

Is it related the issue?

Hyunchul Lee ***@***

[2021-08-30 02:00] hcbwiz commented on #533
Hi, Hyunchul Lee,

***@***.***
<https://github.com/hclee/ksmbd/commit/f4821163c5d45368c1e453b6490a842e5f807a43>
fixes the issue on intel x722 and mellanox connectx-5
  * ksmbd: smb_direct: failed to init rdma_rw_ctx: -11*

However, I encountered another issue on these two hardwares:

On Intel x722:
      [  195.918999] i40iw_cqp_ce_handler: opcode = 0x1 maj_err_code =
0xffff min_err_code = 0x800a

[2021-08-30 03:50] hclee commented on #533
I will check it at tonight because I am on vacation.

[2021-08-30 12:53] hclee commented on #533
@hcbwiz,

= remote access error(10)

We try to connect with Windows client and know this issue, and
are fixing it.
As you did, decreasing smb_direct_max_read_write_size is helpful.

We will refine the auto configuration and enable users to change these
parameters without compiling.

Thank you for your test! We will let you know when we are done.

[2021-09-04 09:53] char101 opened #534 "Directory symlinks appears as junction with empty target"
Hi,

When mounting ksmbd share containing directory symlinks, it is displayed as a junction, but the junction target is empty.

[code]

**`smb.conf`**
[code]

[2021-09-19 23:29] namjaejeon commented on #534
Are you the result of commanding "dir" in windows? and Is it different with samba instead of ksmbd?

[2021-09-20 02:02] char101 commented on #534
The `dir` output is just one way to verify that the directory symlinks are represented as junction.

Samba shows directory symlinks as normal directory, not junction.

[2021-09-23 03:22] hcbwiz opened #538 "smb direct: kernel NULL pointer dereference during server shutdown"
Hi,
I used windows 2016 server as the client with mellanox connectx-5 (rocev2),
and got the error during server shutdown:

[code]

'smb_direct_wq' had been destroyed in ksmbd_rdma_destroy().

The quick fixlet works for me:

[code]

[2021-09-24 09:53] rautesamtr opened #539 "Does not trigger systemd autofs/automount"
Hi i set all my shares up with systemd automount units e.g.

#### **`srv-share-Backup.automount`**
[code]

#### **`srv-share-Backup.mount`**
[code]
 and ksmbd with the following config
#### **`smb.conf`**
[code]

Both samba 4.15 and sshfs trigger the automount request and work as expected, with ksmbd the automount isn't triggered and i just get the empty mountpoint/directory in nautilus. Triggerin

[2021-09-28 01:49] hclee commented on #538
Hello @hcbwiz,

Does your branch include The following commit?
https://github.com/cifsd-team/ksmbd/commit/c6aaea31ee0021d51632bbe6eac7a46d5e84038b

This issue looks similar with https://github.com/cifsd-team/ksmbd/issues/529.

[2021-09-28 02:05] hcbwiz commented on #538
Hi,

  I use this branch:
     [https://github.com/namjaejeon/ksmbd/tree/ksmbd-next](url)

  with the patch: [hclee@f482116](https://github.com/hclee/ksmbd/commit/f4821163c5d45368c1e453b6490a842e5f807a43)

  About the ksmbd server:
        It was running on a VM (qemu/KVM) with mellanox connectx-5 via PCI passthrough (vfio-pci).
        mlx5 driver: 5.14.3 kernel,  built-in mlx5 driver.

[2021-11-07 09:29] negoces opened #541 "Cannot build on Debian GNU/Linux 11 (bullseye)"
[code]

[2021-11-07 22:59] hclee commented on #541
Did you build the latest ksmbd of main branch?

[2021-11-08 04:42] negoces commented on #541
Yes, I am using the latest branch, but this seems to be a problem from Debian.

<https://unix.stackexchange.com/a/657174>

[2021-11-08 05:49] hclee commented on #541
Could you check the kernel configuration, CONFIG_ASN1 is turned on?

[2021-11-08 10:41] negoces commented on #541
I think it is.

[code]

[2021-11-10 05:24] dz-cies opened #542 "Wonder the status of smb direct with windows clients"
SMB direct(RDMA) and

[2021-11-10 05:24] #542 closed

[2021-11-10 06:11] dz-cies opened #543 "Wonder the status of smb direct with windows clients"
Hi,
I'm trying to test smb direct with windows clients (with Mellanox Connectx-6 infiniband adapters) recently but have no luck. I'm able to build ksmbd and mount a share on windows server 2016 clients but rdma seems not enabled. I'm wondering whether this feature is already implemented. If it is implemented, what configuration is needed to enable the feature (`server multi channel support = yes'

[2021-11-10 06:25] dz-cies commented on #543
Hi @hcbwiz , I read your issues (#538 and #533) and see you have done some work on testing smb direct with windows clients. Is it convenient for you to share more information with me? I didn't find any contact information on your homepage. If you would like to talk, here's my mail address: zw.xie@high-flyer.cn . Thank you.

[2021-11-10 09:08] KristijanL commented on #543
i am interested in cross-platform RDMA, so please keep it public as i would like to participate in discussion, thanks.

[2021-11-10 09:37] namjaejeon commented on #541
https://stackoverflow.com/questions/50361990/how-to-solve-kernel-configuration-is-invalid-issues

[2021-11-10 09:40] campfire opened #544 "ksmbd.mountd in chroot (lxc, docker) environment"
I run ksmbd.mountd in chroot environment and everything works well, but "path" in smb.conf is relative to external rootfs, can ksmbd works in internal rootfs?

[2021-11-10 09:40] namjaejeon commented on #543
Let me know if you would like to participate in developing ksmbd's smb-direct support for windows client. If you just want to know  smb-direct development situation, We can just say you need to wait more.

[2021-11-10 09:42] namjaejeon commented on #544
Sorry, I can't understand external and internal rootfs meaning.

[2021-11-10 10:09] hclee commented on #543
Windows clients are not supported yet. I have tested smb direct only with Linux kernel's cifs filesystem.
I have succeeded with interim patches, but I need time to complete it because of other work.

[2021-11-10 10:13] KristijanL commented on #543
i can provide testing ksmbd smb-direct with windows 10 / 11 clients on mellanox 4 lx / 5 network adapters if needed.

[2021-11-10 12:32] namjaejeon commented on #543
@KristijanL Sound good. We will request it to you if it is complete.

[2021-11-10 18:22] hcbwiz commented on #543
Hi,
  You can try this:
             [ksmbd-next-rdma](https://github.com/hcbwiz/ksmbd/commits/ksmbd-next-rdma)

  It bases on the ksmbd-next branch with some patchs from @hclee:
  [dma-latest-v0.51](https://github.com/hclee/ksmbd/commits/rdma-latest-v0.51)
  [rdma-latest-v0.1](https://github.com/hclee/ksmbd/commits/rdma-latest-v0.1l)

,and some dirty-fix for #538:
       [fix force-shutdown](http

[2021-11-10 18:47] hcbwiz commented on #543
@dz-cies

For multi-channel, I used [RSS](https://github.com/hcbwiz/ksmbd/commit/0b3a7e4bac5587d8754c81031d76b11fe44da9d1)

For IB mode, it should work (I ever tried it).
If you use mellanox driver directly, you can **focely ksmbd_rdma_capable_netdev()** return **true** without driver modification.

my smb.conf

[code]

For SMB direct, does windows clients require the CIFS server with "multi-chann

[2021-11-11 01:16] dz-cies commented on #543
@namjaejeon @hclee Thank you for the update. Good news to hear about the interim patches. I'm willing to do any test about this feature with Connectx-6 adapters if needed.

@hcbwiz Thank you for sharing the information in detail. I will try this and get back to you. By the way, I still want to ask if it is possible to get personal contact with you. I work for a company in Hangzhou building its own

[2021-11-17 07:40] wqlxx commented on #543
@hcbwiz I have tried what you said. I compiled kernel 5.16.0-rc1 amd ksmbd-next-rdma with gcc-9.3.0 .I tested the above by a windows 10 as the smb-direct cleint with CrystalDiskMark8.0.4 to run a disk io benchmark, and  I got kernel panic.
[code]

[2021-11-17 08:06] hclee commented on #543
@wqlxx
Does this oops happen even with TCP transport?

[2021-11-17 10:37] wqlxx commented on #543
@hclee There will be no problems without the rdma. I use mellanox CX4 with mlx5_core driver in centos7 .

[2021-11-17 10:50] wqlxx commented on #543
@hclee I tested CrystalDiskMark without rdma. These is no oops in linux server, But the windows 10 smb client needs to log in again.
![ksmbd_error.png](https://i.loli.net/2021/11/17/yAsaiBDGE7r5WQH.png)

[2021-11-17 15:59] hcbwiz commented on #543
@wqlxx According to [ms-smbd](https://winprotocoldoc.blob.core.windows.net/productionwindowsarchives/MS-SMBD/%5bMS-SMBD%5d.pdf), only these products support SMB Direct:
[code]

 And, I add a module parameter, please make sure you load the module with 'rdma=1'

 It seems that you tested it with "multi-channel".
 Anyway, you can check the connection status by using the command:
     **Get-SmbMultich

[2021-11-17 16:04] hcbwiz commented on #543
@wqlxx the upstream gets new updates.
I also sync these updates , you can check it here: [ksmbd-rdma](https://github.com/hcbwiz/ksmbd/tree/ksmbd-rdma)
Note: just cherry-pick and compile with errors.

[2021-11-18 01:42] wqlxx commented on #543
@hcbwiz Thank you so much for your help. I will try to remove multichannel option and new update of ksmbd.

[2021-11-18 08:41] wqlxx commented on #543
@hcbwiz I used [ksmbd-next-rdma](https://github.com/hcbwiz/ksmbd.git) branch(commit ID is 6650f9df53e545bf977c6f755ce64c7a07aa209c), and I found this branch can be smb direct(I can't see the data of _Ethernet_ in  windows Task Manager).
![task_manager_without_data_flow.png](https://i.loli.net/2021/11/18/UjGAsXuYhEVKxNP.png)
But When I checkout to `ksmbd-rdma` branch (commit ID is ef10fc816f2fceb37

[2021-11-18 09:19] hcbwiz commented on #543
@wqlxx about using kambd-next-rdma branch,
     do you mean rdma can work if you disable multi-channel?

If you both enable multi-chanel and rdma,
your windows client chooses to use multi-channel?

[2021-11-18 10:32] wqlxx commented on #543
@hcbwiz

Using kambd-next-rdma branch, rdma(smb direct) can work both enable and disable multi-channel. With enable multi-channel, I will have the kernel oops, just like https://github.com/cifsd-team/ksmbd/issues/543#issuecomment-971316254

I don’t need multi-channel for now. So I did not open this function in windows.

[2021-11-18 11:10] hcbwiz commented on #543
interesting... In my environment, i use windows server 2016. Multi-channel(signle port with rss feature) and rdma cannot work together.

When you enable both functions and just connect to your ksmbd server, what is the status by using the command?
**Get-SmbMultichannelConnection**

[2021-11-18 11:16] hcbwiz commented on #543
@wqlxx can you help check  enabling multi-channel only? Does it still trigger kernel oops?

Note: just load module without "rdma=1"

[2021-11-18 21:14] consp commented on #543
Just as a validation: Forcing `rdma_capable = true; ` on a CX-4 VPI card works just fine. The problem is detecting the ibdev as mentioned by @hcbwiz which can be fixed by the modification of the mlx5 driver to include the `ib_device_set_netdev` call.

![image](https://user-images.githubusercontent.com/6802998/142492450-b4834887-05b8-4a87-878b-102a3f3ce68c.png)
Two quick tests on the same SSD array

[2021-11-18 21:36] hcbwiz commented on #543
@consp Does CrystalDiskMark support by-pass buffering (direct io)?

Currently, ksmbd doesn't support SMB2 FILE_NO_INTERMEDIATE_BUFFERING.
Thus all io still go through linux page cache.

It seems linux vfs_xxx APIs doesn't support direct io in a normal way.

[2021-11-18 22:53] KristijanL commented on #543
when forcing ksmbd to use RDMA i get kernel panic, using:
commit 6650f9df53e545bf977c6f755ce64c7a07aa209c (HEAD -> ksmbd-next-rdma, origin/ksmbd-next-rdma)

built-in linux mlnx5 driver
system info:
`root@truenas:~# cat /etc/debian_version
11.0
root@truenas:~# uname -a
Linux truenas 5.10.70+truenas #1 SMP Wed Nov 3 18:30:34 UTC 2021 x86_64 GNU/Linux
root@truenas:~# lspci | grep Mell
04:00.0 Etherne

[2021-11-19 04:25] wqlxx commented on #543
@hcbwiz

![multi_channel-rdma_1.png](https://i.loli.net/2021/11/19/ufMpje6atg2VH8R.png)

without "rdma=1" and enable multi-channel only, There is no oops.
![multi_channel-rdma_0.png](https://i.loli.net/2021/11/19/TKQA3Rv8YSBDzZL.png)

[2021-11-19 05:41] dz-cies commented on #543
Same issue, the latest branch doesn't work. The established connection shows RSS Capable True and RDMA Capable False.

[2021-11-19 09:43] hcbwiz commented on #543
I will setup my testing equipment, and will update you later.

[2021-11-19 11:31] consp commented on #543
As far as I know not with SMB shares since you can only run it on those as user, not administrator. It was the easiest thing I had available for testing but moving large files and many lose files is definitely working and in range of the results from CrystalDiskMark.

The backing filesystem is (open)zfs, if I'm not mistaken it completely bypasses the normal linux page cache.

[2021-11-19 16:53] consp commented on #543
Is that before or after starting a file transfer? Initially I get RDMA advertised even if it fails to connect and it shows RSS enabled, RDMA disabled afterwards.

Windows Event viewer might show some more information if RDMA was advertised by ksmbd in Application&Services->Microsoft->Windows->SMBClient->Connectivity . Maybe there is a better way of getting this info but I'm not that experienced wi

[2021-11-22 01:44] hcbwiz commented on #543
@consp Thanks for your testing..

There are two "buffering":

[code]

If the windows APP uses **FILE_FLAG_NO_BUFFERING**, its IO will by-pass windows FS buffering,
and set **SMBD2 FILE_NO_INTERMEDIATE_BUFFERING**.

If  ksmbd can handle"FILE_NO_INTERMEDIATE_BUFFERING", it also can by-pass the FS buffering and write directly to
backend storage.

Actually,  I used a nvme raid with XFS, it has almost

[2021-11-22 07:08] dz-cies commented on #543
The information from the event viewer looks clear. My environment is Connect X6 adapter , Windows 2016 and MLNX_WinOF2 2.70.51000.
[code]

[2021-11-23 15:24] consp commented on #543
Are the all the required UDP Ports open? Maybe something is blocked somewhere along the network path. I'm using direct connection so no added hops. Have you tried testing the RDMA connection with something like rping & nd_rping windows to linux?

Sounds probable. My system is about 5 times faster read, 3 times with write, with single thread fio than possible with ksmbd but I wasn't expecting any w

[2021-11-24 01:21] dz-cies commented on #543
I don't think this is a firewall issue because the old branch works. Anyway I closed the firewall on both sides and the result is the same.

Rping works both directions.

I'm on 5.8 and actually I made it work (the old branch) on 5.4 by a simple patch to kernel src.

[code]

[2021-11-25 02:36] hcbwiz commented on #543
Hi,

I have picked the latest patch from [here](https://github.com/namjaejeon/ksmbd)  to [ksmbd-rdma](https://github.com/hcbwiz/ksmbd/tree/ksmbd-rdma).

It works in my environment (windows 2016 server).

BTW, I also tested SMB direct without enabling multi-channel.
In the smb.conf,
[code]

 Without multi-channel support, windows 2016 server cannot activate RDMA transportation.

[2021-11-30 07:20] wqlxx commented on #543
@hcbwiz I used mellanox cx4 lx card with mlx5_core driver. But I always got `ibdev` always is `NULL` in `ksmbd_rdma_capable_netdev`, because `ib_device_get_by_netdev` can not find any ib devices with `netdev`.
I am very confused, how to open rdma on centos7. I use mlx5_core, and not install mellanox offical MLNX_OFED driver.

[2021-11-30 09:54] hcbwiz commented on #543
@wqlxx the kernel built-in and mlnx ofed drivers don't register it.

you can modify the driver code as i mentioned
Or just modify thr ksmbd code:
let "ksmbd_rdma_capable_netdev" always returns true

[2021-11-30 10:23] consp commented on #543
I use this kind of temporary hack in `ksmbd_rdma_capable_netdev` since I have multiple devices:
[code]
This is not portable and a quick and dirty hack but unless the mlx5_core driver gets patched this will have to do for now for my testing.

[2021-12-01 01:56] wqlxx commented on #543
@consp @hcbwiz Thanks, I will try what you two said.

[2021-12-01 03:29] dz-cies commented on #543
I tried this branch but it still doesn't establish RDMA connection in my environment. Hope to see feedbacks from other guys about this branch.

Now I've turned to use RSS without RDMA, as I find it gives equal (or even higher) throughput. But I encountered two problems. I'm not sure whether they're related.

1. The default value of ConnectionCountPerRssNetworkInterface (Get-SmbClientConfiguration)

[2021-12-02 00:32] pesa1234 opened #545 "Error -22 mapping Owner SID to uid"
Dear guys...
I'm on ksmbd on my openwrt router... I have a strange issue...

Why when I try to make a new empty excel file with windows10 and office365 on my network folder I get these errors?

`Tue Nov 30 10:24:31 2021 kern.err kernel: [  939.193231] ksmbd: parse_sec_desc:814: parse_sec_desc: Error -22 mapping Owner SID to uid
Tue Nov 30 10:24:31 2021 kern.err kernel: [  939.201765] ksmbd: parse_

[2021-12-02 09:24] mmakassikis commented on #545
Which ksmbd/ksmbd-tools versions are you using ?
There are a few fixes regarding Windows/Office compatibility in the current code.

What filesystem is used on the disk backing the share ?

[2021-12-02 12:45] pesa1234 commented on #545
Hi, regarding filesystem I have same issue on fat32 and f2fs.
`ksmbd-server 3.4.2-1 | ksmbd-utils 3.4.2-1 | kmod-fs-ksmbd 5.4.154+3.3.9-1`

[2021-12-02 12:50] pesa1234 opened #546 "Windows XP can not log in."
Dear, do you have any suggestion to use ksmbd with windows xp client?

I enable SMB1.
Windows XP users get the form to insert user and password but they con not log in.
Or if I try to map network drive it does ask me for a password, but then it fails to authenticate and asks again.

Thanks again

[2021-12-03 01:41] namjaejeon commented on #545
Okay, Error message can be coming. So are there any problems with the operation excepting error print log ?

[2021-12-03 01:43] namjaejeon commented on #546
I checked the connection with windows XP a long time ago. I don't even have windows XP currently for testing. Why are you testing windows XP, which people rarely use?

[2021-12-03 10:26] pesa1234 commented on #545
No ksmbd shows only that error, but my Win10 clients have an explorer restart on their computer and if they enter again on that folder they found two files:
[code]

[2021-12-03 10:30] pesa1234 commented on #546
I know that is rarely used, but some industrial machine still have XP and if I would like to have connectivity ksmbd can not be used on my router.
I know that Samba 4 is a solution, but it need a lot of resources....

[2021-12-04 04:47] namjaejeon commented on #543
@wqlxx Can you show me the below info on your centOS ?

linkinjeon@linkinjeon-Z10PA-D8-Series:~$ ibv_devices
    device          	   node GUID
    ------          	----------------
    iwp1s0f4        	00074341eb200000
linkinjeon@linkinjeon-Z10PA-D8-Series:~$ ibv_devinfo
hca_id:	iwp1s0f4
	transport:			iWARP (1)
	fw_ver:				1.25.6.0
	node_guid:			0007:4341:eb20:0000
	sys_image_guid:			0007:4341:eb2

[2021-12-04 04:51] namjaejeon commented on #543
@dz-cies Why do you turn on RSS mode ? When I checked it, There is no performance gain from it. And there was race condition issue in session setup. BTW Multichannel work fine without RSS mode ?

[2021-12-04 04:55] namjaejeon commented on #543
@hcbwiz Can you tell me again clearly ? Does it mean that RDMA does not work without multi-channel in Windows 2016 server? Or work?

[2021-12-04 05:54] namjaejeon commented on #546
Okay, I'm not sure whether I can fix this issue without windows XP. Can you give me tcpdump(or wireshark dump) file that capture packet on problem situation ?

[2021-12-04 05:55] namjaejeon commented on #545
Okay, Can you show me parameters in the your smb.conf(/etc/ksmbd/smb.conf) ?

[2021-12-04 06:01] namjaejeon commented on #545
I think that this patch(https://github.com/cifsd-team/ksmbd/commit/3b8d91be68c63a318c98458f870f439d5469d20d) will fix your issue. Once you can apply this patch to your target to fix issue right now. I will release 3.4.3 version after applying the flying patches on list.

[2021-12-04 06:43] hcbwiz commented on #543
@namjaejeon , in my environment, i need to turn on "multi channel" feature, and windows server 2016 just can activate "smb direct". however, it just starts one rdma session rather than multiple rdma sessions.

[2021-12-04 13:10] pesa1234 commented on #546
Hi...
I run this on router...
` tcpdump -i any -evn tcp port 445`

    192.168.56.1.50655 > 192.168.56.2.445: Flags [S], cksum 0xb253 (correct), seq 2268627362, win 64240, options [mss 1460,nop,wscale 8,nop,nop,sackOK], length 0
13:36:18.023175  In 0a:00:27:00:00:0d ethertype IPv4 (0x0800), length 68: (tos 0x0, ttl 128, id 2924, offset 0, flags [DF], proto TCP (6), length 52)
    192.168.56.1.5065

[2021-12-04 13:57] namjaejeon commented on #546
can you attached it as file?

[2021-12-04 14:28] pesa1234 commented on #546
[tcpdump.log](https://github.com/cifsd-team/ksmbd/files/7654077/tcpdump.log)
Done!
Thanks! In any case you need some more info, just ask! Thanks

[2021-12-05 04:45] namjaejeon commented on #546
This file is not interpreted by wireshark.
please do command like this. enp5s0 is nic name. you can find it using ifconfig.

sudo tcpdump -i enp5s0 -w dump.pcapng

[2021-12-05 09:40] pesa1234 commented on #546
Done, please check and let me know.

[dump.zip](https://github.com/cifsd-team/ksmbd/files/7655594/dump.zip)

[2021-12-05 09:45] namjaejeon commented on #546
can you show me the your smb.conf (/etc/ksmbd/smb.conf) ?

[2021-12-05 11:53] pesa1234 commented on #546
Hi

	netbios name = VirtualRouter
	server string = Ksmbd on OpenWrt
	workgroup = WORKGROUP
	interfaces =
	bind interfaces only = yes
	ipc timeout = 20
	deadtime = 15
	map to guest = Bad User
	smb2 max read = 64K
	smb2 max write = 64K
	smb2 max trans = 64K
	cache read buffers = no
	cache trans buffers = no

	server min protocol = NT1
	server signing = disabled

	path = /mnt/sdb1
	force user = root

[2021-12-05 13:11] namjaejeon commented on #546
Please turn debug print on like the following.

echo smb > /sys/class/ksmbd-control/debug

and share debug print log to me.

[2021-12-05 13:18] pesa1234 commented on #546
to read? ok cat /sys/class/ksmbd-control/debug?
this is the answer
[smb] auth vfs oplock ipc conn rdma

[2021-12-05 13:27] namjaejeon commented on #546
No, want to see this message from ksmbd server.

[ 4648.698867] ksmbd: tree connect request for tree IPC$ treename \\172.30.1.20\IPC$
[ 4648.698932] ksmbd: IPC share path request

[2021-12-05 13:28] pesa1234 commented on #546
Ok, here... sorry
[smb log.log](https://github.com/cifsd-team/ksmbd/files/7655925/smb.log.log)

[2021-12-05 13:35] namjaejeon commented on #546
Can you try to test with this change ?

@@ -8435,9 +8437,9 @@ bool smb1_is_sign_req(struct ksmbd_work *work, unsigned int command)
 {
        struct smb_hdr *rcv_hdr1 = (struct smb_hdr *)work->request_buf;

-       if ((rcv_hdr1->Flags2 & SMBFLG2_SECURITY_SIGNATURE) &&
-                       command != SMB_COM_SESSION_SETUP_ANDX)
-               return true;
+//     if ((rcv_hdr1->Flags2 & SMBFLG

[2021-12-05 13:40] pesa1234 commented on #546
I think that I'm not able to compile the package for openwrt, but I will try

[2021-12-05 13:42] namjaejeon commented on #546
Or you can disable signing option from your windows XP.

[2021-12-05 13:45] namjaejeon commented on #546
I think that SMB1 signing feature doesn't seem to work properly.

[2021-12-05 17:17] pesa1234 commented on #546
Dear,
you're right, there's something not working on sign with SMB1.
On my XP Embedded sp3 by set this key below to 0

`HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\LanManWorkstation\Parameters\EnableSecuritySignature`

all is working...

[2021-12-05 21:29] namjaejeon commented on #545
Can you confirm if problem is fixed or not ?

[2021-12-05 21:33] namjaejeon commented on #546
Okay. Most of windows and windows XP doesn't enable signing feature by default. So I didn't found it before. But I don't have time and target(windows XP) to fix signing issue. I hope you or someone interested fix it. If you don't like it, you should disable the smb1 signing feature and use ksmbd.

[2021-12-05 21:50] pesa1234 commented on #546
On windows XP is enabled by default.
So, don't worry, I disable it on XP client from my C# code.

[2021-12-05 21:59] namjaejeon commented on #546
Cool.

[2021-12-06 01:50] wqlxx commented on #543
@namjaejeon
![ibv.png](https://s2.loli.net/2021/12/06/nVQreYU2jJfaBAE.png)

[2021-12-06 02:00] wqlxx commented on #543
@hcbwiz You are right, windows server can use RDMA function normally as a smb client. But windows 10 as smb client can not use SMB Direct with Ksmbd in `ksmbd_rdma` branch.

[2021-12-06 02:45] namjaejeon commented on #543
@wqlxx Could you explain more why smb direct of windows 10 client is not connected with ksmbd ?

[2021-12-06 03:11] hcbwiz commented on #543
As i know, for desktop versions, only "windows 10 pro for workstation" and windows 11 support smb direct

[2021-12-06 03:26] dz-cies commented on #543
My environment is rather simple that both server and client have one ConnectX6 200Gb/s adapter. My purpose is to saturate the adapters if possible. The bandwidth without RSS or RDMA is 1.5GB/s in my test. I guess it is limited by two factors: one connection only is established without RSS and the connection is TCP without RDMA.

As mentioned above, RDMA and RSS seem not work together. I tried RDMA

[2021-12-06 08:20] PoleTIC opened #547 "Large file transfer to smb share exfat partition from windiws client"
Hi,

Some clients are experiencing some issues. Using ksmbd-3.3.4, transferring large files (2go) to smb shared exfat usb disk fails from  windows client (windows 10) with windows error 0x8007003B (Unattended network error). Note that, the problem is not seen from linux client neither using NTFS filesystem.  Have you any idea on what can be the cause of such an issue ?

Regards

[2021-12-06 08:23] mmakassikis commented on #547
Hi,

Please test with newer version of ksmbd/ksmbd-tools. There have been many changes since 3.3.4.

[2021-12-06 08:26] PoleTIC commented on #547
HI mmakassikis,
Thanks. I will test with newer version and get back my feedback.

[2021-12-06 08:44] wqlxx commented on #543
@hcbwiz I have test smb direct in windows 11 pro insider preview, It's doesn`t work.

[2021-12-06 08:54] pesa1234 commented on #545
I was not able to compile the package for my router yesterday...

[2021-12-06 09:50] namjaejeon commented on #543
As I know, There is windows 11 pro workstation version. It will support smb-direct, not window 11 pro :p)

[2021-12-06 09:54] namjaejeon commented on #547
@PoleTIC Please check https://github.com/cifsd-team/ksmbd-tools/issues/219.
I didn't apply this patch to ksmbd yet. Will do that. You can apply the change in above ISSUE if you want to fix ASAP.

[2021-12-07 02:14] wqlxx commented on #543
@namjaejeon  You are right. I have tried windows 10 pro workstation as smb client with linux smb  server(ksmbd), it's support smb dierct.

[2021-12-07 10:01] pesa1234 commented on #545
Now I compiled it with https://github.com/cifsd-team/ksmbd/commit/3b8d91be68c63a318c98458f870f439d5469d20d, but the issue remain...

[2021-12-07 10:02] pesa1234 commented on #546
Hi, compiled with the patch suggested... It doesn't works!

[2021-12-07 13:28] namjaejeon commented on #546
okay, windows XP seems to reject unsigned smb response. Can you send me a tcpdump between windows XP and samba ?

[2021-12-07 13:30] namjaejeon commented on #545
Can send me a tcpdump on problem situation ?

[2021-12-07 13:32] namjaejeon commented on #545
Ah I am missing one more patch. please apply this patch also https://github.com/namjaejeon/ksmbd/commit/4b1a35440024ee33c4a277350faf71f71fba7a1a

[2021-12-07 14:09] pesa1234 commented on #546
Sorry, I make a mistake! I forgot to share on wireless wan. Sorry! Sorry! Sorry!

`@@ -8435,9 +8437,9 @@ bool smb1_is_sign_req(struct ksmbd_work *work, unsigned int command)
 {
        struct smb_hdr *rcv_hdr1 = (struct smb_hdr *)work->request_buf;

-       if ((rcv_hdr1->Flags2 & SMBFLG2_SECURITY_SIGNATURE) &&
-                       command != SMB_COM_SESSION_SETUP_ANDX)
-               return t

[2021-12-07 17:32] pesa1234 commented on #545
Hi, I've worked on file... this is the final patch applied, now on new excel file, windows explorer doesn't hangs, the file creation process is ok...

but, log on router
[code]
[code]

[2021-12-07 23:27] namjaejeon commented on #545
Great! And ignore error message. it is not related with your issue. please see this patch(https://github.com/namjaejeon/ksmbd/commit/7a97df68f3e3df06a5f9e2e97f99e6cdbdf7f3ae)

[2021-12-07 23:33] namjaejeon commented on #546
okay, it is workaround solution. I can not apply this change to mainline. I would like to check if there is the way that ksmbd send information that ksmbd doesn't support signing feature to client. So want to see patckets from samba. Can you do that ?

[2021-12-07 23:41] pesa1234 commented on #545
Ok, I hope that these already fixed things goes to the stable release soon...

So, issue can be closed

[2021-12-07 23:45] pesa1234 commented on #546
Yes, tcpdump on samba36 is ok? I'll do it on Friday when I'm back in factory to test

[2021-12-08 00:44] namjaejeon commented on #546
Thanks!

[2021-12-08 00:45] #545 closed

[2021-12-08 00:45] namjaejeon commented on #545
Thanks for your work! closed.

[2021-12-09 15:04] PoleTIC opened #548 "A kernel Null reference and crash cuased by SMB command"
A Null pointer reference in kernel has been observed when using the smbclient "volume" command causing a kernel crash. Tested on ksmbd (3.3.7) as follows:
$ smbclient //192.168.2.1/ipc$
$ smb: \> volume

There is any fix intended to this issue ?

Regards

[2021-12-09 22:48] namjaejeon commented on #548
At least, you need to share kernel oops backtrace.

linkinjeon@linkinjeon-Z10PA-D8-Series:~$ smbclient //172.30.1.20/ipc$
Enter WORKGROUP\linkinjeon's password:
Try "help" to get a list of possible commands.
smb: \> volume
Error NT_STATUS_INVALID_PARAMETER getting volume info
smb: \>

[2021-12-10 08:15] PoleTIC commented on #547
Thx @namjaejeon. The fix works well.

[2021-12-10 09:12] PoleTIC commented on #548
I will test on the latest version and put the backtrace if the issue is still there. Thanks

[2021-12-10 09:12] #547 closed

[2021-12-11 13:35] namjaejeon commented on #543
@wqlxx I have a question, I can see RDMA capable of SMB Server in windows 10 pro.(not workstation). In case of smb client, RDMA capable is set to false.
[code]
[code]

If so, rdma can work with smb server of windows 10 pro ?

[2021-12-13 03:27] namjaejeon commented on #543
@dz-cies Can you check kernel oops issue when enabling RSS mode with the below patch ?

https://github.com/cifsd-team/ksmbd/commit/cbcd1bab18903713f07b2e9fd5119a16371d24de

[2021-12-13 03:32] namjaejeon commented on #543
How did you set it to large number ? Can you get linearly growing performance with windows server ?

[2021-12-13 03:43] wqlxx commented on #543
@namjaejeon Yes, Win10Pro can't be used as a client. Win10Pro WorkStation can only be used as a smb direct client. Windows server can not only as the smb direct client, also can be used as the smb direct  server.

[2021-12-13 04:31] namjaejeon commented on #543
@wqlxx Is that true ? Have you checked smbdirect on each windows pro workstation and windows server ? I thought windows 10 pro workstation can be smb direct server.

[2021-12-13 08:33] PoleTIC commented on #548
Issue not reproduced on version 3.4.2. Closing the ticket.

[2021-12-13 08:33] #548 closed

[2021-12-13 17:39] Rabenda opened #549 "ksmbd don't support Time Machine"
[code]

It don't support Time Machine?

[2021-12-14 00:05] pesa1234 commented on #546
[dump.pcapng.zip](https://github.com/cifsd-team/ksmbd/files/7707642/dump.pcapng.zip)
DONE! it is attached...

[2021-12-14 11:36] dz-cies commented on #543
The kernel oops is gone. Instead of the kernel oops, it's now reporting 'authentication failed' and refuse to create more connections in a high probability. So there're , say , 2 connections at the beginning and the throughput is 3GB/s. The throughput may grow , by chance, after waiting some time and more connections are established. I don't know the frequency in which the windows client retries t

[2021-12-14 12:52] dz-cies commented on #543
Use Set-SmbClientConfiguration cmdlet, for example: `Set-SmbClientConfiguration -ConnectionCountPerRssNetworkInterface 8`

Not exactly linear but I think it's close. I get 1.6GB/s with 4 connections (per connection it seems not as good as with ksmbd), 3.8GB/s with 8, and 5.4 GB/s with 16.

MCX653105A-HDAT

The kernel oops is gone after applying this patch.

Instead of the kernel oops, it's now rep

[2021-12-14 13:58] namjaejeon commented on #543
@dz-cies Can you check "authentication failed" with https://github.com/cifsd-team/ksmbd/commit/d1fb6f5ebf27ecf5fb4ad8c18289d84731877225 patch ?

[2021-12-14 14:03] namjaejeon commented on #543
Could you explain more what is meaning "The only issue left is it starts slow." ? and why do you reboot windows clients ?

[2021-12-14 19:00] mmakassikis commented on #549
Time Machine is not currently supported as it requires some extensions[1] that are not currently implemented.

[1] https://developer.apple.com/library/archive/releasenotes/NetworkingInternetWeb/Time_Machine_SMB_Spec/

[2021-12-15 01:44] socram8888 opened #550 "Plaintext connection despite encryption enabled"
Hello. I am facing an error with the latest stable v3.4.2 version, running on an OpenWRT machine. My configuration file is as follows:
[code]

Despite "smb3 encryption" set to yes, communications are still being made in plain text according to Wireshark.

During the initial negotiation, both the client (a Windows 10 machine running 21H1, compilation 19043.1348) and the server agree on using 3.1.1

[2021-12-15 03:22] namjaejeon commented on #550
It work fine to me. don't know why windows client doesn't send encrypted request since session setup. I can not find any clue in your dump. Can you check it against samba ?

[2021-12-15 03:31] dz-cies commented on #543
It works great! 14 connections established (not sure why not 16) at the very beginning and I get a throughput near 9GB/s.

Sorry for my ambiguous expression. It's a rough shorthand of the phenomenon in case 1 mentioned before. And it's solved by the new patch.

I just can't control the behavior of the users. Some users prefer to reboot their windows hosts periodically.

[2021-12-15 04:42] namjaejeon commented on #543
@dz-cies Thanks for your check! Could you please give me your email and your full name to add Tested-by: tag in patches.

e.g.
Tested-by: Michael Haener <michael.haener@siemens.com>
Signed-off-by: Henning Schild <henning.schild@siemens.com>

Thanks!

[2021-12-15 05:02] dz-cies commented on #543
Ziwei Xie zw.xie@high-flyer.cn

[2021-12-15 05:31] dz-cies commented on #543
I forgot to mention I removed the "#endif" line in the second patch to make it applied to the master branch.

[2021-12-15 08:47] pesa1234 commented on #546
@namjaejeon Hi, did you have time to see the log and the new bug with XP?

Thanks and sorry to bother you...

[2021-12-15 09:12] socram8888 commented on #550
Samba is working fine:
![imagen](https://user-images.githubusercontent.com/515068/146155412-4695be73-c5f2-4d76-8f8c-84fb611c2a2e.png)
This is a log of me connecting to another machine running Debian Bullseye: [comms-samba.zip](https://github.com/cifsd-team/ksmbd/files/7717790/comms-samba.zip)

I've found a small issue I think it could be the culprit, and it is that the 3.1.1 handler in smb2ops.c [

[2021-12-15 12:29] namjaejeon commented on #543
@dz-cies Have you ever multichannel feature of samba before ?

[2021-12-15 12:34] namjaejeon commented on #546
I have checked tcpdump. can't find any clue. So maybe, force to turn off signing feature in SMB1. I will send the patch to you soon.

[2021-12-15 12:37] namjaejeon commented on #546
Regarding to text file issue, I don't have windows XP. So tested it using linux cifs client.

[code]

Can you send tcpdump for this?

[2021-12-15 12:45] namjaejeon commented on #546
For singing issue, Please check this patch(https://github.com/namjaejeon/ksmbd/commit/c5fcd819a9f93d62e0a12e5a5b3f9b195da20121)

[2021-12-15 12:56] namjaejeon commented on #550
Okay, Can you check problem is fixed after removing this lines you found ?

[2021-12-15 13:38] socram8888 commented on #550
I already thought so but that disables encryption completely, as [smb2pdu.c uses it as a condition to enable AES keygen](https://github.com/cifsd-team/ksmbd/blob/master/smb2pdu.c#L1493-L1495).

Further modifying the code (https://github.com/socram8888/ksmbd/tree/no-enc-flag) seems quite promising, as the client seems to indeed request encryption, but I am facing a kernel crash after these changes

[2021-12-15 15:16] socram8888 commented on #550
The crash seems to be caused by something else, as the modded ksmbd module loads and runs fine on an Alpine installation, so I've opened #551 to merge the changes.

I've also checked that this bug does not affect 3.4.2 if using dialects 3.0 or 3.0.2, which do use the flag and the session is properly encrypted, so as a mitigation for anyone affected you might wanna do that.

[2021-12-15 21:01] KristijanL commented on #543
with the latest patches i don't get kernel panic anymore, but still i cant enable rdma, i get an error with 'rdma=1'

`kernel: ksmbd: unknown parameter 'rdma' ignored`

[2021-12-15 21:11] pesa1234 commented on #546
Hi, tomorrow I try.
Do you have a plan for new version?

[2021-12-15 23:22] namjaejeon commented on #543
@KristijanL there is no rdma=1 option in cifs client. You can just use rdma option except "=1".

[2021-12-15 23:41] namjaejeon commented on #546
[code]
Can you share print log after change ksmbd_debug to pr_err ?

[2021-12-16 00:35] pesa1234 commented on #546
`smb1pdu.c:2928:9: error: expected ')' before 'SMB'
  pr_err(SMB, "filename %pd, offset %lld, count %zu\n",
         ^~~
`
[code]

Why I'm wrong?

[2021-12-16 00:36] namjaejeon commented on #546
Ah, please remove SMB. i.e. pr_err("filename %pd,

[2021-12-16 00:39] dz-cies commented on #543
Not really. I did some test under the userland samba server (smbd). RSS works, but the throughput does not grow. In the server side, although there're multiple threads processing multiple connections, it seems there's one thread handling some works for all connections. So this thread become the bottleneck and the throughput is limited by the computing power of a single CPU core.

I couldn't find a

[2021-12-16 00:47] pesa1234 commented on #546
[code]

[2021-12-16 00:54] namjaejeon commented on #543
@dz-cies Okay. Could you please give us performance comparison of multichannel between ksmbd and samba ?

[2021-12-16 00:56] namjaejeon commented on #546
Let me know your kernel version and local filesystem(ext4 ?)

[2021-12-16 01:00] dz-cies commented on #543
AMD EPYC 7H12 64-Core Processor

[2021-12-16 01:15] dz-cies commented on #543
I get 1.5~1.7GB/s throughput with samba, and 8.5~9.2GB/s with ksmbd.

The server and client used in the test are the same, and I made sure in both cases 16 connections were established.
I guess the samba case may be improved if a more powerful CPU is used. Also note in ksmbd case, the backend storage (I use a cephfs mount point as the backend) may be a limit.

CPU used in this test: AMD EPYC 7H12

[2021-12-16 01:40] namjaejeon commented on #543
What tools have you used for measuring performance ?

[2021-12-16 01:44] dz-cies commented on #543
I use fio and the following commandline:
`fio -time_based -runtime=1200 -name=test -rw=write -ioengine=windowsaio -direct=1 -iodepth=1  -numjobs=10 -bs=7M -size=10G`

[2021-12-16 01:55] dz-cies commented on #543
I forgot to test the read case. I just tested with the following command (only -rw option is changed):
`fio -time_based -runtime=1200 -name=test -rw=read-ioengine=windowsaio -direct=1 -iodepth=1 -numjobs=10 -bs=7M -size=10G`
The result is 3GB/s in samba case and 8.7~9.1GB/s in ksmbd case.

[2021-12-16 02:16] namjaejeon commented on #543
@dz-cies Really thank a lot!!

[2021-12-16 05:15] hcbwiz commented on #543
@dz-cies

  I build a new server and use the latest mlnx-ofed driver with 5.10 kernel
        (I used kernel built-in driver before).

  I get the error:
     "smb_direct: Can't create transport: -93"
  It seems that "Fast Registration Work Requests" cannot work with the mlnx-ofed driver.

   I'm trying to figure out.

   did you use mlnx-ofed driver for SMB direct? if yes, did you modify somethin

[2021-12-16 09:16] pesa1234 commented on #546
Hi.
filesystem found with blkid is vfat
kernel is 5.4.154

[2021-12-16 09:31] dz-cies commented on #543
Yes.

No. But the only branch I had rdma work was the earliest one, ksmbd-next-rdma branch(commit ID is 6650f9d).

[2021-12-16 09:58] hcbwiz commented on #543
Thanks, it would be that i didn't compile it with mlnx ofed headers.

Actually, i can get the same throughput as you measured by using multi-channel in 16 tcp connections.

Thus I'm interested in rdma+multi-channel.

I quickly tried kernel built-in driver to test RDMA and multi-channel with the latest patches.

The clients can created two rdma connections.

Then i investigated the information from

[2021-12-16 12:46] socram8888 commented on #550
Closing this, as the patch will be merged with Linux kernel instead: https://lkml.org/lkml/2021/12/16/336

[2021-12-16 12:46] #550 closed

[2021-12-16 13:07] namjaejeon commented on #550
Thansk for your work and I will apply this patch to out of tree ksmbd soon.

[2021-12-16 13:08] socram8888 commented on #550
Awesome. Thank you for creating ksmbd as well :)

[2021-12-17 14:41] namjaejeon commented on #546
Ping, have you checked this patch ?

[2021-12-17 15:42] namjaejeon commented on #546
Can you add the below debug print log and show me the print log on your target ?

[code]

[2021-12-18 12:51] pesa1234 commented on #546
Hi.
[code]

[2021-12-18 22:58] namjaejeon commented on #546
Your target is big endian 32bit ?

[2021-12-18 23:08] namjaejeon commented on #546
sizeof (struct smb_hdr) :
   1. my linux pc : 33
   2. your target : 37

Can not understand why sizeof size is different on two target.
[code]
Can you check how sizeof(struct smb_hdr) value is 37 on your target ?

[2021-12-18 23:26] pesa1234 commented on #546
It's a mips24kc router with openwrt...

How to check, sorry...

[2021-12-18 23:49] namjaejeon commented on #546
You can print each size of type:
[code]

[2021-12-19 00:28] pesa1234 commented on #546
Hi, this is the log...

`Sun Oct 24 09:03:38 2021 kern.err kernel: [  137.175294] ksmbd: sizeof(struct smb_hdr) : 37, sizeof(__le16) : 2, sizeof(__u8) : 1,sizeof(__u32) : 4, sizeof(__be32) : 4, sizeof(rsp_hdr->Signature) : 8, sizeof(rsp_hdr->Status) : 4
`

[2021-12-19 01:51] namjaejeon commented on #546
can you send your ksmbd source to me ?

[2021-12-19 02:56] namjaejeon commented on #546
smb1 signing failure issue is related to read data issue you reported.

[2021-12-19 11:15] pesa1234 commented on #546
[https://corghispa-my.sharepoint.com/:u:/g/personal/a_pesaresi_nexiongroup_com/ERd0wNqDd4FKuHDxTwRlKFgBG1q5Gz2wME5Q0EU_EbwBNw?e=hnoTWP](url)

How can we try to solve? How can I help? This bug is present in all OpenWRT router.

[2021-12-19 11:29] namjaejeon commented on #546
I found root-cause. can you test the latest ksmbd in cifsd-team github ? you can check both signing issue and read issue on it.
If you confirm that your issues are clear, I will release 3.4.3 version ASAP.

[2021-12-19 11:35] pesa1234 commented on #546
I need to apply every patch, can you give me a package example 3.4.2.beta?

[2021-12-19 11:50] namjaejeon commented on #546
Okay.
@neheb Hi, Rosen,  I have released ksmbd, ksmbd-tools 3.4.3 version, Please apply them to openWRT.

[2021-12-19 11:53] namjaejeon commented on #546
@pesa1234 https://github.com/cifsd-team/ksmbd/releases/tag/3.4.3, https://github.com/cifsd-team/ksmbd-tools/releases/tag/3.4.3
Ah, package ? I don't know how to make it.
There are ksmbd-3.4.3.tgz and ksmbd-tools-3.4.3.tgz in release. If you can test it, you can download and test. If you can't, You may need to wait till Rosen apply this release to openWRT.

[2021-12-19 16:08] pesa1234 commented on #546
I was able to compile... I can not enter to shared folder. This is the log.
And attached dump of tcpdump
[dump343.pcapng.zip](https://github.com/cifsd-team/ksmbd/files/7741115/dump343.pcapng.zip)

[code]

[2021-12-19 22:55] namjaejeon commented on #546
Could you please try to check the below change ?

[code]

[2021-12-19 22:59] namjaejeon commented on #546
@neheb I found more bugs in smb1. I will re-release 3.4.3 version after fixing it.

[2021-12-20 00:42] pesa1234 commented on #546
Hi, after this mod, I can access only if I modify the registry of windows by set the key enablesecuritysignature to 0.
And the file integrity is OK.
Otherwise it still ask for user and password also if I enable guest account...

This is the ksmbd log
[code]
One more thing, If I disable SMB1, seems same log...
[code]

[2021-12-20 02:34] namjaejeon commented on #546
Thanks for your test!

Please try this patch. and let me know windows XP behavior.
[code]

[2021-12-20 09:19] pesa1234 commented on #546
Yep! It works!
it is not necessary to set...
[code]
Is it right?
Works also without SMB1-legacy!

[2021-12-20 10:39] namjaejeon commented on #546
Okay, I will release 3.4.3 today. thanks for your test:)

[2021-12-20 10:47] pesa1234 commented on #546
Thanks a lot for your great module! It's very good in a low-end devices! So, it's what I need!

[2021-12-20 11:49] namjaejeon commented on #546
Ah, if you set "server signing = disabled" in smb.conf, it work fine with windows XP that enable smb1 signing ?

[2021-12-20 12:42] pesa1234 commented on #546
Hi, with settings `server signing = disabled` and no this patch it doesn't works

[code]

[2021-12-20 13:16] namjaejeon commented on #546
@pesa1234 Ok, I have released. Thanks!
@neheb Hi Rosen, ksmbd/ksmbd-tools 3.4.3 version are ready. Please check them. Thanks!

[2021-12-20 21:09] pesa1234 commented on #546
Just for info...
Compiled for mips_24kc and for arm_cortex‑a9 works ok also for XP users...

[2021-12-20 22:01] namjaejeon commented on #546
Great! Thanks for your checking!

[2021-12-21 01:41] neheb commented on #546
@namjaejeon small note, the ksmbd tarball contains a git archive. I doubt that's needed.

[2021-12-21 01:57] namjaejeon commented on #546
@neheb Done! Thanks!

[2021-12-21 02:09] neheb commented on #546
Somewhat related: https://github.com/openwrt/openwrt/pull/4866

@pesa1234 you mentioned old machines. ReactOS might be better than XP there.

[2021-12-21 12:58] namjaejeon commented on #543
@hcbwiz Do you have a plan to contribute this patch to mlnx5 driver in kernel mainline ?

[2021-12-21 13:20] namjaejeon commented on #543
And I wondering that there is some case that more than one RDMA NICs be connected to one PC? Only one is available due to a conflict? Because ksmbd must open different port(445 or 5445) according to the types of NICs (Infiniband or iWARP).

[2021-12-22 00:37] hclee commented on #543
@hcbwiz

Could you test it with the patch, https://github.com/hclee/ksmbd/commit/20d2fec334dedead5aa9a6ada812aca8074814b8?
Without the modification of linux built-in mlx5, it can set rdma capable.

[2021-12-22 03:54] hcbwiz commented on #543
@hclee

I use the latest master branch
 with your rdma patches:
   [hclee@e733656](https://github.com/hclee/ksmbd/commit/e7336564af0ffb9c62901ae7852a6b616b960986)
   [dma-latest-v0.51](https://github.com/hclee/ksmbd/commits/rdma-latest-v0.51)
   [rdma-latest-v0.1](https://github.com/hclee/ksmbd/commits/rdma-latest-v0.1l)

 case 1:
       just load module and unload module, it got the error:
[code]

[2021-12-22 04:28] hclee commented on #543
@hcbwiz

the second error doesn't seem to be related to the patch, https://github.com/hclee/ksmbd/commit/e7336564af0ffb9c62901ae7852a6b616b960986.
Maybe your async_disconnect patch is needed.

I will try to reproduce the first error and solve these problems.

Your test is really helpful. Thank you!

[2021-12-22 04:39] hcbwiz commented on #543
@hclee sorry for the wrong information.

you are right.  the second error is related to "disconnecting"

RDMA connecting and transferring can work wells with your patch.

When I used older kernel ( linux 5.10 ~ 5.14),
my "async_disconnect"  patch  can force to shutdown the RDMA connections.

I'm using linux kernel 5.15.10, it seems my dirty patch cannot work.

However, without the dirty patch, the

[2021-12-22 06:37] hclee commented on #543
@hcbwiz

Could you test the shutdown problem with the patch, https://github.com/hclee/ksmbd/commit/ddf47d7de03f79fe9df229ec0ee4819cb904f1c8?

And I have fixed the kernel oops related with the RDMA capability with the patch, https://github.com/hclee/ksmbd/commit/c047549af5f4cdf8a6515eecc8882b873989a51f

[2021-12-22 07:18] hcbwiz commented on #543
@hclee

[hclee@c047549](https://github.com/hclee/ksmbd/commit/c047549af5f4cdf8a6515eecc8882b873989a51f) has fixed the issue.
Thanks.

About shutdown problem, I reverted my dirty patch and applied this path: [hclee@ddf47d7](https://github.com/hclee/ksmbd/commit/ddf47d7de03f79fe9df229ec0ee4819cb904f1c8)
It got the similar error:
[code]

One more question:
the original code stops "listener (call ksmb

[2021-12-22 07:22] hcbwiz commented on #543
@namjaejeon this patch [hclee@c047549](https://github.com/hclee/ksmbd/commit/c047549af5f4cdf8a6515eecc8882b873989a51f) can handle this problem better even using out-of-tree driver.

[2021-12-22 12:39] hclee commented on #543
@hcbwiz

Right, the original code aims to disconnect clients forcibly and avoid clients' reconnecting.

I found the patch set you mentioned. I need to go into more details.
Thank you!

[2021-12-23 02:40] hcbwiz commented on #543
@hclee

  the disconnecting problem is caused by a bug in mlx5_ib driver:  [Kernel panic when called ib_dereg_mr](https://lore.kernel.org/all/8b764027-4f25-e27d-15f9-7466343cf845@linux.ibm.com/T/)

  after applying the patch, the "async disconnect" patch can work.

[2021-12-23 03:40] hclee commented on #543
@hcbwiz

Great! there is a problem with mlx5 driver.

Currently I don't have a environment to test the "async disconnect" patch.
Next week, I will take a look at your patch.
Thank you!

[2021-12-24 02:57] namjaejeon commented on #543
@hcbwiz Where is async disconnect patch ?

[2021-12-24 04:00] hcbwiz commented on #543
@namjaejeon

Please check it here:  [rdma: fix force-shutdown](https://github.com/hcbwiz/ksmbd/commit/0e9f513871e592e99b8e0734f2d9d90744c45d76)

Actually, it includes another fix: #538

[2021-12-24 05:11] namjaejeon commented on #533
@hcbwiz Is it true that ksmbd with iWARP NICs should open 5445 port instead of 445 ?

[2021-12-24 06:33] hcbwiz commented on #533
@namjaejeon

According to [Implementing_SMBDirect_for_CIFS](https://www.snia.org/sites/default/files/SDC/2017/presentations/smb/Li_Long_Implementing_SMBDirect_for_CIFS.pdf)
windows uses port 445 for RoCE and port 5445 for iwarp.

The SMBD client implementation in linux kernel uses port 5445 first.
 If port 5445 doesn't work, it will try port 445 again.

My windows client has ROCEv2 NIC only.
I did

[2021-12-24 08:40] namjaejeon commented on #533
If so, What kind of client is the result of testing ?

[2021-12-24 09:22] hcbwiz commented on #533
This is another linux client with onboard Intel X722

[2021-12-30 23:07] hclee commented on #543
@hcbwiz

I can't reproduce the kernel oops solved by the "async commit" patch. Could you explain how the problem can be reproduced?

[2021-12-31 14:43] ffontaine opened #552 "Adding license files"
It would be great to add license files to the git repository and the official tarball. From my understanding, ksmbd use files under GPL-2.0+ and LGPL-2.1+. Can you confirm that my assumption is correct and add the proper COPYING or LICENSE files (e.g. #144)?

[2022-01-02 08:20] namjaejeon commented on #552
Yes, ksmbd is licensed under GPL-2.0+ and LGPL-2.1+. There are SPDX License tags in each *.c/*.h.  Isn't that enough?

[2022-01-02 09:22] ffontaine commented on #552
Thanks for your answer.
I would like to add ksmbd to [buildroot](buildroot.org). In buildroot, we declare the license of each package as well as its license files and their hash, for example, for ksmbd-tools:

[code]
If there is no license files, we can use the source files but it is less convenient.

[2022-01-03 02:37] hcbwiz commented on #543
@hclee

The latest master branch with your rdma patch.  it works!!!.

I do some tests and try to recall my memory:
[code]
In the earlier version, I couldn't get the "disconnected event" after destroying "listener cm_id".
(hmm.. there were also no "Recv completed" messages.)
Thus the ksmbd didn't do "diconnecting"

Then  I came out the "async disconnect patch.
This patch do a initiative disconnecti

[2022-01-04 00:57] namjaejeon commented on #543
@hclee If you have any pending smb direct patches in your queue, Please send them before rc-1 window opening.

[2022-01-04 01:39] hclee commented on #543
Okay, I will send them. But I am implementing handling multiple buffer descriptors and don't know if I can complete it within the schedule. without this patch Windows clients cannot read/write files.

My rdma branch solves this temporarily with changing the maximum read/write size.

[2022-01-04 03:39] namjaejeon commented on #543
It is important to work RDMA with Windows, even if the performance is a bit lower. Multiple buffer descriptors can be applied as a performance improvement patch after that.

[2022-01-04 03:47] namjaejeon commented on #543
How much performance is degraded by adjusting the read/write size with linux cifs client?

[2022-01-04 04:02] hclee commented on #543
There is  no difference in performance. If multiple buffer descriptor is implemented, the size can be increased greater than 1MB.
I will also send the patch which limits the size.

[2022-01-06 11:46] namjaejeon commented on #543
@hcbwiz Just curious, Is there any reason to take so long to make the read_write size patch ?

[2022-01-06 22:39] hclee commented on #543
Some case of xfstests fails, and I trying to find the cause. The new patch set does not seem to related with the problem.

[2022-01-06 23:28] namjaejeon commented on #543
When read_write size is smaller than 1MB, xfstests failed? right ?

[2022-01-06 23:33] hclee commented on #543
No, regardless of the size, some case of xfstests fails.

The patch set includes limiting the read/write size and creating mr pool.

[2022-01-06 23:53] namjaejeon commented on #543
@hclee What is relation between windows RDMA connection and some of xfstests failure ?

[2022-01-07 00:05] hclee commented on #543
There is no relation. I was going to send the patch set for Windows clients after figuring out the cause of xfstests failures.
I will send the patch set.

[2022-01-07 00:20] namjaejeon commented on #543
Let me know some of failed xfstests numbers.

[2022-01-07 00:47] hclee commented on #543
The failed xfstests test cases are generic/013 generic/109 generic/113 generic/465 generic/476 generic/551 generic/590.

I ran xfstests with the following command:

#./check cifs/001 generic/001 generic/002 generic/005 generic/006 generic/007 generic/008 generic/011 generic/013 generic/014 generic/020 generic/023 generic/024 generic/028 generic/029 generic/030 generic/032 generic/033 generic/036 g

[2022-01-07 14:57] namjaejeon commented on #543
@hcbwiz I have applied your async disconnect patch. Can you check totally rdma working with these branches ?
 git clone https://github.com/namjaejeon/ksmbd
 git clone https://github.com/namjaejeon/ksmbd-tools

And I will add your signed-off-by in async disconnect patch if you give me your mail address and your name like this. (Namjae Jeon <linkinjeon@kernel.org>)

If it work fine, I will apply the

[2022-01-07 15:01] namjaejeon commented on #543
@dz-cies Ziwei, Can you also check the rdma working like multichannel on your target ? performance too.

[2022-01-10 00:28] hcbwiz commented on #543
It works well in my environment.  Thanks.

   Yufan Chen <wiz.chen@gmail.com>

[2022-01-10 08:26] namjaejeon commented on #543
@hcbwiz Done! Thanks for your work!

[2022-01-10 13:53] pesa1234 opened #553 "Fedora issue on connecting"
Dear,
we found an issue on Fedora34...

If I try to connect to the ksmbd share... this is the log of ksmbd
[code]
If I try to use...
`sudo mount -t cifs -o vers=2.0,username=username '\192.168.155.1\SambaShare' /mnt`

All is ok...

[2022-01-10 15:58] mmakassikis commented on #553
Hello,

Can you give more details on ksmbd version used and the config ?

I tested with fedora34 (kernel 5.11.12-300.fc34.aarch64) and I mounting with vers=3.1.1 works fine.

What error / log do you have client side ?

[2022-01-10 16:21] pesa1234 commented on #553
KSMBD is  3.4.3

seems that the issue is coming only with nautilus, so, if I try to Connect to Server from nautilus I can not enter...

But, on terminal...
`sudo mount -t cifs -o vers=2.0,username=username '\192.168.181.1\SambaShare' /mnt `
works ok

or by edit fstab by add this line, no problem at all..
`//192.168.181.1/SambaShare /media/SambaShare cifs username=username,password=password,cache=n

[2022-01-11 07:34] namjaejeon commented on #553
Can you tell me what is problem ? When I connecting ksmbd share using nautilus on ubuntu, It work fine.

[2022-01-11 09:27] dz-cies commented on #543
I'm sorry but currently we're undergoing a major deployment change and I don't have the test environment as before, so I'm not able to help.

[2022-01-11 11:01] pesa1234 commented on #553
Yes, on Ubuntu is working fine.
On Fedora 34-35 by using nautilus, if you try to connect to ksmbd server it asking forever for username and password.

[2022-01-11 13:13] namjaejeon commented on #553
Okay, If you use samba, it work fine ? If yes, Can you give me two tcpdump(or wireshark) files that capture packets on samba and ksmbd ?
I would like to compare packets.

[2022-01-11 15:15] pesa1234 commented on #553
[dump.zip](https://github.com/cifsd-team/ksmbd/files/7847630/dump.zip)

It is attached.

Samba4 -> OK
KSMBD -> NOT OK

fedora 35 nautilus mount (connect to server)

[2022-01-11 16:18] mmakassikis commented on #553
Do you have the same auth configuration on ksmbd / samba4 ?
ksmbd is responding with LOGON_FAILURE while the client is trying to authenticate as guest.

[2022-01-11 16:28] pesa1234 commented on #553
Yes, completly same

[2022-01-11 22:19] namjaejeon commented on #553
@pesa1234 Can you provide tcpdump with nautilus of ubuntu ?

[2022-01-11 22:22] namjaejeon commented on #553
@pesa1234 and please share your smb.conf also...

[2022-01-11 22:46] pesa1234 commented on #553
[ubuntu_ksmbd_conf.zip](https://github.com/cifsd-team/ksmbd/files/7850312/ubuntu_ksmbd_conf.zip)

Here dump of ubuntu nautilus on ksmbd and it is ok.

[2022-01-11 22:57] namjaejeon commented on #553
Can you check two things ?

1. check if there is "nobody" account in your /etc/passwd in fedora.
2. When you remove null passwords or set to "no" for samba, you can login samba share using nautilus ?
## allow client access to accounts that have null passwords.
	null passwords = yes

[2022-01-12 01:19] pesa1234 commented on #553
1. yes available `nobody:x:65534:65534:Kernel Overflow User:/:/sbin/nologin`
2. yes working

[2022-01-16 01:01] pesa1234 commented on #553
Hi, any news? Thanks

[2022-01-16 13:28] namjaejeon commented on #553
I have checked it on fedora 32. but can't reproduce this issue.

[2022-01-16 15:13] namjaejeon commented on #553
@pesa1234 Please try this patch (https://github.com/namjaejeon/ksmbd/commit/f1e91cd035b5227eec762b0a575b1aefa1156f6b)

[2022-01-17 10:08] pesa1234 commented on #553
Yeah! It works! Thanks!!!

[2022-01-21 08:17] #553 closed

[2022-01-22 23:48] namjaejeon commented on #533
@hcbwiz Yufan, I have a few question regarding max_read_write setting on your device.
1. You told us that ksmbd RDMA work with the below setting on your Mellanox ConnectX-5.
     #define SMB_DIRECT_PORT 445
     static int smb_direct_max_fragmented_recv_size = 512 * 1024;
     static int smb_direct_max_read_write_size = 512 * 1024;
Is it fixed on the latest #master ? or still need to change settin

[2022-01-24 00:16] hcbwiz commented on #533
Yes, the latest master branch can works without changing these settings for Mellanox ConnectX-5.

I will rebuild the environment and let you know the result.

[2022-01-24 00:21] namjaejeon commented on #533
@hcbwiz Okay, Thank you for your help!

[2022-01-24 05:51] hcbwiz commented on #533
The max_send_sge of Intel X722 is 3. Thus, I change these settings:
[code]

It showes that:
[code]

However, my linux cifs client cannot mount  the folder via RDMA. It is okay with TCP.

The log of CIFS client:
[code]

the log of KSMBD:
[code]

[2022-01-24 06:37] namjaejeon commented on #533
@hcbwiz Thanks! Can you show max_send_sge and max_recv_sge from device info ?
[code]
Thanks!

[2022-01-24 06:43] hcbwiz commented on #533
[code]

[2022-01-24 07:02] namjaejeon commented on #533
@hcbwiz Okay, Thanks!

[2022-01-24 08:03] namjaejeon commented on #533
@hcbwiz I have understood RDMA doesn't work with linux and windows client although the below change is applied.
Right ? you told me it can work with linux cifs client before ?

[code]

[2022-01-24 09:03] hcbwiz commented on #533
The kernel in the linux cifs client has been updated to 5.15
The original kernel version (sorry, I forget what the version is..) with the changed in the ksmbd:
[code]

[2022-01-25 04:14] namjaejeon commented on #546
@pesa1234 Close ?

[2022-01-25 08:40] pesa1234 commented on #546
YES, thanks

[2022-01-25 08:40] #546 closed

[2022-01-25 22:13] pesa1234 opened #554 "issue on ksmbd 3.4.4 and thunar mount on linuxlite 4.8"
Hi, sorry to bother you again.
LinuxLite 4.8 have Kernel: 4.15.0-74
Based on ubuntu: 18.04.3
With ksmbd 3.4.4 and thunar when i try to mount my ksmbd share it ask everytime for username and password, also for guest account...
Attached tcpdump.
[dump.pcapng.zip](https://github.com/cifsd-team/ksmbd/files/7937553/dump.pcapng.zip)

With ksmbd 3.4.3 all was ok, also dolphin on Fedora with this mod http

[2022-01-25 22:41] namjaejeon commented on #554
What is client ? cifs or Nautilus ? and I think that ksmbd 3.4.4 doesn't support 4.15 kernel. ksmbd supports from 5.4 kernel.

[2022-01-25 22:44] namjaejeon commented on #554
have you updated ksmbd-tools 3.4.4 also ?

[2022-01-25 22:47] namjaejeon commented on #554
When I checked patches between 3.4.3 and 3.4.4 version, there is no related patches.
Can you confirm that it work with 3.4.3 version again after downgrade ksmbd version ?

[2022-01-25 22:49] pesa1234 commented on #554
Hi, I use thunar on that distro but nautilus is same.
I confirm that ksmbd 3.4.3 on openwrt router OK
ksmbd 3.4.4 on the same router with same kernel it is OK

[2022-01-25 23:02] namjaejeon commented on #554
I have tested Nautilus on ubuntu 20.04 version. It work fine on it. This problem is happening on old ubuntu version ?

[2022-01-25 23:06] pesa1234 commented on #554
Yes, I confirm on the ubuntu 20.04 it is ok 3.4.4, but on 18.04 the issue is present

[2022-01-25 23:11] namjaejeon commented on #554
and can you send me debug log after echo all > /sys/class/ksmbd-control/debug ?

[2022-01-25 23:17] namjaejeon commented on #554
ksmbd 3.4.3 mean the version of both ksmbd kernel module and ksmbd-tools is 3.4.3.

[2022-01-25 23:35] pesa1234 commented on #554
yes ksmbd and tools 3.4.3 .

Yes original

tcpdump is on the first post

ksmbd is running on openwrt router with kernel 5.4

[code]

[2022-01-25 23:50] namjaejeon commented on #554
Can you give me print log result on 3.4.4 ?

[code]

[2022-01-26 01:28] pesa1234 commented on #554
[code]
Done, let me know

[2022-01-26 03:35] namjaejeon commented on #554
Thanks for your help! Could you please check if your problem is fixed ?
[code]

[2022-01-26 08:45] pesa1234 commented on #554
Hi, added that patch but doesn't works.
[code]

[2022-01-26 15:01] namjaejeon commented on #554
Okay, I have installed ubuntu 18.04 and tested it. I can't reproduce this issue, it worked fine.
Can you give me print log using #ksmbd-debug branch ?
git clone --branch=ksmbd-debug https://github.com/namjaejeon/ksmbd

[2022-01-26 15:35] pesa1234 commented on #554
[code]
Sorry to bother you...
ksmbd is on OpenWRT router with linux kernel 5.4
client is ubuntu 18.04.3 LinuxLite 4.8
client with ubuntu 20.04 linuxlite 5.6 is ok

[2022-01-26 22:12] namjaejeon commented on #554
okay. I have added more debug code to #ksmbd-debug branch. please give me debug print.

git clone --branch=ksmbd-debug https://github.com/namjaejeon/ksmbd

[2022-01-26 22:37] pesa1234 commented on #554
[code]

Thanks

[2022-01-26 22:42] namjaejeon commented on #554
Okay, Is there smb1pdu.o object file in your ksmbd ?

[2022-01-26 22:48] pesa1234 commented on #554
yes, available

[2022-01-26 22:54] namjaejeon commented on #554
Okay, added more debug. Please give one more log.

git clone --branch=ksmbd-debug https://github.com/namjaejeon/ksmbd

[2022-01-26 23:09] pesa1234 commented on #554
[code]
Thanks again

[2022-01-26 23:13] namjaejeon commented on #554
Can you check this patch if your problem is fixed ?

[code]

[2022-01-26 23:16] pesa1234 commented on #554
only this or with this: https://github.com/namjaejeon/ksmbd/commit/7439b25d2ecf774344ffc777b49b8d4ce570a1eb

[2022-01-26 23:21] namjaejeon commented on #554
Either of the two is fine.

[2022-01-26 23:41] pesa1234 commented on #554
nothing, sorry. applied both

[2022-01-26 23:41] namjaejeon commented on #554
Ah, Can you test the below branch ?

git clone https://github.com/namjaejeon/ksmbd

[2022-01-26 23:44] pesa1234 commented on #554
yes, tomorrow, now I'm tired and as soon as I test it I let you know. Thanks again

[2022-01-26 23:47] namjaejeon commented on #554
Okay~

[2022-01-27 09:07] pesa1234 commented on #554
Hi, I confirm that the latest master is ok.

[2022-01-27 11:50] namjaejeon commented on #554
Thanks for your check, I will apply this patch:)

[2022-01-27 14:08] #554 closed

[2022-01-27 14:25] pesa1234 opened #555 "ksmbd: Failed to send message: -32"
Hi, if I copy and paste the same file with nautilus on ubuntu 20.04 or thunar on linuxlite I get that message

This isssue is present on 3.4.3 3.4.4 and latest master...

[code]

[2022-01-27 22:58] namjaejeon commented on #555
I have tested copy & paste file using Nautilus, I can't reproduce it. can you show me your smb.conf file ?

[2022-01-27 23:55] pesa1234 commented on #555
Hi here it is...
[code]

[2022-01-28 00:22] namjaejeon commented on #555
Maybe it's because I don't know how to reproduce it. What is share's local filesystem? ext4 ? And can you elaborate on how to reproduce it? Can I copy any file?

[2022-01-28 00:37] pesa1234 commented on #555
Local filesystem is f2fs, it is a flash disk.
To repreduce, in my case it is necessary mount as guest with thunar or nautilus right click on file or crtl+c and ctrl+v.

[2022-01-28 04:14] namjaejeon commented on #555
I have tested it with your smb.conf, and couldn't reproduce it yet.

[2022-01-28 04:29] namjaejeon commented on #555
Can you give me tcpdump(or wireshark dump) ?

[2022-01-28 07:57] pesa1234 commented on #555
Yes, it is attached..
[dump.pcapng.zip](https://github.com/cifsd-team/ksmbd/files/7956793/dump.pcapng.zip)
.

[2022-01-28 09:41] mmakassikis commented on #555
How are you accessing the share ? It is mounted using the kernel CIFS module ("mount -t cifs ...") or are you using nautilus as is ?

AFAIK, nautilus can use gvfs-smb which is a totally different client implementation.

Do you have the problem at every file copy ? Have you tried both directions ? Did you see any different behaviour depending on the filesize ?

[2022-01-28 09:52] pesa1234 commented on #555
Hi, I'm using Nautilus.
Copy and paste from and to same network share (different folder or same folder) give me the error.
From local disk to network share ok.
From network share to local folder ok

[2022-01-28 11:26] namjaejeon commented on #555
@pesa1234 Thanks! Can you give me tcpdump against samba. want to compare packets between samba and ksmbd dump.

[2022-01-28 11:47] pesa1234 commented on #555
With samba4 router image increase 4MB and performance are not good as ksmbd, this I can confirm without any doubt

[samba4dump.pcapng.zip](https://github.com/cifsd-team/ksmbd/files/7958364/samba4dump.pcapng.zip)

[2022-01-28 13:13] namjaejeon commented on #555
Can you give me print log using this branch ?

git clone --branch=ksmbd-debug https://github.com/namjaejeon/ksmbd

Thanks!

[2022-01-29 00:44] namjaejeon commented on #555
Can you test after adding oplocks = no parameter to smb.conf ?
[code]

[2022-01-29 02:07] pesa1234 commented on #555
Hi,
 added on /etc/config/ksmbd below as indicated, it doesn't works, but I don't see that option on dynamic written config options.
tested also to put on template, but it doesn't works. Sorry

[2022-01-30 11:45] namjaejeon commented on #555
Please check the below branch.

git clone https://github.com/namjaejeon/ksmbd

Thanks!

[2022-01-30 14:45] pesa1234 commented on #555
Same issue

[2022-01-30 18:09] namjaejeon commented on #555
I have reproduce this issue and confirmed that this problem is fixed with Nautilus. Can you re-check if there is this change(https://github.com/namjaejeon/ksmbd/commit/213912a4a19c4d2f3885a10d06a2ef34592239b3) in your ksmbd source.

[2022-01-30 18:20] namjaejeon commented on #555
okay, This looks like a nautilus issue. In Samba, the same problem seems to be reproduced if the following parameters are added.

[code]
If you increase this size, problem will be fixed.

[2022-01-30 18:23] namjaejeon commented on #555
and The reason why the below error message happened is that Nautilius client disconnect connection. So EPIPE error is coming from socket read.
[code]

[2022-01-30 18:26] namjaejeon commented on #555
Maybe, You need to request this issue to Nautilus or increase smb2 read size.

[2022-01-30 21:06] pesa1234 commented on #555
Hi, removed
[code]

and now works perfectly!

These settings are default on openwrt router... So, I think is better to update ksmbd on openwrt, but i don't know how to push... maybe the maintainer can do it...

[2022-01-30 21:10] neheb commented on #555
I can handle it. Is the current version of ksmbd fine or should we wait for a new release? I haven't been following the discussion too closely.

[2022-01-30 21:26] pesa1234 commented on #555
In my opinion is better to wait a new stable version.
3.4.4 have this issue described here and https://github.com/cifsd-team/ksmbd/issues/554

[2022-01-31 00:12] namjaejeon commented on #555
BTW, openWRT target device has small ram. So smb2 max read is set to the most minimum value. I recommend that you increase only "smb2 max read" size a little. I think that smb2 max write and smb2 max trans size are not related with this issue.

[2022-01-31 00:24] neheb commented on #555
for newer OpenWrt devices, typical RAM size is 256-512MB. 64MB is considered low end.

[2022-01-31 00:30] pesa1234 commented on #555
Hi, I have tried with 128K 256K 512K 1M 2M, before on max read only, then on max write and max trans.
[code]
Only comment solve...

[2022-01-31 00:38] namjaejeon commented on #555
Ah, In my target, Nautilus issue is fxied with the below setting. Are you not?
[code]

[2022-01-31 00:48] pesa1234 commented on #555
No, the working setup is without that settings.
I get errors when I try with a bigger file of 20-30 Mbytes

[2022-01-31 00:51] namjaejeon commented on #555
Okay, thanks for your test!, Samba seems to have the same issue, so it's a Nautilus issue. The best thing to do is to ask the Nautilus developers to fix it.

[2022-01-31 00:55] pesa1234 commented on #555
Also thunar have same issue

[2022-01-31 01:10] namjaejeon commented on #555
I think that thunar seems to use same engine. It is important to see if it can be resolved in Nautilus first.

[2022-01-31 13:31] pesa1234 commented on #555
Ok, understood. I don't know where to open issue and I'm not skilled enough to explain it correctly. I hope that someone or you open this issue to the Files (nautilus) team, sorry...

[2022-02-07 04:45] hcbwiz commented on #533
@namjaejeon
I had got something wrong before.

I checked the code in linux CIFS client:
[code]
It needs 4 segments totally.
However. Intel X722 only supports max_send_sge = 3.

[2022-02-08 01:55] namjaejeon commented on #533
@hcbwiz Okay, Thanks for your check!

[2022-03-21 23:18] namjaejeon commented on #555
@pesa1234 Do you have big endian device to run ksmbd ?

[2022-03-22 13:05] pesa1234 commented on #555
Hi, it's a WRT1900ACS
Marvell Armada 385 88F6820 1.6 GHz | RAM 512 MB | ROM 128 MB

[2022-03-22 19:56] pesa1234 commented on #555
Is it ok on that device or should I check on openwrt x86?

[2022-03-22 23:46] namjaejeon commented on #555
You can run ksmbd on WRT1900ACS and windows client is your PC.

[2022-03-23 23:00] pesa1234 commented on #555
Hi, seems to works ok! I don't see any difference from this version to previous without this patch

[2022-03-23 23:23] namjaejeon commented on #555
@pesa1234 Thanks! windows client version is windows 10 ?

[2022-03-24 00:12] pesa1234 commented on #555
Yes.
I've tried also with ubuntu.
Also with win11 and xp on virtual machine, and I don't find any issue.

[2022-03-24 01:04] namjaejeon commented on #555
@pesa1234 Thank you!

[2022-03-24 08:19] pesa1234 commented on #555
you are welcome...

I removed these lines...

[code]

[2022-03-24 13:02] namjaejeon commented on #555
Okay:)

[2022-03-26 01:00] namjaejeon commented on #516
@JpegXguy @papadakospan improved it, Please try the latest ksmbd-tools.

[2022-03-26 01:16] JpegXguy commented on #516
Works fine!

[2022-03-26 01:16] #516 closed

[2022-04-03 14:59] EchterAgo commented on #543
I have gotten SMB-Direct to work between a Ubuntu 22.04 (Prerelease) server and a Windows 10 Pro for Workstations 21H2 client, both using Mellanox ConnectX-3 dual port 40GbE cards.  I had to disable the `rdma_frwr_is_supported` check in `ksmbd_rdma_capable_netdev` to get the server to advertise RDMA.

In `Get-SmbMultichannelConnection` the `Client RSS Capable` stays `False` but `Client RDMA Capabl

[2022-04-04 01:03] namjaejeon commented on #543
@EchterAgo Okay. Can you send the patch to the mailing list(linux-cifs@vger.kernel.org) ?

[2022-04-04 22:44] hclee commented on #543
Which device driver do you use? from the mainline kernel or Mellanox.

[2022-04-05 05:30] EchterAgo commented on #543
@namjaejeon I can do that, but I wonder if this is actually the correct place to fix this?

@hclee On Ubuntu I used the mlx4 mainline 5.15 driver, on Windows I used the Mellanox driver `MLNX_VPI_WinOF-5_50_54000_All_win2019_x64.exe`. I haven't tried Microsoft's included driver yet.

[2022-04-05 06:33] namjaejeon commented on #543
As you know, ksmbd have been merged into linux mainline. Here is out of tree ksmbd version for old users. Normally I am porting the patches from ksmbd of linux mainline to here.

You can download source code from https://kernel.org/ . and create the patch on it.

[2022-04-05 09:24] cyayon opened #556 "macos client empty share (invisible)"
Hello,

I am trying to mount some ksmbd share on a macos (12.3.1) client, and encounter a very strange issue.

Some directories on root of the share are invisible. I thank that it was a permission issue, but it is not...
With a windows client and the same share, i have no issue.

I tried to tweak some params on /etc/nsmb.conf (on macos) to force SMB2, SMB3, etc... no way, always the same issue.

I

[2022-04-08 02:07] namjaejeon commented on #556
I don't have MacOs'device. Could you send tcpdump(or wireshark) me after capture packets on problem situation ?

[2022-04-08 14:10] cyayon commented on #556
Hello,
Here are the tcpdump captures (pcap and txt).

[smb.zip](https://github.com/cifsd-team/ksmbd/files/8452576/smb.zip)

[2022-04-14 11:58] mamarley opened #557 "Kernel NULL pointer dereference shortly after booting"
This morning shortly after I rebooted one of my servers with ksmbd, I got the following NULL pointer dereference.  I'm unsure of exactly what might have triggered this regarding client activity, but the server had just rebooted within a few minutes ago.  The clients are all Linux boxes using cifsd.ko.

[code]

After this, the server stopped working correctly (including no longer accepting SSH conn

[2022-04-15 01:51] mamarley commented on #557
It shuts down using the included systemd unit.  The crash occurred after it restarted though, not on shutdown.  This is the first time I have seen it in the entire time I have been using ksmbd though, so I'm not sure how much luck you will have reproducing it.

[2022-04-15 06:59] hclee commented on #557
A session appears to have been logged off before processing read requests. I don't know how this can happen.

[2022-04-18 08:06] pesa1234 commented on #555
I close this issue, with latest master it is all ok... Waiting new release

[2022-04-18 08:06] #555 closed

[2022-04-20 18:52] ptpt52 opened #558 "Another ksmbd crash on NULL pointer access"
crash log:
[code]

[2022-04-20 18:58] ptpt52 commented on #558
ksmbd version is base here: 3bedd0eee4059d34de081eeb1d38722f78d20bfd

[2022-04-25 06:33] hclee commented on #558
Can you reproduce this issue? it seems It happened right after restarting ksmbd, so It looks similar to #557.

[2022-04-29 16:12] #435 closed

[2022-04-30 03:50] namjaejeon commented on #543
@hcbwiz I applied smb-direct multiple Buffer descriptors to ksmbd now. Could you please check performance gain than before ? and I request that you check it on intel X777 as well as Mellanox NICs. Thanks!

[2022-04-30 15:14] hcbwiz commented on #543
Great!  I will test it.

[2022-05-01 20:45] woutershep opened #559 "General protection fault with 5.18.0-rc4 (Complete system freeze)"
I'm not fully sure what triggers it, it seems to work for a while and then randomly the entire system freezes.
To help diagnose i did a kernel build with KASAN enabled:

[code]

[2022-05-03 13:28] namjaejeon commented on #559
Thanks for your reporting! Does this problem not occur in low versions than 5.18-rc4?

[2022-05-04 05:28] hcbwiz commented on #543
@namjaejeon

I used frametest tool:
     frametest.exe -w 4k -t 20 -n 2000

    NIC: Mellanox ConnectX-5
    backend storage:  nvme raid0 with XFS.

without smb-direct multiple Buffer descriptors:
![圖片](https://user-images.githubusercontent.com/34223318/166626840-b402c20d-9265-45a4-9a5a-87edae78c44c.png)

with smb-direct multiple Buffer descriptors:
![圖片](https://user-images.githubusercontent.com/

[2022-05-04 05:50] hcbwiz commented on #543
@namjaejeon

I suppose you mean intel X722 (iwarp device).
This device only supports max_send_sges = 3.
With smb-direct multiple Buffer descriptors, I still need to modify the code like #533, right?

Besides,  I used linux OS to test intel x722. and I might get something wrong before.
 It seems that the smb direct function in linux cifs client cannot work with intel x722 due to the same reason:
ma

[2022-05-04 07:08] namjaejeon commented on #543
@hcbwiz Thanks for your check!!, Can I check Data rate in averaged details ?
 1. w/o multiple descriptor : 1908MB/s
 2. w multiple descriptor : 4586MB/s

It seems to have improved by more than 2x.
Do you think with this implementation ksmbd smbdirect is pulling out almost RDMA max HW speed of your NIC?

[2022-05-04 07:48] namjaejeon commented on #559
@woutershep Could you please share how to reproduce it ? I was trying to reproduce it. but can't reproduce it util now.

[2022-05-04 07:50] namjaejeon commented on #559
And I installed 5.18-rc1 on Ubuntu before, and it was randomly frozen regardless of ksmbd, so I downgraded it to 5.17.

[2022-05-05 01:42] hcbwiz commented on #543
ksmbd uses per-thread-per-connection mechanism + synchronous vfs api,
and windows only 2 RDMA connections per ip address over SMB direct.

I did a test.
[code]
![圖片](https://user-images.githubusercontent.com/34223318/166851680-322db5ca-bbcb-4211-b547-e91ec5fa41f6.png)
Note: I did the test serveral times, but the results were not stable. The results I observed were 13x fps ~ 16x fps.
maybe the extr

[2022-05-06 00:22] hclee commented on #543
@hcbwiz
Really thank you!
If you have time,  Could you test it again after applying the following patch?
The patch will increase the number of write requests which Windows client can send per connection.

[code]

[2022-05-06 00:54] hcbwiz commented on #543
@hclee

After applying this patch, it improves more 1x% throughput.
![圖片](https://user-images.githubusercontent.com/34223318/167049526-d07753ec-d0f9-4238-b8a9-152b20250384.png)

Note: I did these test several times, the average results were 10x fps ~ 11x fps

[2022-05-06 01:40] hcbwiz commented on #543
@hclee

with multiple descriptor:
I tried to test read throughput, but I often got "cannot read file" like that:
![圖片](https://user-images.githubusercontent.com/34223318/167052455-ae3924f2-79cc-4752-9675-6a6408229817.png)

I dump the rdma debug info:
[debug.txt](https://github.com/cifsd-team/ksmbd/files/8637030/debug.txt)

[2022-05-06 04:42] hclee commented on #543
@hcbwiz

Okay, I will check this. I can't find any clues from the file, "debug.txt".

[2022-05-08 12:24] consp commented on #543
Tried it again, so some additional results. This fix doubles the write speed in some tests, good old printf delays:
[code]
It is not present in kernel code, just @namjaejeon original repository and this one.

Also had to update the mlx winof2 drivers since I forgot I updated windows ... took me a while to figure that out.

Applied de *2 patch you mentioned above, doesn't make any noticeable differ

[2022-05-08 14:33] namjaejeon commented on #543
@consp Oops, My mistake. Removed error print in smb2_write().

[2022-05-09 05:14] hcbwiz commented on #543
@hclee
 It showed zero length on testing write cases over RDMA

![圖片](https://user-images.githubusercontent.com/34223318/167344834-d0b885b5-6036-4180-a521-68b151fff69d.png)

Maybe the error of read case is related to it.

[2022-05-09 22:20] namjaejeon commented on #543
@hcbwiz That shouldn't be a problem. buffer length of RDMA is used as req->RemainingBytes.

[2022-05-11 22:02] namjaejeon commented on #559
Could you please share how to reproduce it ? Did you change file permission in ksmbd share using windows client ?

[2022-05-11 22:05] namjaejeon commented on #543
@hcbwiz Could you please share how to run frame test to reproduce read failure issue ? command and options for each read and write.

[2022-05-12 02:02] hcbwiz commented on #543
you can get frametest tool from here:
  https://support.dvsus.com/hc/en-us/articles/212925466-How-to-use-frametest

step 1: generate data first
   frametest -w 4k -t 20 -n 2000 "directory"

step 2:  do read test
  frametest -r 4k -t 20 -n 2000 "directory"

    -w size  Perfrom write test with 'size' KB frames or "sd", "hd", "2k", "4k"
    -r       Perform read test using existing frames (default)

[2022-05-12 02:16] namjaejeon commented on #543
@hcbwiz Thank you! I will try to fix it:)

[2022-05-12 05:14] hcbwiz commented on #543
I used the latest master branch with TCP still get the same error sometimes.

Then I figured out an issues. some files couldn't be listed in the windows client.
Note: I tried to restart ksmbd server (even re-loaded ksmbd.ko), the issue still remain.
![image](https://user-images.githubusercontent.com/34223318/167992576-2efef22a-3c9b-4559-8ec2-0f4e7cbeced6.png)

[2022-05-12 05:34] namjaejeon commented on #543
Ah, Good info! I execute framtest 4 time, but can't reproduce it yet.
Can you tell me what is local filesystem in your system ?

[2022-05-12 05:39] hcbwiz commented on #543
It is a XFS over RAID0
[code]
[code]
[code]

[2022-05-12 05:42] namjaejeon commented on #543
Kernel version is 5.18 or 5.17 ?

[2022-05-12 06:06] hcbwiz commented on #543
5.16.3

[2022-05-12 07:20] namjaejeon commented on #543
@hcbwiz Could you please test it with ext4 local fs ?

[2022-05-12 07:26] consp commented on #543
My test so far:
kernel 5.17.5, Cx4 card inbox driver

FS of share:
tmpfs (tmpfs) -> same error
zfs (both 8*ssd sas, 2x4 disk zraid)-> same error
ext4 (single disk) -> same error

On ext4 it was a lot more errors though with errors coinciding with:
```May 12 09:14:00 NAS kernel: [217540.665675] ksmbd: hash value diff```

I tried some more but got ksmbd into an endless "Stop session handler" loop wh

[2022-05-12 07:53] namjaejeon commented on #543
@consp Please share your smb.conf file.
and it is true that same error happen on TCP(not RDMA) and ext4 ?

[2022-05-12 07:53] namjaejeon commented on #543
@consp You can paste smb.conf content here.

[2022-05-12 08:12] consp commented on #543
I'll post it in a moment hopefully, had to go away for a moment so no access at the moment

[2022-05-12 08:48] hcbwiz commented on #543
In my local system (xfs), there are 2000 files:  frame000000.tst ~ frame001999.tst in the target directory.

I'm trying to debug it, but I'm not familiar with the "iterate dir" APIs.

In smb2_query_dir():
[code]
  the output buffer length is 65536 bytes.

[code]

  In the windows client, there are 478 files:

![image](https://user-images.githubusercontent.com/34223318/168030536-f888adf9-8cb9-4e75-

[2022-05-12 09:47] hcbwiz commented on #543
@consp

Do you use one windows client? if yes, how do you set 16  rdma connections?
use additional alias IP address for ens15?

[2022-05-12 11:03] consp commented on #543
https://docs.microsoft.com/en-us/windows-server/administration/performance-tuning/role/file-server/

[2022-05-12 11:34] namjaejeon commented on #543
@hcbwiz Ah, stranged... Please  keep problem situation. I will share ksmbd source that included debug print log to you.
First, Could you please share wireshark dump when doing ls command on windows client ?

[2022-05-12 12:11] namjaejeon commented on #543
@hcbwiz Please share print log while doing ls command.

git clone --branch=ksmbd-debug https://github.com/namjaejeon/ksmbd

[2022-05-12 12:29] hcbwiz commented on #543
@namjaejeon , here is the wireshark dump
[ksmbd.zip](https://github.com/cifsd-team/ksmbd/files/8679002/ksmbd.zip)

[2022-05-12 12:39] hcbwiz commented on #543
Here is the log:
[ksmbd_log.txt](https://github.com/cifsd-team/ksmbd/files/8679078/ksmbd_log.txt)

[2022-05-12 14:03] namjaejeon commented on #543
@hcbwiz Thanks for your help!, Please check if problem is improved or not with the below branch. If problem is still there, please share the log.

git clone --branch=ksmbd-debug https://github.com/namjaejeon/ksmbd

[2022-05-12 15:10] hcbwiz commented on #543
@namjaejeon
The good news is your patch fix the issue for TCP.
frametest read test can work without problem.

when testing RDMA ,I can list all files in the windows client.
But it still get the original problem.  I will continue to narrow down it.

[2022-05-12 16:05] hcbwiz commented on #543
Thanks.
   I set it to 8 with the patch:
[code]
   I got good write throughput without dropping any rdma connection.

![image](https://user-images.githubusercontent.com/34223318/168114350-f04dc963-34fc-49a4-949c-74ab89d21406.png)

when I tried to set ConnectionCountPerRdmaNetworkInterface > 8, some RDMA connection got drop as you said:
[code]

About the throughput, ksmbd server always uses vfs pag

[2022-05-12 18:34] consp commented on #543
8 seems to be the sweet-spot yes. Most likely my system is cpu/ram speed limited as the cpu is a relatively low power xeon. It has more than sufficient of ram for these test to fit in cache but it's not the fastest system, locally it does about twice ksmbd which is most likely the max. Random throughput with RDMA at 4 connections is about the same as RSS but with lower access time. Looks really go

[2022-05-12 22:48] namjaejeon commented on #543
Thanks for your test:), I will apply this change.

In general, buffer I/O (writing page cache) is better for performance for slower disks than DRAM. But in the case of NVME SSD
 storage, is direct-IO write faster without going through page cache?

[2022-05-12 22:54] namjaejeon commented on #543
@hclee Can you confirm if we should apply "t->max_rdma_rw_size * 2" patch ? and please check dropping issue when I tried to set ConnectionCountPerRdmaNetworkInterface > 8.

[2022-05-13 01:02] hclee commented on #543
@namjaejeon

If we increase the value, ksmbd needs more resources. I don't have idea about what the value is proper. Do we have to export the variable, max_outstanding_read_write  to be modified by users?

@consp

Can the following patch fix the issue? It will increases backlog value.
I don't have machine to test this currently.

diff --git a/fs/ksmbd/transport_rdma.c b/fs/ksmbd/transport_rdma.c
i

[2022-05-13 01:04] hcbwiz commented on #543
It depends on the IO pattern. I suppose applications can decide the best approach.

**some "large write" tests in the local system.**

fio --direct=1 --rw=write --ioengine=libaio --iodepth=1 --bs=1m --name=test -group_reporting -thread -numjobs 8 -size=50G
[code]

fio --rw=write --ioengine=libaio --iodepth=1 --bs=1m --name=test -group_reporting -thread -numjobs 8 -size=50G
[code]

[2022-05-13 02:36] namjaejeon commented on #543
@hcbwiz Is there register parameter to adjust max read/write size in windows ? As I know, this default value is 8MB. Maybe the value is set to 16MB in your Windows?

[2022-05-13 03:24] namjaejeon commented on #543
@hcbwiz I have applied the patch to ksmbd master.

Looks great performance, 7578MB/s. You don't remove ksmbd_vfs_write() ?
And Could you please compare the RDMA performance between ksmbd&windows client and windows server & windows client ?

[2022-05-13 03:28] namjaejeon commented on #543
@hclee I don't prefer adding options for this. Could you elaborate what is the problem if we increase smb_direct_max_read_write_size to 16MB from 8MB ?

[2022-05-13 03:38] hcbwiz commented on #543
https://social.technet.microsoft.com/Forums/Azure/en-US/a365fb20-85fb-4c7d-bc4f-5366482cded7/smb2-server-buffer-and-client-buffer?forum=winserverfiles

**The MaxReadSize/MaxWriteSize buffer in SMB2.0 and SMB1.0 are all depended on the SizReqBuf registry value on the server side. It is not related to the client side. It is negociated in the SMB negociated process.**

[2022-05-13 03:52] hcbwiz commented on #543
I'm not able to compare it.  I don't have another windows server with RDMA NIC.

However, the write throughout of ksmb in my tests can compete against some smb direct servers in linux

mosmb:
https://www.chelsio.com/wp-content/uploads/resources/t6-100g-iwarp-me.pdf

tuxera:
https://www.tuxera.com/products/fusion-file-share-smb-enterprise/

[2022-05-13 06:08] hcbwiz commented on #543
@hclee after debug "read test" with the latest master branch:

[code]
the log:
[code]

then, I modify smb_direct_max_read_write_size to 4MB.  It works.

[2022-05-13 06:23] namjaejeon commented on #543
@hcbwiz Good catch! smb2 max write size is 4MB also. If so, can you see the below message also while writing test ?

[code]

[2022-05-13 06:47] hcbwiz commented on #543
@hclee , I add some debug info, and enable RDMA debug
[code]

The time sequence in the log:
[code]

 The cm event handler (smb_direct_cm_handler()) was deferred to set the connection status!!!

[2022-05-13 06:55] hcbwiz commented on #543
Oh.... RDMA transport uses "req->RemainingBytes"

[code]

[2022-05-13 06:56] namjaejeon commented on #543
@hcbwiz Ah, You're right:)

[2022-05-13 07:04] hclee commented on #543
@hcbwiz

Good catch!
If the following patch is applied, it works good?

[code]

[2022-05-13 07:06] hclee commented on #543
@hcbwiz

And the patch for changing the value of listen backlog seems to be needed.

[2022-05-13 07:13] hclee commented on #543
@namjaejeon

ksmbd has to allocate 2 times more resources of RDMA NIC per connection, such as the number of entries for send request queue, the memory region. And a little more memory. So I wonder ksmbd can handle many connections.

[2022-05-13 07:20] hcbwiz commented on #543
about ConnectionCountPerRdmaNetworkInterface > 8:

I modify the code to set connection status in smb_direct_prepare()
[code]
It works.

The write throughput with 16 rdma connections:
![圖片](https://user-images.githubusercontent.com/34223318/168231873-bea5eaff-497b-4f5b-9901-b9384cd9a153.png)

[2022-05-13 07:22] namjaejeon commented on #543
@hcbwiz When you increasing smb_direct_max_read_write_size to 16MB, rdma RemainingBytes of read/write is 16MB ? If we increase it to 32MB, How much performance is more improved ?

[2022-05-13 07:26] hcbwiz commented on #543
[code]
@hclee this patch works well.

[2022-05-13 07:35] namjaejeon commented on #543
Rethinking. Windows server max read/write size is 8MB by default. So we can provide the new parameter to adjust rdma read/write size in smb.conf configuration.

[2022-05-13 07:58] hcbwiz commented on #543
@hclee
I have another issue on frametest write test:

[code]

the log:
[code]

[2022-05-13 08:01] namjaejeon commented on #543
@hcbwiz Could you please change ksmbd_debug to pr_err in smb2_validate_credit_charge() ? and please share the log.

[2022-05-13 08:16] hcbwiz commented on #543
@namjaejeon
I add another debug info:
[code]
[ksmbd_log.txt](https://github.com/cifsd-team/ksmbd/files/8685372/ksmbd_log.txt)

[2022-05-13 08:20] namjaejeon commented on #543
@hcbwiz I need to know the below print log...

[code]

[2022-05-13 08:27] hcbwiz commented on #543
oops......

Here you are,
[code]

[2022-05-13 08:55] namjaejeon commented on #543
@hcbwiz The requests that are being processed is too many and reaching fro maximum outstanding threshold. Maybe the requests are not being completed. Is it a write test using frametest?

[2022-05-13 09:09] hcbwiz commented on #543
yes. test 2 connections over RDMA.
[code]

[2022-05-13 22:42] namjaejeon commented on #543
@hcbwiz You didn't report this issue before. This problem(pending requests) is coming since the RDMA 16 connection problem was fixed?

Once, Let's try to increase smb2 max credits.
[code]

[2022-05-14 02:02] hcbwiz commented on #543
Actually, when testing rdma read/write function,
I observed a few times on testing fametest write,but
it couldn't be reproduced.

After we figure out/fix other issues, and i try to benchmark the read/write throughput, the "not enough credit' issue can happen consistently in my environment.

Currently, i use the latest master branch with one patch only:
[code]

Is the issue related to the buffer co

[2022-05-14 02:13] namjaejeon commented on #543
Don't know. I initially thought this was a problem because the network speed was much faster than the disk write speed. so requests are pile up while writing disk. but rdma request processing can be the issue. So  We need to check if smb2_write() is not complete. I will share debug branch to check it today.

[2022-05-15 09:35] consp commented on #543
I have another glitch which happens only with RDMA enabled, only on windows client to ksmbd server:

* Open chrome/edge
* Try downloading a big file direct to mounted SMB drive (e.g. debian image: https://cdimage.debian.org/debian-cd/current/amd64/iso-dvd/debian-11.3.0-amd64-DVD-1.iso)
* "save as" to the smb drive
* "Failed download error" or "Network error" or "Coudn't download"

This happens onl

[2022-05-15 10:59] namjaejeon commented on #543
@consp Can you try to test again after removing vfs objects parameter in smb.conf ?

[2022-05-15 12:14] consp commented on #543
Same problem, no hash diff.

[2022-05-15 12:25] hcbwiz commented on #543
@consp
Have you applied this patch?
[code]

[2022-05-15 12:28] consp commented on #543
Yes, and there are no disconnects. It actually starts sending data by the look of it and then chickens out. Once I figure out why github won't let me upload the log I'll attach the debug log.

[2022-05-15 12:29] consp commented on #543
Logs from failed attempt:
[debug.txt](https://github.com/cifsd-team/ksmbd/files/8694920/debug.txt)

[2022-05-16 04:51] hclee commented on #543
@hcbwiz

Could you test this with the following patch? I cannot reproduce this issue.

[code]

[code]

[2022-05-16 05:10] hcbwiz commented on #543
@hclee

    There is no "conn->vals->total_credits", and I use "conn->total_credits" instead of it.
    Does it what you want?

     After applying the above, the issue is gone....!!!

[2022-05-16 05:24] hclee commented on #543
@hcbwiz

Yes, it is. I made a mistake.

Really thank you!

[2022-05-16 05:30] hcbwiz commented on #543
I add some log to observe the outstanding credits  in my environment:
   conn->total_credits = 8192

[code]

   Then, test it again without this patch, the issue can be reproduced.
[code]

[2022-05-16 08:45] hclee commented on #543
Can this issue be reproduced every time or rarely? So far, I have not reproduced this issue.
And does this issue happen when I download a big file into a SMB share directory? it is strange that there were only read requests and one of them failed instead of write requests in your log file.

[2022-05-16 11:02] consp commented on #543
And does this issue happen when I download a big file into a SMB share directory? it is strange that there were only read requests and one of them failed instead of write requests in your log file.

The strange thing is it only happens with certain browsers (chrome/edge), only with ksmbd, only with RDMA and only with large files. It does happen every time, but it does not happen when "downloading"

[2022-05-17 03:03] hcbwiz commented on #543
@consp
I checked the issue about downloading large file from chrome, but I couldn't reproduce it.

Maybe you can add more logs to check if ksmbd response any error.
Just search the statement:
[code]

[2022-05-17 07:59] namjaejeon commented on #543
@consp Or you can send wireshark dump that captured packets on problem situation to us.

[2022-05-17 08:00] consp commented on #543
Will do that later today, do you want the RDMA capture as well? (can do that on the linux host)

[2022-05-17 08:05] namjaejeon commented on #543
@hclee You have suggested a few patches on this thread. Please send the patches or combine it into multi-descriptor patches to mailing list. After applying it, we need to measure final performance.

[2022-05-17 08:06] namjaejeon commented on #543
For now, let's capture only tcp.

[2022-05-17 08:09] hclee commented on #543
Okay, I will send the patches tonight or tomorrow morning.

[2022-05-17 08:23] namjaejeon commented on #543
@hcbwiz Could you please share your server and client HW spec(CPU, DRAM, DISK) and NIC(Mellanox X5 ? Model name) info also ?

[2022-05-17 09:41] hcbwiz commented on #543
server:
     CPU: intel Silver 4114 x 2
     DRAM: 512GB
     nvme ssd: Kioxia CM6 1.9T x 9  ==> mdadm raid0 with XFS
           Note: Kioxia ssd supports PCIe gen4, but the platform only support pcie gen3
     NIC:  MCX516A-CCAT

 client:
    CPU: intel Silver 4215 x 2
    DRAM: 64GB
    NIC: MCX516A-CCAT

[2022-05-17 17:50] consp commented on #543
[smb-direct-chrome-download-only-smb.pcapng.txt](https://github.com/cifsd-team/ksmbd/files/8710494/smb-direct-chrome-download-only-smb.pcapng.txt)

Captured only tcp+udp port 139/445/5445.

[2022-05-17 18:06] consp commented on #543
Didn't report anything.

[2022-05-17 18:07] consp commented on #543
Found it:

[code]
Removing that makes it work, but then again I do not know why only edge/chrome has issues with this.

[2022-05-19 08:11] hcbwiz commented on #543
Will do.

[2022-05-19 20:28] consp commented on #543
My experimenting is that increasing mas-send size has much more impact, especially on smaller files (since it reduces overhead). Though for lots of adapters increasing SGES size will not work. Maybe allowing the changing of the other attributes to the user is an idea.

My changes (mellanox cx-4, small file transfers increased from about 40 to about 120mb/s read/write both from ksmbd share):
[code]

[2022-05-19 23:41] namjaejeon commented on #543
@hcbwiz Please wait a bit more. There is an issue that windows client can't connect with ksmbd.

[2022-05-20 00:00] namjaejeon commented on #543
@consp Thanks for your check!, Can you print device->attrs.max_recv_sge value ?

[2022-05-20 07:55] consp commented on #543
Both send/recv:
[code]

After a ksmbd.control -s when I was doing this, it got stuck in a "shutdown cm_id" loop again and the serial console endlessly spammed the `smb-direct shutdown cm_id=[id]` message for the same id.

[2022-05-21 02:26] namjaejeon commented on #543
@hcbwiz I have updated ksmbd #master, Could you please check performance with this ? Thank you!

[2022-05-21 02:28] namjaejeon commented on #543
@consp This problem is happening with your change(increasing send/recv sges) ?

[2022-05-21 09:40] consp commented on #543
Also before, but I only see it with more than 2 connections open. This might however just be coincidence since there are more connections which can get stuck. Last time I was browsing directories while I forgot I was shutting down the ksmbd server, maybe that has something to do with it. I'll try to replicate it but so far I've only seen it three times but since it requires rebooting the server it

[2022-05-22 03:50] namjaejeon commented on #543
@hclee Let me know your opinion. I told you before to set it to a size supported by hw.

[2022-05-23 05:04] hclee commented on #543
@consp
Can you show the debug message after applying the following patch?
[code]

[2022-05-23 05:30] hcbwiz commented on #543
The frametest with the latest master branch:
**Write test:**
![image](https://user-images.githubusercontent.com/34223318/169749384-29d861f3-5e93-4f95-bdcd-d7eae27815f4.png)
**Read test**
![image](https://user-images.githubusercontent.com/34223318/169749412-9bf79411-5e14-42eb-9dbe-b60014d5bee8.png)

[code]

will compare latest ksmbd and old ksmbd(w/o multidescriptor) later.

[2022-05-23 05:42] namjaejeon commented on #543
@hcbwiz Really nice work!!

Yes, I hope it! really!

[2022-05-23 06:18] hcbwiz commented on #543
Plus comparison without multidescriotor
 Note: I checkout this commit:
[code]
 , and cherry-pick another three commits:
[code]

 The old implementation performed better with more connections in my environment.

 **Write test:**
![image](https://user-images.githubusercontent.com/34223318/169755253-e7fb5201-7538-4b13-8dcf-1d588668e025.png)
**Read test:**
![image](https://user-images.githubuserconten

[2022-05-23 06:30] namjaejeon commented on #543
@hcbwiz Thanks Yufan! We will check why old one is better on more connections. Could you please explain how we can configure more rdma connections on windows client ?

[2022-05-23 06:37] hcbwiz commented on #543
In powershell,
[code]

[2022-05-25 13:12] namjaejeon commented on #543
@consp You have increased smb_direct_max_read_write_size value.  You should not change it to check send/recv performance. Can you check performance again after making smb_direct_max_read_write_size 8MB ?

[2022-05-26 11:33] consp commented on #543
With the latest on your own repository I see no difference in synthetic benchmarks anymore whatever the settings (16/8M, larger transfers etc, I was a few commits behind), I tested with normal/16+16sges/32k transfer max which made no difference in synthetic benchmarks.

As a "trace-test" I ran [windirstat](https://windirstat.net/), a tool which makes data usage visual and request information on al

[2022-05-26 23:31] namjaejeon commented on #543
@consp Okay, Thanks for sharing test result:)
@hclee Let me know your opinion about increasing sges and send/recv size.

[2022-05-28 02:12] hclee commented on #543
@namjaejeon @consp
I will run windirtest to find out why the result comes from with the number of recv sges and the size of  send/recv.

[2022-05-29 07:11] consp commented on #543
Tnx for checking, I'm not sure. It might somehow just be my machine/configuration. I'm getting some other weird results when using storage pools connected to different sas controllers.

I also have a trace from the windows error after about a day and a sleep/wakup cycle on the windows machine:

[code]
Windows fails with "cannot access \\10.255.0.1".
Restarting ksmbd fixes this.

[2022-06-06 06:16] consp opened #560 "ksmbd stuck on write event after attempt to shutdown"
After I tried shutting down ksmbd gave these errors and could not be stopped:
[code]
Console output of the stuck part on reboot, I do not have the logs:
![image](https://user-images.githubusercontent.com/6802998/172105099-65a25de5-4746-4c9e-991d-c976a96e6908.png)

Have not been able to reproduce it but it might have had to do with a change in the filesystem since a disk was remounted.

Hopefully t

[2022-06-10 02:03] namjaejeon commented on #560
@hclee any opinion?

[2022-06-10 02:04] namjaejeon commented on #560
@consp Let me know your NIC model name and kernel version.

[2022-06-10 02:52] namjaejeon commented on #543
@consp Thanks for your report, Probably it is same issue with (https://github.com/namjaejeon/ksmbd/issues/397#issuecomment-1151863390)

[2022-06-10 07:20] namjaejeon commented on #543
@consp Can you reproduce this issue with https://github.com/namjaejeon/ksmbd/commit/762162a1302b44ca69392ec9a28a464439078ef1 ? and please share debug print log. thanks!

[2022-06-11 00:45] jmandawg opened #561 "[kernal crash] ksmbd: Failed to send message: -32 kernel NULL pointer dereference"
Hey, i'm running Archlinux (Kernel version:  5.18.2-arch1-1), and ksmbd to serve files to my other computers.  Recently I will hear the fans start running full speed and X is unresponsive.  When i look at dmesg i see this error and the system is semi-crashed, i'm going to switch back to samba and see if the problem resolves:

[code]

[2022-06-11 08:42] namjaejeon commented on #561
share directory is located in usb storage ?

[2022-06-11 11:24] jmandawg commented on #561
Yes it is a USB drive.  I believe the USB disconnect is me switching the keyboard and mouse to my other computer via a 4 port USB hub connected to a USB selector switch.

[2022-06-13 00:11] hclee commented on #560
We have to terminate the loop for handling connection if RDMA_CM_EVENT_TIMEWAIT_EXIT is received like RDMA_CM_EVENT_DISCONNECTED.

[2022-06-13 00:30] namjaejeon commented on #561
Okay, I just can check problem is happening in smb2_open(). Don't know what line cause kernel oops at smb2_open(). So trying to reproduce it. Can you tell me some info of your environment ?

1. What local filesystem in usb storage do you used ?
2. dump your smb.conf contents here.
3. Can you tell me what operation is being performed in ksmbd? e.g. copy files to ksmbd share ?

[2022-06-13 05:41] namjaejeon commented on #561
But I can see usb is connected again under usb disconnect message.

[code]

So Is it true that USB storage is unplugged ?

[2022-06-13 09:01] consp commented on #560
5.17 xanmod (also had it with the mainline version now) and a change to allow the ConnectX 4 card to be detected.
Card: ConnectX 4 MCX455A

[2022-06-13 11:38] namjaejeon commented on #560
@hclee So, what are you going to do ?

[2022-06-13 22:10] hclee commented on #560
I will send a patch for this issue.

[2022-06-14 01:35] namjaejeon commented on #560
@hclee Thanks!
@consp I have applied the patch(https://github.com/cifsd-team/ksmbd/commit/bb974ae5e9dccb246d883f305485f4acff6a3316) for this issue. Can you check it ?

[2022-06-14 11:34] consp commented on #560
Will install it this week, might take a while to show up/not show up as it doesn't happen very often.

[2022-06-14 19:37] consp commented on #543
I'm now running the latest branch (from the other issue) and the issue is gone. I'll try to reproduce it but had no luck so far.

[2022-06-14 22:54] jmandawg commented on #561
1. What local filesystem in usb storage do you used ?
ext4
2. dump your smb.conf contents here.
[code]
3. Can you tell me what operation is being performed in ksmbd? e.g. copy files to ksmbd share ?
I'm not sure, because it just randomly happens.  Sometimes just wake up and it is crashed in the morning.

4. So Is it true that USB storage is unplugged ?
No, usb drive is never unplugged.  Only the h

[2022-06-21 06:05] arter97 opened #562 "Migrating from NFS, no symlink support?"
Hi, everyone.

I'm currently looking into deploying ksmbd to replace NFS to see if it improves performance for my workload.

The workload I'm mainly concerned about involves running a lot of parallel processes (16-128) to randomly access Git objects (on NVMe drive), NFS quickly gets bounded by CPU, instead of I/O or network. I'll share the performance results if I get it all setup properly.

The m

[2022-06-21 07:34] namjaejeon commented on #562
Early versions of ksmbd supported symlinks(read-only).  While upstream ksmbd, I have got an opinion from the samba team that symlinks is very vulnerable to security issues and that it is better to remove them and not support them. And for full compatibility between Linux and Windows, symlinks must be re-implemented using SMB reparse points. First, I need the time to start working it.

[2022-07-01 02:45] zztmy opened #563 "I use my phone to access ksmbd by SMBv1,I clicked on the shared directory, but I couldn't access it. I tried several times. Caused kernel panic."
kernel version:linux-5.10.88
ksmbd:3.4.5

[  957.676053] Unable to handle kernel NULL pointer dereference at virtual address 0000000000000030
[  957.678258] Mem abort info:
[  957.678953]   ESR = 0x96000005
[  957.679713]   EC = 0x25: DABT (current EL), IL = 32 bits
[  957.681041]   SET = 0, FnV = 0
[  957.681800]   EA = 0, S1PTW = 0
[  957.682580] Data abort info:
[  957.683302]   ISV = 0, ISS =

[2022-07-01 03:10] namjaejeon commented on #563
Please share debug print log after turn debug mode on.

1. turn it on.
 echo all > /sys/class/ksmbd-control/debug
2. share dmesg result

[2022-07-04 06:15] zztmy commented on #563
[11661.611949] ksmbd: RFC1002 header 100 bytes
[11661.613042] ksmbd: got SMB
[11661.613717] ksmbd: SMB2 byte count 17, struct size : 48
[11661.615014] ksmbd: SMB1 len 100
[11661.615795] ksmbd: create pipe on IPC
[11661.616980] ksmbd: *** not implemented yet cmd = 3
[11661.623803] ksmbd: RFC1002 header 109 bytes
[11661.624895] ksmbd: got SMB
[11661.625570] ksmbd: SMB2 byte count 46, struct size : 2

[2022-07-05 13:45] namjaejeon commented on #563
kernel oops happen here ?

[2022-07-06 02:13] zztmy commented on #563
yes

[2022-07-06 02:37] namjaejeon commented on #563
Okay, I would like to reproduce it. Please share app name in your phone.

[2022-07-06 02:42] zztmy commented on #563
ES File Explorer（Android）

[2022-07-06 03:01] namjaejeon commented on #563
Thanks, I will try it.

[2022-07-06 03:13] zztmy opened #565 "When SMBv1 is used to write files, only 512-byte data is transmitted in a datagram, resulting in poor performance."
Huawei phone backs up and restores data, scans external storage, finds my NAS, and starts to back up data. The data rate of the phone is only 100 KB.

SMBv1 Write AndX Request packets carry 512 bytes each time.

![image](https://user-images.githubusercontent.com/108503779/177460181-cc0455c4-ed6c-48c3-bcae-cc7ab2f6d0e0.png)

[2022-07-06 03:50] namjaejeon commented on #565
Sorry, Looks it is client issue. Client send 512byte data. can you compare it with samba ?

[2022-07-06 03:55] zztmy commented on #565
I have compared Samba. When interacting with the Samba, It's sent large packets, 1048576betys at a time, and the transmission speed was 100 times that of ksmbd.

![image](https://user-images.githubusercontent.com/108503779/177464841-c18f1451-e4c2-4a85-9b94-50f8ea6d83b7.png)

[2022-07-06 04:33] namjaejeon commented on #565
Ah, Can you send each tcpdump files that capture packets with ksmbd and samba to compare ?
And I need total packets between connection and write from client.

[2022-07-08 09:18] zztmy commented on #565
[ksmbd.zip](https://github.com/cifsd-team/ksmbd/files/9070704/ksmbd.zip)
[samba.zip](https://github.com/cifsd-team/ksmbd/files/9070707/samba.zip)

[2022-07-09 00:17] namjaejeon commented on #563
I can't reproduce this issue on linux-5.10 kernel. I have checked smb1 connection and file access using ES File Explorer.  Can you share tcpdump me after capturing packets on problem situation ?

[2022-07-09 14:00] namjaejeon commented on #565
Could you please try to check your problem is fixed after applying the below change to ksmbd ?

[code]

[2022-07-10 11:49] s0urcelab opened #566 "Cannot compile on Debian11"
OS: Debian11 with kernel 5.10.0-15-amd64

as [https://unix.stackexchange.com/questions/657157/building-ksmbd-on-debian-buster-bpo](https://unix.stackexchange.com/questions/657157/building-ksmbd-on-debian-buster-bpo) said:

- install linux-source-5.10 by apt
- try to edit fs/Kconfig and fs/Makefile as README said, but found none of them.
- make allmodconfig
- make fs/ksmbd/ksmbd.ko

but throw some

[2022-07-11 23:51] namjaejeon commented on #566
build error is not related with ksmbd ? I don't think that it is ksmbd issue. Please see where build error is coming.

[2022-07-13 08:50] oreak opened #567 "Does ksmbd support openldap user authentication?"
How to configure? samba is supported.

[2022-07-13 23:54] namjaejeon commented on #567
How to configure it on samba ?

[2022-07-14 03:33] oreak commented on #567
such as:
https://ubuntu.com/server/docs/samba-openldap-backend

![image](https://user-images.githubusercontent.com/6316576/178892267-c298da3e-1ee4-4268-bba1-e6f1baa08706.png)

[2022-07-14 23:59] namjaejeon commented on #567
Thanks for sharing it. Unfortunately, It is not supported.

[2022-07-16 09:57] zztmy commented on #565
There's still a problem with this change!

I found that when the jcifs client uploads files,if oplocks = yes,the client sends 1048576betys at a time.

I tried to open ksmbd oplocks, But it didn't work because of this modification.(https://github.com/cifsd-team/ksmbd/commit/a83ebaa63cc7133b6dfb37e4481ead8b09093438)

I set smb1_oplocks_enable = true and add oplocks = yes to configuration.then speed

[2022-07-16 22:42] namjaejeon commented on #565
@zztmy Nice! But please don't use SMB1 oplocks because it is not tested. I hope that some developer improve it instead of me. SMB1 is deprecated on windows. So don't want to invest more about it.

Can you try to test the below change instead of changing oplocks enable ?
[code]

[2022-07-22 14:19] namjaejeon commented on #557
@mamarley I have fixed this issue. Please use the latest ksmbd. (patch is https://github.com/cifsd-team/ksmbd/commit/f4218ef4641001c7fb33cc4271bdc9591f5ed4a5)

[2022-07-22 14:23] namjaejeon commented on #560
@consp I guess this issue may be fixed with this patch(https://github.com/cifsd-team/ksmbd/commit/5039a45f8afc519394e930fbf36eec006d107590)

[2022-07-22 14:25] namjaejeon commented on #538
@hcbwiz This ISSUE can be closed ? You found this issue on non-mainline ksmbd.

[2022-07-22 14:29] ptpt52 commented on #558
@namjaejeon  great! I would try that.

[2022-07-22 14:29] namjaejeon commented on #543
@consp I have improved racy issue in session destroy routine on multichannel(RDMA). I would like to know if your issue is coming on the latest ksmbd.

[2022-07-23 03:29] hcbwiz commented on #538
Surely, it has been resolved. Thanks

[2022-07-23 03:29] #538 closed

[2022-07-25 14:22] ptpt52 opened #568 "How do you maintain the code"
How do you maintain the code, you seem to force push the code up a lot

@namjaejeon

[2022-07-25 14:47] namjaejeon commented on #568
Ah, there is a review comment from mailing list. So I have updated the patches on master. I think that you can take patches when releasing ksmbd with increasing version.

[2022-07-26 16:34] #568 closed

[2022-07-27 07:16] zztmy commented on #565
After this modification, it's still very slow.
When transferring files, CIFS determines how to send packets based onn oplocks. So I turned on oplocks.

about the kernel painc, the cause is that the__smb1_oplock_break_noti function does not assign a value to work->sess.

[2022-07-27 07:16] #565 closed

[2022-07-27 07:55] zztmy opened #570 "when oplocks is enable,kernel painc occurs when files are written."
[  283.298005] ksmbd: lock type is oplock release
[  283.299450] ksmbd: unexpected oplock state 0x0
[  285.215094] Unable to handle kernel paging request at virtual address 000000000001ffdc
[  285.218074] Mem abort info:
[  285.218783]   ESR = 0x96000006
[  285.219544]   EC = 0x25: DABT (current EL), IL = 32 bits
[  285.220862]   SET = 0, FnV = 0
[  285.221620]   EA = 0, S1PTW = 0
[  285.224234] k

[2022-07-27 21:05] llamafilm commented on #543
With regular samba, it seems like some of the CPU work is all stuck on a single thread, so fast clock speed is very important.  Is it the same with ksmbd or can you take advantage of many cores?  I'm considering building an AMD Epyc server with either [7502P](https://en.wikichip.org/wiki/amd/epyc/7302p) (32-core 2.5GHz) or [7302P](https://en.wikichip.org/wiki/amd/epyc/7502p) (16-core 3.0GHz).

[2022-07-28 06:57] namjaejeon commented on #543
@llamafilm Have you read @dz-cies 's comments ? He have tested ksmbd and samba on similar setup you are considering.
 1. https://github.com/cifsd-team/ksmbd/issues/543#issuecomment-993508760
 2. https://github.com/cifsd-team/ksmbd/issues/543#issuecomment-995330602
 3. https://github.com/cifsd-team/ksmbd/issues/543#issuecomment-995351498
 4. https://github.com/cifsd-team/ksmbd/issues/543#issuecomme

[2022-07-28 06:59] namjaejeon commented on #543
@dz-cies have checked :+1:
[code]

[2022-07-28 09:03] namjaejeon commented on #570
Ah, What client do you use ? I have never seen this issue before. Let me know how to reproduce. when I checked the backtrace, This is not SMB1.

[2022-07-28 09:07] consp commented on #543
With the latest branch I tried (is not the latest now) I got disconnects and hangs (both ksmbd and windows side) after a short while, switched to an older branch for now as I am on holiday. When I get back I'll try to figure out what the issue is.

Also ksmbd doesn't play nice with suspend/resume/hibernate most of the time, but again, will look into that when I get back.

[2022-07-28 09:08] consp commented on #560
Looks like it might be the case, "racy" sounds like what I experienced. I'll have a look at it when I get back from holiday.

[2022-08-01 01:32] zztmy commented on #570
I use a Windows 10 client.

[2022-08-01 23:19] hclee commented on #570
@zztmy
Could you elaborate how to reproduce it? Does this happen when copying files to ksmbd from Windows client?
Please show your smb.conf and what version of ksmbd and kernel.

[2022-08-02 06:24] namjaejeon commented on #570
I wonder if you enabled oplock on smb1. And I wonder if there are two clients connected to smb1 and smb2/3 respectively.

[2022-08-02 09:54] zztmy commented on #570
@hclee
Yes, it happens when you copy files from windows to ksmbd.

[global]
    workgroup = WORKGROUP
    netbios name = ZZTMY
    map to guest = bad user
    guest account = nobody
    max active sessions = 128
    bind interfaces only = yes
    interfaces = br0
    max open files = 1000
    deadtime = 5
    server min protocol = NT1
[zztmy]
    path = /mnt/disk0/
    guest ok = yes
    writable

[2022-08-04 23:31] namjaejeon commented on #570
@zztmy Can you reproduce this issue easily ? I think you accessed the file through smb1 and smb2 clients at the same time. It looks like it needs to fix SMB1 code. Actually we don't want to touch smb1 code anymore. If you can tell us how to reproduce this, we'll check it.

[2022-08-13 08:47] llamafilm commented on #543
I'm having trouble getting a Windows client connected with RDMA.  I installed ksmbd 3.4.5 on the server and added `server multi channel support = yes` to the global config.  It looks like it's using RDMA here:
[code]

The client is running Windows 10 for Workstations and both machines have Mellanox ConnectX-6.  On the client I have RSS enabled but it appears incapable here:

[code]

[2022-08-13 09:35] llamafilm opened #572 "Auth failure from Windows client"
When I try to login from Windows 10 client, it takes a long time (10 seconds) before asking for the password, and then after I enter the password it takes another 10 seconds before saying it's wrong.

[code]

I can mount it successfully from linux using the same credentials with `smbclient`.

Here's the debug log during one attempted login:
[code]

I'm using version 3.4.5 and I created the user wi

[2022-08-13 13:19] namjaejeon commented on #543
@llamafilm Hm.. Stranged.. Can you share packet dump using wireshark(or tcpdump) with me ?

[2022-08-13 13:58] namjaejeon commented on #572
Regarding the 10-second delay, have you entered the wrong password more than 10 times? In order to avoid dictionary attacks, ksmbd give a delay for 5 seconds if the password is wrong 10 times in a row.

"authentication failed" message is coming when an incorrect password from client is sent to ksmbd. Have you ever changed the password for testuser? If you create testuser2 and login from windows, L

[2022-08-13 23:55] llamafilm commented on #572
I'm sure I was using the right password because it worked fine from linux and Mac clients.  Today this is working again.  There is still a long delay before asking for password, and another delay after I enter the password.  Is there a way to reset the 5 second delay period?

[2022-08-14 00:06] llamafilm commented on #543
I don't know what changed, but today that powershell command shows RDMA Capable is true.  RSS Capable is still false.  File transfers are still not using RDMA.  Here's a pcap of the mounting and initial file transfer.
[ksmbd3.pcap.zip](https://github.com/cifsd-team/ksmbd/files/9332443/ksmbd3.pcap.zip)

[2022-08-14 00:06] namjaejeon commented on #572
Ah, If you kill ksmbd.mountd and restart ksmbd, It will be reset. Can you send packet dump file captured on problem situation ?

[2022-08-14 00:17] namjaejeon commented on #543
As far as I know, only one of the RSS and RDMA capable flags is enabled.

Have you tried to copy big file(e.g. 3GB file) ? As I know, Windows will switch to RDMA transfer mode in the middle of transferring a large file.

[2022-08-14 01:42] llamafilm commented on #572
Today the behavior is different.  Now mounting with `net use` works right away.  But mounting via Windows Explorer still takes a long time, over 1 minute.  Here's a pcap of the mounting with Explorer.
Also, today smbclient running on the server fails with this error:
[code]
I'm also attaching a pcap of that using loopback interface.  In both cases I see a lot of `STATUS_BAD_NETWORK_NAME` about the

[2022-08-14 01:47] llamafilm commented on #543
Yes, I'm benchmarking 50GB files with `fio` and monitoring both RDMA and TCP traffic in PerfMon.

[2022-08-14 02:22] hclee commented on #543
@llamafilm
Can you check RDMA connection with Get-SmbMultichannelConnection command?

[2022-08-14 23:18] llamafilm commented on #543
`nd_rping` on Windows with `rping` on server is working fine.  Today when I try reading any large amount of data from Windows client, it stalls and I get a lot of these errors in dmesg on the server:
[code]

If I remove `server multi channel support` from the config file then Windows client works fine (slower of course).

[2022-08-16 00:26] ptpt52 opened #573 "new crash log"
[code]

[2022-08-16 00:27] ptpt52 commented on #573
the ksmbd code is base on https://github.com/cifsd-team/ksmbd/commit/4c748832007beaa038bf62beee30fbce22fa9c1f

[2022-08-16 01:01] namjaejeon commented on #543
@llamafilm Could you please share a full log with us ?
@hclee Any opinion ?

[2022-08-16 01:45] hclee commented on #543
@llamafilm
Can you test nd_rping again with the size optin, -S 32768?
And please tell me the options of fio, the version of Linux and Windows driver, and the version of Linux kernel.

[2022-08-16 06:21] namjaejeon commented on #573
FIXED(see : https://github.com/cifsd-team/ksmbd/commit/46d6e64e72db7759a0561d81b2a457dd724404f3).
Thanks for your report!

[2022-08-16 06:22] namjaejeon commented on #573
FIXED(See: https://github.com/cifsd-team/ksmbd/commit/46d6e64e72db7759a0561d81b2a457dd724404f3)
Thanks for your report!

[2022-08-17 01:54] llamafilm commented on #543
`nd_rping` with any size larger than 1440 fails.  I don't know the significance of that number... `ibv_devinfo` shows active_mtu is 1024.  I'll start a new issue to answer your other questions so as not to derail this one.

[2022-08-17 05:44] llamafilm opened #574 "Unable to load module"
I had this partially working before with the Mellanox inbox driver.  Then I upgraded to the latest MLNX-EN driver 5.7-1.0.2.0 to see if that would help.  By default, the Mellanox `install.sh` script does not enable RDMA, which I discovered because `rping` fails:
[code]

So I re-ran the installer with `--vma` option.  This way, `rping` works with size up to 1444 bytes.  But I'm unable to load the k

[2022-08-17 06:48] namjaejeon commented on #574
Have you tried load mlx and rdma core driver using modprobe ?
sudo modprobe mlx5_core
sudo modprobe mlx5_ib

[2022-08-17 06:51] llamafilm commented on #574
Yes, those are loaded already
[code]

[2022-08-17 06:54] llamafilm commented on #574
BTW, are there any benefits to installing it as part of the kernel instead of as a module?

[2022-08-17 06:57] namjaejeon commented on #574
this is ksmbd module dependancy.
Please try to insmod these drivers.
kernel/fs/ksmbd/ksmbd.ko: kernel/drivers/infiniband/core/rdma_cm.ko kernel/drivers/infiniband/core/iw_cm.ko kernel/drivers/infiniband/core/ib_cm.ko kernel/drivers/infiniband/core/ib_core.ko kernel/lib/crypto/libdes.ko

[2022-08-17 06:59] namjaejeon commented on #574
You don't need to insmod kernel module. but kernel image size is increased. So if you don't use this module, you can not unload it because it is built-in kernel.

[2022-08-17 07:15] darwin787 opened #575 "ksmbd: error while processing smb2 query dir rc = 1"
I can't access a directory with hundreds of files from win10, total size is about 2g. Other directories are ok. If I access this directory from an android app, it's ok.

[2022-08-17 07:17] llamafilm commented on #574
I checked, and those 5 modules are already loaded.

[2022-08-17 07:17] namjaejeon commented on #574
Or you can command in ksmbd source.

sudo make install
sudo modprobe ksmbd

[2022-08-17 07:21] llamafilm commented on #574
That's essentially what I've been doing already.  Which driver version do you use?  Do you think there is some compatibility issue with Mellanox 5.7 driver version?

[2022-08-17 07:28] namjaejeon commented on #574
No, I have ever installed Mellanox drivers before. ksmbd RDMA work fine to me on my ubuntu although Mellanox driver is not installed. Because there are mellanox drivers in linux kernel mainline. When I see your debug log, Errors are coming from rdma core driver, not mellanox driver. I can reproduce it when I just command "insmod ksmbd" without make install. and work with commanding "make install"

[2022-08-17 07:31] namjaejeon commented on #574
trying to "make clean" and "make" again in ksmbd source ?

[2022-08-17 07:50] darwin787 commented on #575
access that directory from win10
[code]

[2022-08-17 07:51] darwin787 commented on #575
access that directory from android app ,it's normal
[code]

[2022-08-17 07:52] darwin787 commented on #575
access another directory from win10 ,it's normal
[code]

[2022-08-17 08:05] namjaejeon commented on #575
Sorry but I can not deal with ntfs3 which is not stable. Do you have the same problem with ntfs-3g?

[2022-08-17 09:00] darwin787 commented on #575
I have not tried ksmbd with ntfs-3g, but I tried samba4 with ntfs3, the same directory  , no problem.
ksmbd + ntfs3 only affect win10, not android app.

[2022-08-17 12:51] maroonpu opened #576 "Is Printing and Printer sharing support in Ksmbd ?"
Is Printing and Printer sharing support in Ksmbd ?

[2022-08-17 16:37] llamafilm commented on #574
I tried `make clean; git pull; make; make install`, that didn't change the outcome.
I tried uninstalling the Mellanox driver but then the NICs disappear completely.  Maybe I'll try a slightly older driver version.

[2022-08-17 19:36] FireStorma opened #577 "wrong disk size"
Hi

In previous [commit](https://github.com/cifsd-team/ksmbd/commit/cca2e29823daf5d4d91c07c43117339865461f7d)
the way sector size is handled changed. That causes a weird bug / problem with the right sector size. The size of a hard drive shows double or even more of the acutal size of a mapped hard drive.

The issue with wrong disk size is only visible when the share is mapped to a network drive (e

[2022-08-17 23:41] namjaejeon commented on #577
Hi

Can you tell me how to reproduce it ? I can not reproduce it on ksmbd & ext4(local fs) ?

[2022-08-17 23:45] namjaejeon commented on #577
Let me know what local fs is used for share (ext4? zfs?)  ?

[2022-08-17 23:46] namjaejeon commented on #574
@llamafilm Okay:)

[2022-08-17 23:50] hclee commented on #574
It seems the mellanox driver package installed rdma_cm, ib_core, ...
Can you run modinfo ib_core and share the result?

[2022-08-17 23:50] namjaejeon commented on #576
Please check this. (https://github.com/namjaejeon/ksmbd-tools/issues/172)

[2022-08-18 00:20] namjaejeon commented on #574
Mellanox 5.7 mean kernel version(i.e. linux 5.7 kernel) ? Maybe, there is linux 5.7 kernel source in mellanox package ?

[2022-08-18 01:15] hclee commented on #574
I don't know the meaning of the version, but there is all code of drivers/infiniband subdirectories in the package.
And it seems that messages below means the symbol exists but the CRC checksums are different.

[2022-08-18 01:16] hclee commented on #574
Maybe have to compile ksmbd against rdma modules provided by the mellanox driver.

[2022-08-18 01:24] namjaejeon commented on #574
In case of Chelsio driver package, The package contains the kernel source corresponding to the driver. So users need to build and install the kernel in package after installing the packages.

[2022-08-18 06:07] llamafilm commented on #574
I don't think 5.7 refers to any kernel, it's just Mellanox own versioning number system.  https://network.nvidia.com/products/ethernet-drivers/linux/mlnx_en/

@hclee you're right, the driver does include ib_core and some others.  Here's a comparison of ib_core with inbox driver vs the latest.  I'm not sure how to compile ksmbd against these other rdma modules.

#### with inbox driver
[code]

####

[2022-08-18 07:24] hclee commented on #575
@darwin787
Can the patch below be helpful?

[code]

[2022-08-18 07:33] hclee commented on #574
@llamafilm
I have never compiled the kernel module against others. But [modules.txt](https://www.kernel.org/doc/Documentation/kbuild/modules.txt) may help you.

[code]

[2022-08-18 09:00] FireStorma commented on #577
Sorry  my fault, using NTFS MBR

[2022-08-18 09:07] maroonpu commented on #576
thanks

[2022-08-18 09:07] #576 closed

[2022-08-18 11:57] darwin787 commented on #575
@hclee
Yes, it fix the problem for win10 and win11 !
Thanks a lot !

[2022-08-18 13:21] namjaejeon commented on #577
? NTFS MBR ? When I tried to reproduce it on ksmbd & ntfs3 filesytem, I can not reproduce it.

Can you help me reproduce your issue ?

Sorry, Is it ksmbd issue ?

[2022-08-18 13:44] namjaejeon commented on #577
Can I try to reproduce it with network drive in windows client ?

[2022-08-18 17:25] the-j0k3r commented on #577
So this has more detailed information since @FireStorma just omitted entirely

ksmbd is being used in DD-WRT, something

https://forum.dd-wrt.com/phpBB2/viewtopic.php?p=1269700#1269700

![Capture](https://forum.dd-wrt.com/phpBB2/files/capture_527.png)
The drive is 500GB HDD NTFS formatted not that it matters.

The below screenshot shows the test samba configuration and included the share Mapped to

[2022-08-18 17:45] the-j0k3r opened #578 "Issue templates"
I would like to suggest that some issue templates be made up in order to try to get reports organized and needed information provided at issue open.

I wouldn't mind time permitting to have a stab at doing some,

Here are some examples Ive done for an org/projects I develop.

![Capture](https://user-images.githubusercontent.com/31389848/185460237-ad091fbe-a5e7-4e46-ad59-badb165ef64c.PNG)

This is

[2022-08-19 00:25] namjaejeon commented on #577
@the-j0k3r There are some suspicious code, but this issue can't be reproduced on my windows client, so I can't confirm whether it improves or not even though I make the patch. Are you reproducible? Or can any of the dd-wrt users reproduce the problem?

[2022-08-19 01:00] namjaejeon commented on #577
@the-j0k3r @BrainSlayer When I checked ksmbd source in dd-wrt is different with mainline ksmbd.
FS_SIZE_INFORMATION and FS_FULL_SIZE_INFORMATION in smb2pdu.c is different with mainline ksmbd.
FS_SIZE_INFORMATION and FS_FULL_SIZE_INFORMATION is related with disk size info.
if you make it same with mainline ksmbd, I think that this issue will be clear.
Please update ksmbd in dd-wrt.

[2022-08-19 01:24] namjaejeon commented on #578
Thanks for your suggestion:) Looks good to me. I will try this!

[2022-08-19 07:46] the-j0k3r commented on #577
Right. thanks for the info, I thought that mostly ksmbd was like for like, but will indeed pass this along and retest.

[2022-08-19 08:40] FireStorma commented on #577
@the-j0k3r
Can you tell me where I can report the issue with Android / Smart TV as this is truly a bug that occured as well with an firmware update long time ago.

[2022-08-19 09:39] the-j0k3r commented on #577
@namjaejeon seems the issue is now fixed downstream.

Seems indeed that in future we shouldnt report any issues here, since the DD-WRT ksmbd is not in sync, perhaps due to backporting mainly which is a shame.

Thank you so much for having us around anyway, feel free to close this.

[2022-08-19 13:20] namjaejeon commented on #577
@the-j0k3r No problem, I am always grateful for the use of ksmbd in the dd-wrt project. As long as I know how to reproduce, I can help with ksmbd issues in dd-wrt.

@BrainSlayer I think this is my mistake. Perhaps you applied the patch I reverted. When ksmbd mainline patches are applied to ksmbd of dd-wrt, if you can take the patches when I release the version, we can avoid this problem in the fut

[2022-08-19 13:20] #577 closed

[2022-08-19 14:01] the-j0k3r commented on #577
Thank you, our ksmbd version being quite dissimilar and our kernels not permitting a synced version this makes your offer welcome and interesting.

It would be nicer to get something more up to date but Im not complaining. ;)

take care and thanks again.

[2022-08-19 14:57] BrainSlayer commented on #577
@namjaejeon i used codepieces now from the current version. it seems to have fixed the issue so far. unfortunatly i cannot keep everything up to date right now since you switched to use xarray which is unsupported by older kernels. i havent found yet a way to do a proper backport of it

[2022-08-20 01:04] namjaejeon commented on #577
@the-j0k3r Thanks!

@BrainSlayer Hm.. There is nothing I can do about xarray for now. I recommend upgrading the dd-wrt kernel to 5.4 or higher if possible. The cost of backporting it to support lower versions than 5.4 is too expensive for me. Actually, I also have a lot of work... If it is difficult to upgrade the 5.4 kernel, please exclude that patch... anyway, Thanks for your ksmbd works in dd-w

[2022-08-20 03:10] BrainSlayer commented on #577
@namjaejeon unfortunaly impossible for alot of devices. the more recent kernels are simply to big and consuming too much ram and flash space. so i have still to maintain the backport version based on your sources.

[2022-08-20 03:44] darwin787 opened #579 "page fault"
[code]

[2022-08-21 23:33] hclee commented on #579
what version of ksmbd and tools do you use?

[2022-08-22 01:33] darwin787 commented on #579
[code]
This issue occurs  on a big endian system.
The same setup has not encounter this issue on a little endian system yet.
I don't know if it is relevant to system endian.

[2022-08-25 15:54] consp commented on #543
The latest github pull reduces suspend/resume issues, though I'm still getting the error of not being able to collect the IPC$ share after a while (and at least one suspend/resume cycle on windows).

Transfers work fine for about 8 hours now, haven't tested it longer and speed is what I expect it to be. There is some performance degradation (very minor) but that is most likely an issue for later.

[2022-08-25 16:01] consp commented on #560
Fixed is correct, I do not get any issues anymore. @namjaejeon tnx for the fix!

[2022-08-25 16:08] consp commented on #574
I never got it working with the Mellanox drivers. You miss about 10 function references which are not (correctly) ported from mainline to the Mellanox drivers and until Mellanox/Nvidia fixes this/adds the missing functions it is almost impossible to get working. I also tried making function aliases to avoid these issues but every fix gave me two more errors and I gave up and used the inbox kernel

[2022-08-25 16:17] consp commented on #566
Why try to build with kernel sources? What is the point? Have you tried building ksmbd form github outside of the kernel source?

* Install kernel headers and common headers and required build tools
* Clone github to somewhere
* cd somewhere
* `make`
* `make install`

[2022-08-25 23:18] namjaejeon commented on #560
@consp Thanks for your checking it:) Let me know if you have any issue while using ksmbd.

[2022-08-25 23:52] namjaejeon commented on #543
ksmbd allow to get this request, this is just debug message as you see the code(ksmbd_debug("")).

Hm.. I guess that ksmbd.mountd seems to be not alive, so ksmbd.mountd doesn't get ipc response from ksmbd.mountd.
Can you check ksmbd.mountd logs using "cat /var/log/syslog" command ?

[2022-08-26 07:06] consp commented on #543
Syslog is a bit spammy, this is the ksmbd.mountd error
[code]

Which is preceeded by:
[code]

Which is kind of odd as I havn't recieved and o-o-m warnings from the server (and it has at almost all times at least 32GB free).
But it does explain the ipc error, i've updated ksmbd-tools to the latest version from github and I'll check if that fixes the issue.

[2022-08-26 07:17] namjaejeon commented on #543
Thanks for your checking!

If you face same issue, Please check this PR and ISSUE. (https://github.com/cifsd-team/ksmbd-tools/pull/277)
Your issue seems to be same with this one.

[2022-08-29 04:47] llamafilm commented on #543
@hclee in your last post you asked about this:

Does ksmbd really use such a large frame size?  Is this configurable somewhere?  Mellanox support told me this:

So even if I enable jumbo frames the Windows machine could never go above 9000.

[2022-08-29 05:15] hclee commented on #543
Sorry, It is unnecessary. I misunderstood the way rping works, and was confused with ib-write-bw

[2022-08-29 13:16] namjaejeon commented on #543
@hclee So, He should test RDMA with 32KB chunk size using ib-write-bw ?

[2022-08-31 01:11] hclee commented on #543
Yes, To check RDMA r/w is working. But I don't know there is ib-write-bw utility in Windows.

[2022-09-02 06:55] XeCycle opened #580 "PFIF website is spam now"
I think we should stop linking to that, similar to what [samba did](https://github.com/samba-team/samba/commit/c433e17724996a0d2aae5a451627b8029ff0c187) back in 2020.

[2022-09-04 07:55] namjaejeon commented on #580
@XeCycle Thanks for your report! Remove it in README.

[2022-09-04 07:58] namjaejeon commented on #579
Are you able to reproduce this problem?

[2022-09-05 05:28] #580 closed

[2022-09-06 00:47] darwin787 commented on #579
Yes, it still exist on big endian system with ksmbd-tools 3.4.5.
[code]

[2022-09-06 01:00] hclee commented on #579
@darwin787
what is the latest version that worked well in big endian system?

[2022-09-06 01:33] darwin787 commented on #579
@hclee
3.4.5 is the first version I've ever used.
btw: why fix commit for #575 disappeared ?

[2022-09-06 02:09] hclee commented on #579
@darwin787

We are trying to include #576 fixes as well as handling the case, which underlying filesystem is corrupted into the commit.

[2022-09-06 09:21] namjaejeon commented on #579
@hclee I have gave review comments for this patch. Please send v2 patch to the list.

[2022-09-06 09:25] namjaejeon commented on #579
@hclee can you check ksmbd on big endian using QEMU ?

[2022-09-07 07:11] namjaejeon commented on #579
@hclee ping?

[2022-09-09 20:49] namjaejeon commented on #575
@namjaejeon Can you confirm your issue is fixed with this patch(https://github.com/namjaejeon/ksmbd/commit/7d4185add4690bfc2cb6ae7f86ffd4284f6df0da) ?

[2022-09-18 12:12] namjaejeon commented on #575
Applied the patch. thanks.

[2022-09-18 12:12] #575 closed

[2022-09-26 08:12] shige-fami commented on #566
This might help you; https://kamikopanda.ddns.net/2022/08/09/ksmbdsmbdirect-works/

[2022-09-26 17:02] the-j0k3r commented on #577
@namjaejeon sorry for bothering you, didn't know how to reach you regarding downstream, a minor issue with NTFS causing misbehavior https://forum.dd-wrt.com/phpBB2/viewtopic.php?p=1272277

Any patches we could pull in that would help this or any suggestions?

Thanks in advance.

[2022-10-11 11:51] #563 closed

[2022-10-11 12:18] zztmy opened #581 "Failed to copy files on the iphone!"
When a user accesses ksmbd in the iphone file app,the files fails to be copied from the shared directory to the current directory;

The attachment is the relevant information;

[copyfilefail.zip](https://github.com/cifsd-team/ksmbd/files/9754858/copyfilefail.zip)

https://user-images.githubusercontent.com/108503779/195087397-93a28f39-3eaa-4819-92b0-403fe80a3051.mp4

[2022-10-14 10:25] the-j0k3r commented on #577
pong @namjaejeon

[2022-10-21 04:30] zhanglei002 opened #582 "kernel NULL pointer dereference, address: 0000000000000030"
Kernel: Linux 6.0.0-1-MANJARO
ksmbd-tools version : 3.4.5

[code]

[2022-10-23 02:48] cwbsw opened #583 "macOS client error"
I use Arch linux with kernel 6.0.2 as server, and share a directory with read-only mode, I got these errors.
[code]
And then macOS would hang up, sorry I don't know how to debug it.

[2022-11-10 07:58] namjaejeon commented on #582
Hm... Could you please help me reproduce this issue ? Want to know what code line cause this issue in __smb2_oplock_break_noti() ? or share the method with me to reproduce it..

[2022-11-10 08:05] namjaejeon commented on #581
@zztmy iphone app is ES file explorer ?

[2022-11-10 09:24] zztmy commented on #581
No, iphone's file manager！

[2022-11-10 09:39] sergey-senozhatsky commented on #582
My guess that it's a NULL rsp deref in `rsp->StructureSize`

[code]

[2022-11-10 09:40] sergey-senozhatsky commented on #582
Maybe it's getting zeroed here?

[code]

[2022-11-10 09:42] sergey-senozhatsky commented on #582
@zhanglei002 if you compile your own kernel then usually feeding a backtrace to `./scripts/decode_stacktrace.sh` should provide a very detailed info on what exactly went wrong.

https://lwn.net/Articles/592724/

[2022-11-10 12:27] namjaejeon commented on #582
@sergey-senozhatsky Thanks for your help. However, rsp could not be NULL... stranged..

[2022-11-10 12:49] namjaejeon commented on #583
@mmakassikis I don't have Mac device. Do you have it and can reproduce this issue ?

[2022-11-11 03:38] cwbsw commented on #583
Yes, I can reproduce it on my M1 Mac mini. iOS/iPadOS's File app no issue, no error log. It only happens on macOS(I only test the latest version 13.0.1), mount the share, do some exploration and read operation, then click unmount button in Finder, the system would be dead, I must long press power button to reboot.

[2022-11-11 13:11] zhanglei002 commented on #582
Sorry, I didn't compile the kernel myself.
here is the disassembly of the code, hope it helps.

[code]

[2022-11-13 04:07] sergey-senozhatsky commented on #582
Oh, ok.

[code]

is `rsp_hdr->ProtocolId = SMB2_PROTO_NUMBER;`. So that 0x30 offset is ->header_size in `cpu_to_be32(conn->vals->header_size);`, in other words we had NULL `conn->vals`.

[2022-11-13 07:17] namjaejeon commented on #582
@sergey-senozhatsky Thank you so much for pointing me out to the exact code line of the problem.

@zhanglei002 Okay, I checked, but there is no code that sets conn->vals to NULL. And even freeing conn is protected by r_count until requests completes.
Could you please reproduce this again ? if yes, Let me know this way to find root-cause..

[2022-11-13 07:46] namjaejeon commented on #581
@zztmy same behavior with samba ? When I checked it with samba, not ksmbd, same error happen.